<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

  <script th:src="@{/js/announceModify.js}"></script>

  <link rel="stylesheet" th:href="@{/css/announceModify.css}">
  <!--<link rel="stylesheet" th:href="@{/css/layout-usermypage-side.css}">-->

<th:block th:replace="~{./include/layout :: setContent(~{:: .announceModify})}">

  <div class="announceModify"> <!-- container -->
    
    <div class="announceModify-wrap"> <!-- innerBox -->
       <!--<div> sidebar
         <th:block th:replace="~{./include/layout-usermypage-side}"></th:block>
      </div>-->

      <!-- 본문 -->
      <div class="announceInner">

        <div class="announceTitle"> <!-- 게시판 타이틀 -->
          <p>공고 수정</p>
        </div>

        <form action="announceModifyForm" name="modifyForm" method="post" enctype="multipart/form-data"> <!-- modifyForm or th:action="@{/updateAnnounce}"-->
			<input type="hidden" name="announce_proper_num" th:value="${vo.announce_proper_num}"> <!-- 실제 값을 여기에 넣어야 합니다 -->
			
          <div class="modifyBox">

            <table>
              <tbody class="board">
                <tr id="topborder">
                  <th id="topborder"><i class="required-img"><span class="hidden">필수입력</span></i> 제목</th>
                  <td id="topborder"><input type="text" class="announceTit" name="announce_title" th:value="${vo.announce_title}"></td>
                </tr>
                
                <tr>
                  <th id="border"><i class="required-img"><span class="hidden">필수입력</span></i> 모집 시작일</th>
                  <td id="border">
                      <input type="date" class="datepicker1" name="announce_start_date"  placeholder="날짜선택" pattern="\d{4}-\d{2}-\d{2}" th:value="${vo.announce_start_date}">
                  </td>
                </tr>

                <tr>
                  <th id="border"><i class="required-img"><span class="hidden">필수입력</span></i> 모집 종료일</th>
                  <td id="border">
                      <input type="date" class="datepicker2" name="announce_end_date"  placeholder="날짜선택" pattern="\d{4}-\d{2}-\d{2}" th:value="${vo.announce_end_date}" >
                  </td>
                </tr>

                 <tr>
                  <th class="announceFile">첨부파일</th>
                  <td>
					  <div class="file" id="fileList">
						  <a href="#this" onclick="addFile()" class="add" >파일추가</a>
						  
						  <div class="file">
							  <input type="file" name="announce_file" class="file"> <!-- class="announceFile" id="file"-->
							  <a href="#this" name="file-delete" class="delete">삭제</a>
						  </div>	
					  </div>
                  </td><!--announceFile-->                               
                </tr>     
                    
				<tr class="fileInfo" id="border">
                  <th class="limit"></th>              
                  <td class="fl">
					  <p>첨부 파일 용량 제한 : 20MB</p>
					  <p>첨부 가능한 파일 확장자명 : pdf</p> <!--hwp, doc, docx, ppt, pptx, xls, xlsx, txt, csv, jpg, jpeg, gif, png, bmp, -->
					  <p>첨부 용량 초과시 작성내용이 초기화될 수 있으니 주의바랍니다.</p>
				  </td>
                </tr>            
              
                <tr class="announceContent" id="border">    
                  <th class="con"><i class="required-img"><span class="hidden">필수입력</span></i> 내용</th>          
                  <td>
                    <div>
                      <textarea name="announce_content" id="contentDetail" cols="30" rows="10" th:value="${vo.announce_content}">[[${vo.announce_content}]]</textarea>
                    </div>              
                  </td>
                </tr>

              </tbody>
            </table>
                  
            <div class="btnBox">      
                <input type="submit" class="modifyBtn btn" id="modifyBtn" value="수정">
                 <button class="listBtn btn" id="listBtn">
		            <a th:href="@{/announce/announceList}">취소</a>
		        </button>       
               <!-- <input type="button" class="listBtn btn" value="취소">     -->     
            </div>
          </div>        
          
        
        </form>
       <!-- <div th:if="${param.msg}" class="msg">
		    <p th:text="${param.msg}"></p>
		</div>-->
	 </div>

    </div>

  </div>

</th:block>

<script th:inline="javascript"> //event.preventDefault(); 

  let modifyBtn = document.getElementById("modifyBtn");  
  modifyBtn.onclick = () => {
	  
    if(modifyForm.announce_title.value == ""){
      alert("제목을 입력하세요.");
      modifyForm.announce_title.focus();    
      return false;      
	} else if(modifyForm.announce_start_date.value == "") {
      alert("모집 시작일을 선택하세요.");
      modifyForm.announce_start_date.focus();      
      return false;
    } else if(modifyForm.announce_end_date.value == "") {
      alert("모집 종료일을 선택하세요.");
      modifyForm.announce_end_date.focus();      
      return false;
    } else if(modifyForm.announce_content.value == "") {
      alert("내용을 입력하세요.");
      modifyForm.announce_content.focus();      
      return false;
    } else {
      alert("정상적으로 등록되었습니다.");     
      return true;
    }
  }    
  
</script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<!-- jQuery UI (Datepicker가 포함된 전체 jQuery UI 라이브러리) -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script th:inline="javascript"> 
    //작성취소 - 목록으로 돌아가기
	let listBtn = document.getElementById("listBtn");
	listBtn.onclick = () => {
		event.preventDefault();
		window.location.href = "/announce/announceList";
	}
        
</script>
<script th:inline="javascript"> 
	
	var contentDetail = document.getElementById("contentDetail");
	contentDetail.innerHTML = contentDetail.innerHTML.replace(/\n/g, "<br>");

	//파일 첨부 및 삭제
	$(document).ready(function() {
		$("a[name='file-delete']").on("click", function(e) {
			e.preventDefault();
			deleteFile($(this));
		})
	});
		  
	function addFile(){ // id='fileList'
		
		 var str = "<div class='file' id='fileList'>";
		    str += "<div class='file' style='margin-right: 5px;'>";
		    str += "<input type='file' name='announce_file' class='file'>";
		    str += "<a href='#this' name='file-delete' class='delete'>삭제</a>";
		    str += "</div></div>";
		
		$("#fileList").append(str);
		$("a[name='file-delete']").on("click", function(e) {
			e.preventDefault();
			deleteFile($(this));
		});
	}
	
	function deleteFile(obj) {
		obj.parent().remove();		
	}
</script>

</html>