<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" th:href="@{/css/announceDetail.css}">
  <!--<link rel="stylesheet" th:href="@{/css/layout-usermypage-side.css}">-->

<th:block th:replace="~{./include/layout :: setContent(~{:: .announceDetail})}">


  <!-- 상단 혹은 좌측 메뉴바 -->  
  <div class="announceDetail"> <!-- innerWrap -->

   <div class="announceDetail-wrap">
      
   <!--   <div> sidebar
         <th:block th:replace="~{./include/layout-usermypage-side}"></th:block>
      </div>
-->
      <!-- 본문 -->
      <div class="announceInner">

       <div class="announceTitle"> <!-- 게시판 타이틀 -->
         <p>모집 공고</p>
       </div>

    <!-- innerBox -->

      <div class="announceBox">

        <table class="annouonceTable">
          <tbody class="board">
            <tr> <!-- class="boardTitle" -->
              <th class="title">제목</th>
              <td colspan="2" class="tdtitle">[[${vo.announce_title}]]</td>
            </tr>

  			<tr>
              <th class="startDate">모집 시작일</th>
              <td colspan="2">
				  <span th:text="${vo.announce_start_date}">[[${vo.announce_start_date}]]</span>
              </td>              
            </tr>
            
            <tr>
              <th class="modifyDate">모집 종료일</th>
              <td colspan="2"><span th:text="${vo.announce_end_date}">[[${vo.announce_end_date}]]</span></td>              
            </tr>
            <tr>
              <th class="startDate">최초 공고 등록</th>
              <td colspan="2"><span th:text="${vo.announce_first_date}" id="formattedAnnounceFirstDate">[[${vo.announce_first_date}]]</span></td>              
            </tr>
            
            <tr>
              <th class="modifyDate">최종 수정 일시</th>
              <td colspan="2"><span th:text="${vo.announce_last_date}">[[${vo.announce_last_date}]]</span></td>
                            
            </tr>

            <tr>
              <th class="viewCount">조회수</th>
              <td colspan="2">0</td>
            </tr> 

            <tr>
              <th class="file">첨부파일</th>
              <td>채용공고.hwp</td>
            </tr>

            <tr class="announceContent">
              <th class="file">내용</th>
              <td class="innerContent">
				  
				  [[${vo.announce_content}]]
				  
                <!--<p>
                 서울가정법원 공무직 근로자(시설관리원)
                </p>
                <p>
                  채용시험 시행계획 공고
                </p>
               
                <p>
					기간제 및 공무직 근로자 관리규정 제9조 및 제10조의 규정에 의하여 공무직 근로자(시설관리원) 채용시험 시행계획을 아래와 같이 공고합니다.					
				</p>
				<span>
					2023.  8.  22.
					서  울  가  정  법  원  장
				</span>-->
              </td>
            </tr>        
          </tbody>

        </table>
       
        <table class="nextTable">
          <tbody>
            <tr>
              <td class="nextContent">다음글</td>
              <td colspan="3">
                <a class="nextTitle" href="#">
                서울가정법원 공무직 근로자(환경관리원) 채용시험 공고
                </a>
              </td>
            </tr>
          </tbody>
        </table> 

        <div>
          <button class="listBtn btn">
            <a href="/announce/announceList">목록</a>
          </button>
          <button class="delBtn btn">
            <a href="#">삭제</a>
          </button>
          <button class="modifyBtn btn">
            <a th:href="@{/announce/announceModify(announce_proper_num=${vo.announce_proper_num})}">수정</a>
          </button>
        </div>
      </div>
   
     </div>
   </div> <!--announceDetail-wrap end-->
  </div> <!--announceDetail end -->

</th:block>

<script th:inline="javascript">
	
        var rawAnnounceFirstDate = "${vo.announce_first_date}";
        var formattedAnnounceFirstDate = rawAnnounceFirstDate.replace("T", " "); 

        var options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' };
        var announceDate = new Date(formattedAnnounceFirstDate);
        var formattedDate = announceDate.toLocaleDateString('ko-KR', options);

        document.getElementById("#formattedAnnounceFirstDate").innerText = formattedDate;          
                
</script>
   
<script th:inline="javascript"> 
	
	// 삭제 기능
	let deleteBtn = document.getElementById("deleteBtn");
	deleteBtn.onclick = () => {
		//이벤트가 a에 걸려있다 -> 기본 이벤트를 막아야 한다
		event.preventDefault();
		
		document.actionForm.action = "deleteForm"; //action변경 
		document.actionForm.submit();
	}
</script>

</html>