<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" th:href="@{/css/announceModify.css}">
  <!--<link rel="stylesheet" th:href="@{/css/layout-usermypage-side.css}">-->

<th:block th:replace="~{./include/layout :: setContent(~{:: .announceModify})}">

  <div class="announceModify"> <!-- container -->
    
    <div class="announceModify-wrap"> <!-- innerBox -->
       <!--<div> sidebar
         <th:block th:replace="~{./include/layout-usermypage-side}"></th:block>
      </div>-->

      <!-- 본문 -->
      <div class="announceInner">

        <div class="announceTitle"> <!-- 게시판 타이틀 -->
          <p>공고 수정</p>
        </div>

        <form action="/modifyForm" name="modifyForm" method="post"> <!-- modifyForm or th:action="@{/updateAnnounce}"-->

          <div class="modifyBox">

            <table>
              <tbody class="board">
                <tr >
                  <th><i class="required-img"><span class="hidden">필수입력</span></i> 제목</th>
                  <td><input type="text" class="announceTit" name="announceTitle" th:value="${vo.announce_title}"></td>
                </tr>
                
                <tr>
                  <th>모집 시작일</th>
                  <td>
                      <input type="date" class="datepicker1" name="announceStartDate"  placeholder="날짜선택" pattern="\d{4}-\d{2}-\d{2}" >
                  </td>
                </tr>

                <tr>
                  <th>모집 종료일</th>
                  <td>
                      <input type="date" class="datepicker2" name="announceEndDate"  placeholder="날짜선택" pattern="\d{4}-\d{2}-\d{2}" >
                  </td>
                </tr>

                <tr>
                  <th class="file">첨부파일</th>
                  <td><input type="file" class="announceFile" name="announceFileName" ></td>                               
                </tr>

              <!--  <tr class="fileBtnBox">
                  <th></th>
                  <td>
                    <button type="button" class="fileBtn">파일찾기</button>
                    <button type="button" class="add">+</button>
                    <button type="button" class="delete">-</button>
                  </td>      
                </tr>-->
                

                 <tr class="fileInfo">
                  <th class="limit"></th>              
                  <td class="fl">첨부 파일 용량 제한 : 20MB</td>
                </tr>

                <tr class="fileInfo">
                  <th class="limit"></th>              
                  <td>첨부 용량 초과시 작성내용이 초기화될 수 있으니 주의바랍니다.</td>              
                </tr>

                <tr class="fileInfo">
                  <th class="con"></th>              
                  <td>첨부 가능한 파일 확장자명 : hwp, doc, docx, ppt, pptx, xls, xlsx, txt, csv, jpg, jpeg, gif, png, bmp, pdf</td>               
                </tr>
              
                <tr class="announceContent">    
                  <th class="con"><i class="required-img"><span class="hidden">필수입력</span></i> 내용</th>          
                  <td>
                    <div>
                      <textarea name="announceContent" id="contentDetail" cols="30" rows="10" ></textarea>
                    </div>
                    <!-- cols="30" rows="10" -->              
                    <!-- 서울가정법원 공무직 근로자(시설관리원)
                    채용시험 시행계획 공고 -->
                  </td>
                </tr>

              </tbody>
            </table>
                  
            <div class="btnBox">      
                <input type="submit" class="registBtn btn" value="수정">
                 <button class="listBtn btn">
		            <a href="announceList">취소</a>
		        </button>       
               <!-- <input type="button" class="listBtn btn" value="취소">     -->     
            </div>
          </div>        
          
        
        </form>
       <!-- <div th:if="${param.msg}" class="msg">
		    <p th:text="${param.msg}"></p>
		</div>-->
	 </div>

    </div>

  </div>

</th:block>

<script th:inline="javascript">

  function check() {
    if(announceForm.announceTitle.value == ""){
      alert("제목을 입력하세요.");
      announceForm.announceTitle.focus();
      return false;      
    } else if(announceForm.announceContent.value == "") {
      alert("내용을 입력하세요.");
      announceForm.announceContent.focus();
      return false;
    } else {
      alert("정상적으로 수정되었습니다.");
      return true;
    }
  } 
</script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<!-- jQuery UI (Datepicker가 포함된 전체 jQuery UI 라이브러리) -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script th:inline="javascript"> 
     // 화면에 표시할 날짜 형식으로 변환
        var formattedAnnounceStartDate = "${formattedAnnounceStartDate}";
        var dateParts = formattedAnnounceStartDate.split("-");
        var formattedStartDate = dateParts[0] + "-" + dateParts[1] + "-" + dateParts[2];
        document.querySelector(".datepicker1").value = formattedStartDate;
 
</script>
<script th:inline="javascript"> 
	
	// 수정 기능
	let modifyBtn = document.getElementById("modifyBtn");
	modifyBtn.onclick = () => {
		//이벤트가 a에 걸려있다 -> 기본 이벤트를 막아야 한다
		event.preventDefault();
		
		document.actionForm.action = "modifyForm"; //action변경 
		document.actionForm.submit();
	}
	
	// 삭제 기능
	let deleteBtn = document.getElementById("deleteBtn");
	deleteBtn.onclick = () => {
		//이벤트가 a에 걸려있다 -> 기본 이벤트를 막아야 한다
		event.preventDefault();
		
		document.actionForm.action = "deleteForm"; //action변경 
		document.actionForm.submit();
	}
</script>

</html>