<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/announceDetail.css}">
<!--<link rel="stylesheet" th:href="@{/css/layout-announceList-side.css}">-->

<th:block th:replace="~{./include/layout :: setContent(~{:: .announceDetail})}">


	<!-- 상단 혹은 좌측 메뉴바 -->
	<div class="announceDetail"> <!-- innerWrap -->

		<div class="announceDetail-wrap">

			<div> <!--sidebar-->
				<th:block th:replace="~{./include/layout-announceList-side}"></th:block>
			</div>

			<!-- 본문 -->
			<div class="announceInner">

				<div class="announceTitle"> <!-- 게시판 타이틀 -->
					<p>모집 공고</p>
					
					<ul class="btnWrap">
						<li>
							<a href="#" class="btn_plus" onclick="zoomIn();">
								<img src="/img/btn_font_plus.png" style="padding-bottom: 1px;" alt="확대">
							</a>
						</li>
						<li>
							<a href="#" class="btn_reset" onclick="zoomReset();">
								<img src="/img/btn_font_natural.png" style="padding-bottom: 2px;" alt="기본">
							</a>
						</li>
						<li>
							<a href="#" class="btn_mius"  onclick="zoomOut();">
								<img src="/img/btn_font_min.png" style="padding-bottom: 6px;" alt="축소">
							</a>
						</li>					
					</ul>
				</div>
				
				<!-- innerBox -->
				<div class="menuBtnBox">
					
					<div class="snsBtn" id="snsBtn"> <!--공유아이콘-->
						<a href="javascript:void(0);" onclick="">
							<img src="/img/snsIcon.png" alt="공유">
						</a>
					</div>
					<div class="snsBox" id="snsBox"> <!--공유아이콘 박스-->
						<div class="snsBoxInner">
							<span >공유하기</span>
							<a href="javascript:shareFacebook();" title="facebook(새창열림)" class="icon">
								<img src="/img/btn_facebook.png" alt="facebook 공유하기">
							</a>
							<a href="javascript:shareTwitter();" title="twitter(새창열림)" class="icon">
								<img src="/img/btn_twitter.png" alt="twitter 공유하기">
							</a>						
						</div>
					</div>
					
					<div class="printBtn"> <!--프린트 아이콘-->
						<a href="javascript:void(0);" onclick="printPageArea('printableArea')">
							<img src="/img/printIcon.png" alt="인쇄">
						</a>
					</div>
				</div>

				<div class="announceBox" id="printableArea">

					<form name="actionForm" action="actionForm" method="post">
						<input type="hidden" name="announce_proper_num" th:value="${vo.announce_proper_num}">

						<table class="announceTable">
							<tbody class="board">
								<tr id="boardTitle"> <!-- class="boardTitle" -->
									<th class="title">제목</th>
									<td class="tdtitle">[[${vo.announce_title}]]</td>
								</tr>
								
								<tr> <!-- class="boardTitle" -->
									<th class="trialNumth">조력자 분류</th>
									<td class="trialNum" name="trial_fcltt_description" id="trialFclttName" >[[${name}]]</td> <!-- th:text="${tb_010VO.trial_fcltt_description}"--> 
									<th class="recruitNumth">모집인원</th>
									<td class="recruitNum">[[${vo.announce_recruit_num}]] 명</td>
								</tr>

								<tr>
									<th class="startDate">모집 시작일</th>
									<td class="tdsize">
										<span th:text="${vo.announce_start_date}">[[${vo.announce_start_date}]]</span>
									</td>

									<th class="modifyDate">모집 종료일</th>
									<td class="tdsize">
										<span id="endDate" th:text="${vo.announce_end_date}">[[${vo.announce_end_date}]]</span>
									</td>
								</tr> <!--td colspan="2"-->

								<tr>
									<th class="startDate">최초 공고 등록</th>
									<td><span th:text="${vo.announce_first_date}"
											id="formattedAnnounceFirstDate">[[${vo.announce_first_date}]]</span></td>
									<th class="modifyDate">최종 수정 일시</th>
									<td class="tdsize"><span
											th:text="${vo.announce_last_date}">[[${vo.announce_last_date}]]</span></td>
								</tr> <!--td colspan="2"-->

							</tbody>
						</table>

						<div class="announceContent">
							<!-- <th class="con">내용</th>-->
							<div class="innerContent" th:utext="${vo.announce_content}">
								<!-- th:utext="${vo.announce_content}"-->
								<pre> [[${vo.announce_content}]]</pre>
							</div>
							
						</div>

						<div class="applyBox" id="applyBtn">
							<a th:href="@{/announce/applicationAgree(announce_proper_num=${vo.announce_proper_num})}" class="applyBtn" name="applyBtn">공고 신청</a>	
						</div>
						<div th:if="${msg}" class="alert alert-info">
						    <p th:text="${msg}"></p>
						</div>					
						
						<div class="fileBox">
							<div class="file">첨부파일</div>
							<div class="left" colspan="5" th:each="vo : ${file}">
							  <a th:href="@{'https://court-supporter-project-t4.s3.ap-northeast-2.amazonaws.com/' + ${vo.key.file_path} + ${vo.key.announce_file_uuid} + '_' + ${vo.key.original_file_name}}">[[${vo.value}]]</a><br>
							</div>							
						</div>
						
							
						<div th:if="${nextPost != null}">
							<table class="nextTable">
								<tbody>
									<tr>
										<td class="nextContent">다음글</td>
										<td colspan="3">
											<a id="nextLink" class="nextTitle"
												th:href="@{/announce/announceDetail/(announce_proper_num=${nextPost.announce_proper_num})}"
												th:text="${nextPost.announce_title}"></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div th:unless="${nextPost != null}"> <!-- 다음 글 없을 때 -->
							<table class="nextInfo">
								<tbody>
									<tr>
										<td colspan="4" class="nextTxt">다음 글이 없습니다.</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div th:if="${previousPost != null}">
							<table class="prevTable">
								<tbody>
									<tr>
										<td class="prevContent">이전글</td>
										<td colspan="3">
											<a id="prevLink" class="prevTitle"
												th:href="@{/announce/announceDetail/(announce_proper_num=${previousPost.announce_proper_num})}"
												th:text="${previousPost.announce_title}"></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>


						<div th:unless="${previousPost != null}"> <!-- 이전 글 없을 때 -->
							<table class="prevInfo">
								<tbody>
									<tr>
										<td colspan="4" class="prevTxt">이전 글이 없습니다.</td>
									</tr>
								</tbody>
							</table>
						</div>

						</tbody>
						</table>
						<div>
							<!--<button class="listBtn btn" id="listBtn"></button>-->
							<a th:href="@{/announce/announceList}" class="listBtn btn" id="listBtn">목록</a>
							
							<th:block th:if="${auth == 'ROLE_ADMIN'}">
								<!--<button class="delBtn btn" id="deleteBtn" ></button>-->
								<a href="#" class="delBtn btn" id="deleteBtn" >삭제</a> 						
								
								<a th:href="@{/announce/announceModify(announce_proper_num=${vo.announce_proper_num})}" class="modifyBtn btn" id="modifyBtn">수정</a>
								
							</th:block>
							
						</div>
				</div>

			</div>
		</div> <!--announceDetail-wrap end-->
	</div> <!--announceDetail end -->

</th:block>

<script th:src="@{/js/announceDetail.js}"></script>

<!--<script th:inline="javascript">	
</script>-->

</html>