<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
-->
<link rel="stylesheet" th:href="@{/css/adminmypage-auth-manage.css}">
<th:block th:replace="~{./include/layout :: setContent(~{::.adminmypage-auth-manage})}">
	<div class="adminmypage-auth-manage">
		<div class="adminmypage-auth-manage-wrap">
			<!-- 네비게이션바 -->
			<th:block th:replace="~{./include/layout-adminmypage-side :: layout-adminmypage-side}">
			</th:block>
			<div class="auth-manage-list-wrap">
				<div class="auth-manage-list">
					<h3>권한 관리</h3>
				</div>
				<div class="auth-manage-list-title-wrap">
					<!--<h3 class="auth-manage-list-title">권한 관리</h3>-->
				</div>
				<p class="titleImg">사용자 및 관리자 권한 관리 게시판입니다.</p>
				<div class="search-wrap">
					<div class="board_total">검색글수 :
						<th:block>
							<span class="colfb7">[[${total}]]건</span>
						</th:block>
					</div>
					<form action="adminmypage_auth_manage" method="get">
						<input type="hidden" name="page" value="1">
						<input type="hidden" name="amount" th:value="${pageVO.amount}">
						<div class="board_search">
							<div class="board_search_sts">
								<span class="sts-content">권한검색</span>
								<select name="member_role">
									<option value="">선택</option>
									<option value="ROLE_JURIS"
										th:selected="${pageVO.cri.member_role == 'ROLE_JURIS'}">사법관리자</option>
									<option value="ROLE_COURT"
										th:selected="${pageVO.cri.member_role == 'ROLE_COURT'}">법원관리자</option>
									<option value="ROLE_ADMIN"
										th:selected="${pageVO.cri.member_role == 'ROLE_ADMIN'}">전체관리자</option>
								</select>
							</div>
							<div class="board_search_text">
								<input type="text" id="member_id" name="member_id" title="검색어 입력"
									placeholder="관리자 아이디 검색" th:value="${pageVO.cri.member_id}">
								<input type="submit" class="search_btn" value="검색" />
							</div>
						</div>
					</form>
				</div>
				<th:block th:if="${#lists.isEmpty(list)}">
					<table class="board_table topT" style="margin-bottom: 150px;">
						<colgroup>
							<col width="10%">
							<col width="20%">
							<col width="20%">
							<col width="40%">
							<col width="10%">
						</colgroup>
						<thead>
							<tr>
								<th>번호</th>
								<th>관리자 아이디</th>
								<th>현재권한</th>
								<th>권한선택</th>
								<th>권한설정</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td>
									<p style="text-align: center; color: gray;">검색 결과가 없습니다.</p>
								</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</th:block>
				<th:block th:unless="${#lists.isEmpty(list)}">
					<table class="board_table topT">
						<colgroup>
							<col width="10%">
							<col width="15%">
							<col width="15%">
							<col width="50%">
							<col width="10%">
						</colgroup>
						<thead>
							<tr>
								<th>번호</th>
								<th>관리자 아이디</th>
								<th>현재권한</th>
								<th>권한선택</th>
								<th>권한설정</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="vo, status : ${list}">
								<form action="adminmypage_auth_manage_form" method="post" name="authmanage" class="authmanage">
									<input type="hidden" name="member_proper_num" th:value="${vo.member_proper_num}">
									<td><span th:text="${list.size() - status.count} + 1"></span></td>
									<td>[[${vo.member_id}]]</td>
									<td>[[${vo.member_role}]]</td>
									<td>
										<label>
											<input type="radio" name="member_role" value="ROLE_JURIS" th:checked="${vo.member_role == 'ROLE_JURIS'}">
											사법관리자
										</label>
										<label>
											<input type="radio" name="member_role" value="ROLE_COURT" th:checked="${vo.member_role == 'ROLE_COURT'}">
											법원관리자
										</label>
										<label>
											<input type="radio" name="member_role" value="ROLE_ADMIN" th:checked="${vo.member_role == 'ROLE_ADMIN'}">
											전체관리자
										</label>
									</td>
									<td><button type="submit" class="btnfb7">설정하기</button></td>
								</form>							
							</tr>
						</tbody>
					</table>
					<th:block th:replace="~{./include/adminmypage-authmanagePage :: pageNation( ${pageVO} )}">
					</th:block>
				</th:block>
			</div>
		</div>
	</div>
</th:block>


</html>