<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/noticeList.css}">

<th:block th:replace="~{./include/layout :: setContent(~{::.faqListWrap})}">
	
	
	<!--contents-->
    <div class="faqListWrap" style="width:1280px; margin: 0 auto; padding-top: 150px;">
      <div id="content">

        <div id="contentsbox">
          <div id="contentstitle">
            <span class="FAQtitle">자주묻는질문(FAQ)</span>
            <span style="float: right; vertical-align: text-bottom; padding-top: 5px;">홈 > 공지사항 > 자주묻는질문</span>
          </div>
          <div id="contents">

            <!--searchform-->
            <form id="searchform" name="searchForm" action="" method="post">
              <input type="hidden" id="faqSer" name="faqSer">
              <input type="hidden" id="pageIndex" name="pageIndexr">
              <input type="hidden" id="eSer" name="srchbub">

              <div class="searchTxt">
                <input type="text" class="search">
                <!-- 검색 버튼 -->
                <button class="searchBtn">검색</button>
              </div>


              <!--table-->
              <div class="tablebox">
                <table>
                  <colgroup>
                    <col width="auto">
                  </colgroup>

                  <thead>
                    <tr style="background-color: rgb(226, 226, 226);">
                      <th scope="col" style="font-weight: bold;">제목</th>
                    </tr>
                  </thead>

                  <tbody>

                    <tr>
                      <td class="left" style="text-align: center;"><a href="">이건 제목이에요</a></td>
                    </tr>
                    <tr>
                      <td class="left" style="text-align: center;"><a href="">이건 제목이에요</a></td>
                    </tr>
                    <tr>
                      <td class="left" style="text-align: center;"><a href="">이건 제목이에요</a></td>
                    </tr>
                    <tr>
                      <td class="left" style="text-align: center;"><a href="">이건 제목이에요</a></td>
                    </tr>

                  </tbody>
                </table>
              </div>

              <!--pagination-->
              <!--현재 페이지 부분을 strong으로 강조, 링크 없음-->
              <div id="paging">
                <a href="" onclick=""><strong>1</strong></a>
                <a href="" onclick="">2</a>
                <a href="" onclick="">3</a>
                <a href="" onclick="">4</a>
                <a href="" onclick="">5</a>
              </div>
              <!--pagination end-->
              <div class="btnbox btnbox02">
                <a href="#none" class="btnfb7" onclick="javascript:goRegist();">글 작성</a>
                <a href="#none" class="btn4d5" onclick="javascript:window.close();">삭제</a>
              </div>
            </form>

            <!--searchform end-->
          </div>
        </div>

      </div>

    </div>
	
	
</th:block>

</html>