<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/noticeDetail.css}">
<link rel="stylesheet" th:href="@{/css/layout-announceList-side.css}">

<th:block th:replace="~{./include/layout :: setContent(~{::.noticeModifyWrap})}">


	<!--contents-->
	<div class="noticeModifyWrap mainWrap">

		<div class="contentsbox" id="content">
			<div> <!--sidebar-->
				<th:block th:replace="~{./include/layout-announceList-side}"></th:block>
			</div>
			<div id="contentsIn">
				<div id="contentstitle">
					<span class="noticetitle">공지사항</span>
					<span style="float: right; vertical-align: text-bottom; padding-top: 5px;">홈 > 공지사항 > 공지사항</span>
				</div>
				<div id="contents">
					<form id="noticeModifyForm" action="#" method="post">
						<input type="hidden" id="pageIndex" name="pageIndex">
						<input type="hidden" id="noticeSer" name="noticeSer">
						<input type="hidden" id="srchbub" name="srchbub">
						<div class="tablebox">
							<table>
								<colgroup>
									<col style="width: 20%;">
									<col style="width: 20%;">
									<col style="width: 20%;">
									<col style="width: 20%;">
								</colgroup>
								<tbody>

									<tr class="firstTh">
										<th class scope="row">제목</th>
										<td class="left" colspan="5">
											<input type="text" style="width: 100%;" th:value="${vo.notice_title}">
										</td>
									</tr>

									<tr class="firstTh">
										<th scope="row">등록일</th>
										<td scope="left">[[${vo.notice_date}]]</td>
										<!--<th scope="row">조회수</th>
										<td scope="left">2023</th>-->
										<th scope="row">번호</th>
										<td scope="left">[[${vo.notice_proper_num}]]</th>
									</tr>

									<!-- 파일 첨부 -->
									<tr class="firstTh">
										<th class scope="row">첨부파일</th>
										<td class="left" colspan="5" style="text-align: left;">
											<input type="file" name="file" id="files" multiple>
											<!-- 파일 이름을 나타낼 영역 -->
											<div id="fileNames"></div>

											<!-- JavaScript -->
											<script>
												// 파일 입력 필드
												const fileInput = document.getElementById('files');

												// 파일 이름을 나타낼 영역
												const fileNamesDisplay = document.getElementById('fileNames');

												// 파일 입력 필드의 변경 이벤트 리스너 추가
												fileInput.addEventListener('change', () => {
													// 선택된 파일 목록 가져오기
													const selectedFiles = fileInput.files;

													// 파일 이름을 나타내는 문자열 초기화
													let fileNames = '';

													// 선택된 각 파일의 이름을 문자열에 추가
													for (let i = 0; i < selectedFiles.length; i++) {
														fileNames += selectedFiles[i].name + '<br>';
													}

													// 파일 이름을 나타낼 영역 업데이트
													fileNamesDisplay.innerHTML = fileNames;
												});
											</script>
										</td>
									</tr>

									<tr>
										<td colspan="4" class="contents left" style="text-align: left;">
											<p class="textArea">
												<textarea name="noticeModify" id="noticeModify" cols="30" rows="10"
													style="width: 99%; height: 200px;">[[${vo.notice_content}]]</textarea>
											</p>
										</td>
									</tr>

								</tbody>
							</table>


						</div>

						<div class="btnbox btnbox02">
							<a href="#none" class="btnfb7" onclick="javascript:goRegist();">저장</a>
							<a href="#none" class="btn4d5" onclick="javascript:window.close();">취소</a>

						</div>


					</form>
				</div>
			</div>
		</div>

	</div>

	</div>


</th:block>

</html>