<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/noticeDetail.css}">
<link rel="stylesheet" th:href="@{/css/layout-announceList-side.css}">

<th:block th:replace="~{./include/layout :: setContent(~{::.noticeRegistWrap})}">


	<!--contents-->
	<div class="noticeRegistWrap  mainWrap">

		<div class="contentsbox" id="content">
			<div> <!--sidebar-->
				<th:block th:replace="~{./include/layout-announceList-side}"></th:block>
			</div>
			<div id="contentsIn">
				<div id="contentstitle">
					<span class="noticetitle">공지사항</span>
					<span style="float: right; vertical-align: text-bottom; padding-top: 5px;">홈 > 공지사항 > 공지사항</span>
				</div>
				<div id="contents">
					<form id="noticeRegistForm" action="noticeRegistForm" method="post" enctype="multipart/form-data">
						<input type="hidden" id="pageIndex" name="pageIndex">
						<input type="hidden" id="noticeSer" name="noticeSer">
						<input type="hidden" id="srchbub" name="admin_proper_num" value="1">
						<div class="tablebox">
							<table>
								<colgroup>
									<col style="width: 20%;">
									<col style="width: 80%;">
								</colgroup>
								<tbody>

									<tr class="firstTh">
										<th scope="row">제목</th>
										<td class="left" colspan="5"><input type="text" style="width: 100%;" name="notice_title" required></td>
									</tr>

									<tr class="firstTh">
										<th scope="row">등록일</th>
										<td scope="left">등록되는 시간을 기준으로 합니다</td>
									</tr>

									<!-- 파일 첨부 -->
									<tr class="firstTh">
										<th class scope="row">첨부파일</th>
										<td class="left" colspan="5" style="text-align: left;">
											<input type="file" name="file" id="files" multiple>
											<!-- 파일 이름을 나타낼 영역 -->
											<div id="fileNames"></div>

											<!-- JavaScript -->
											<script>
												// 파일 입력 필드
												const fileInput = document.getElementById('files');

												// 파일 이름을 나타낼 영역
												const fileNamesDisplay = document.getElementById('fileNames');

												// 파일 입력 필드의 변경 이벤트 리스너 추가
												fileInput.addEventListener('change', () => {
													// 선택된 파일 목록 가져오기
													const selectedFiles = fileInput.files;

													// 파일 이름을 나타내는 문자열 초기화
													let fileNames = '';

													// 선택된 각 파일의 이름을 문자열에 추가
													for (let i = 0; i < selectedFiles.length; i++) {
														fileNames += selectedFiles[i].name + '<br>';
													}

													// 파일 이름을 나타낼 영역 업데이트
													fileNamesDisplay.innerHTML = fileNames;
												});
											</script>
										</td>
									</tr>

									<tr>
										<td colspan="4" class="contents left" style="text-align: left;">
											<p class="textArea">
												<textarea name="notice_content" id="noticeRegist" cols="30" rows="10"
													style="width: 99%; height: 200px;"></textarea>
											</p>
										</td>
									</tr>

								</tbody>
							</table>


						</div>

						<div class="btnbox btnbox02">
							<input type="submit" class="btnfb7" value="등록">
							<a href="noticeList" class="btn4d5" onclick="">취소</a>

						</div>


					</form>
				</div>
			</div>
		</div>

	</div>

	</div>


</th:block>
<script>
    document.querySelector('form').addEventListener('submit', function (e) {
        e.preventDefault();
        
        // TextArea에서 텍스트를 가져옵니다.
        const textarea = document.getElementById('noticeRegist');
        const text = textarea.value;
        
        // 줄 바꿈 문자를 br 태그로 변환합니다.
        const textWithHtmlLineBreaks = text.replace(/\n/g, '<br>');
        
        // 변환된 텍스트를 hidden input에 저장하거나 서버로 직접 전송할 수 있습니다.
        // 이 예제에서는 hidden input에 저장합니다.
        const hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = 'notice_content';
        hiddenInput.value = textWithHtmlLineBreaks;
        
        // Form에 hidden input을 추가합니다.
        this.appendChild(hiddenInput);
        
        // Form을 서버로 제출합니다.
        this.submit();
    });
</script>


</html>