<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->
<link rel="stylesheet" th:href="@{/css/page.css}">
<th:block th:fragment="pageNation(pageVO)">
	<div class="page" id="page">
		<ul>
			<li>
				<a th:href="@{announceList(page=1, 
										  amount=${pageVO.amount},
										  announce_title=${pageVO.cri.announce_title},
										  announce_content=${pageVO.cri.announce_content},
										  announce_start_date=${pageVO.cri.announce_start_date},
										  announce_end_date=${pageVO.cri.announce_end_date}
										  )}">
					<i class="fa fa-angle-double-left" aria-hidden="true"></i>
				</a>
			</li>
			
			<th:block th:if="${pageVO.prev}">
				<li style="margin-right:5px;">
					<a th:href="@{announceList(page=${pageVO.start - 1}, 
											  announce_title=${pageVO.cri.announce_title},
											  announce_content=${pageVO.cri.announce_content},
											  announce_start_date=${pageVO.cri.announce_start_date},
										 	  announce_end_date=${pageVO.cri.announce_end_date}
											  )}">
			  			<i class="fa fa-angle-left" aria-hidden="true"></i>
			  		</a>
			  	</li>
			</th:block>
			
			
			<th:block th:each="page : ${pageVO.pageList}">
				<li th:class="${page == pageVO.page ? 'on' : ''}">
					<a th:href="@{announceList(page=${page}, 
											  amount=${pageVO.amount},
											  announce_title=${pageVO.cri.announce_title},
											  announce_content=${pageVO.cri.announce_content},
											  announce_start_date=${pageVO.cri.announce_start_date},
										 	  announce_end_date=${pageVO.cri.announce_end_date}
											  )}">[[${page}]]</a>
				</li>
			</th:block>
			
			
			<th:block th:if="${pageVO.next}">
				<li style="margin-left:5px;">
					<a th:href="@{announceList(page=${pageVO.end + 1}, 
											  amount=${pageVO.amount}, 
											  announce_title=${pageVO.cri.announce_title},
											  announce_content=${pageVO.cri.announce_content},
											  announce_start_date=${pageVO.cri.announce_start_date},
										 	  announce_end_date=${pageVO.cri.announce_end_date}
											  )}">
			  			<i class="fa fa-angle-right" aria-hidden="true"></i>
			  		</a>
				</li>
			</th:block>
			
			<li>
				<a th:href="@{announceList(page=${pageVO.realEnd}, 
										  amount=${pageVO.amount},
										  announce_title=${pageVO.cri.announce_title},
										  announce_content=${pageVO.cri.announce_content},
										  announce_start_date=${pageVO.cri.announce_start_date},
										  announce_end_date=${pageVO.cri.announce_end_date}
										 )}">
					<i class="fa fa-angle-double-right" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>		
</th:block>