<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->
<th:block th:fragment="pageNation(pageVO)">
	<div id="page">
		<ul>
			<li><a th:href="@{/faq/faqList(page=1, 
							  amount=${pageVO.amount},
							  searchFaq=${pageVO.cri.searchFaq}
							  )}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>


			<th:block th:if="${pageVO.prev}">
				<li style="margin-right:5px;">
					<a th:href="@{/faq/faqList(page=${pageVO.start - 1},
								  amount=${pageVO.amount},
								  searchFaq=${pageVO.cri.searchFaq}
								  )}"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
				</li>
			</th:block>


			<th:block th:each="page : ${pageVO.pageList}">
				<li th:class="${page == pageVO.page ? 'on' : ''}">
					<a th:href="@{/faq/faqList(page=${page}, 
								  amount=${pageVO.amount},
								  searchFaq=${pageVO.cri.searchFaq}
								  )}">[[${page}]]</a>
				</li>
			</th:block>


			<th:block th:if="${pageVO.next}">
				<li style="margin-left:5px;">
					<a th:href="@{/faq/faqList(page=${pageVO.end + 1},
								  amount=${pageVO.amount},
								  searchFaq=${pageVO.cri.searchFaq}
								  )}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
				</li>
			</th:block>

			<li><a th:href="@{/faq/faqList(page=${pageVO.realEnd},
							  amount=${pageVO.amount},
							  searchFaq=${pageVO.cri.searchFaq}
							  )}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
		</ul>
	</div>

</th:block>