<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="layout-usermypage-side">
   <link rel="stylesheet" th:href="@{/css/layout-announceList-side.css}">

   <div class="notice-sidemenu-wrap">
      <p class="mainTitle">재판조력자 안내</p>
      <div class="notice-sidemenu">
         <div class="usermypage-myinfo">
            <ul class="notice-content">
			   <a th:href="@{/guide/guideInfo}"><li>재판조력자 제도 안내</li></a>
			   <a th:href="@{/guide/guideProcedure}"><li>재판조력자의 신청 절차 안내</li></a>
            </ul>
         </div>

      </div>
   </div>
