<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
<th:block th:fragment="layout-usermypage-side">
   <link rel="stylesheet" th:href="@{/css/layout-announceList-side.css}">

   <div class="notice-sidemenu-wrap">
      <p class="mainTitle">재판조력자 안내</p>
      <div class="notice-sidemenu">
         <div class="usermypage-myinfo">
            <ul class="notice-content">

			   <li><a th:href="@{/guide/guideInfo}">재판조력자 제도 안내</a></li>
			   <li><a th:href="@{/guide/guideProcedure}">재판조력자의 신청 절차 안내</a></li>
            </ul>
         </div>

      </div>
   </div>
