<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="layout-usermypage-side">
   <link rel="stylesheet" th:href="@{/css/layout-announceList-side.css}">

   <div class="notice-sidemenu-wrap">
      <p class="mainTitle">알림 · 뉴스</p>
      <div class="notice-sidemenu">
         <div class="usermypage-myinfo">
            <h3 class="notice-title">공지사항</h3>
            <ul class="notice-content">

			   <a th:href="@{/announce/announceList}"><li>모집공고</li></a>
			   <a th:href="@{/announce/announceList}"><li>등재신청</li></a>
               <a th:href="@{/notice/noticeList}"><li>공지사항</li></a>          
               <a th:href="@{/faq/faqList}"><li>FAQ</li></a>
            </ul>
         </div>

      </div>
   </div>
