<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<th:block th:fragment="layout-adminmypage-side">
   <link rel="stylesheet" th:href="@{/css/layout-adminmypage-side.css}">
         <div class="adminmypage-sidemenu-wrap">
            <p class="adminmypage-title">My Page</p>
            <div class="adminmypage-sidemenu menu">
               <div class="adminmypage-applicationlist">
                  <h3 class="applicationlist-title">신청현황</h3>
                  <ul class="applicationlist-content">
                     <a th:href="@{/adminmypage/adminmypage_evaluationlist}"><li>신청현황</li></a>
                  </ul>
               </div>
               <th:block th:if="${session.member_role == 'ROLE_ADMIN'}">
	               <div class="adminmypage-admininfo menu">
	                  <h3 class="adminmyinfo-title">관리자 정보관리</h3>
	                  <ul class="adminmyinfo-content">
	                     <a th:href="@{/adminmypage/adminmypage_auth_manage}"><li>관리자정보</li></a>
	                  </ul>
	               </div>				   
			   </th:block>
            </div>
         </div>
      </th:block>
</html >