<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">


	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>재판조력자선발</title>
		<link rel="stylesheet" th:href="@{/css/reset.css}">
		<link rel="stylesheet" th:href="@{/css/head.css}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
			integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/page.css}">
	</head>


	<body>
		<!--header-->
		<header>
			<!-- 로그인 -->
			<div class="header-login-wrap">
				<div class="login-wrap">
					<form th:action="@{/logout}" method="post">
					<p th:if="${session.token}">
						<a href="#" onclick="this.parentNode.parentNode.submit(); return false;">로그아웃</a>
    				</p>
					</form>
					<p th:unless="${session.token}">
						<a href="http://localhost:3000/login">로그인</a>
					</p>
				</div>
			</div>
			<!-- 고정헤더 -->
			<div class="fix-header">
				<div class="header-menu-wrap">
					<!--로고-->
					<div class="logo-wrap">
						<a th:href="@{/}">
							<img th:src="@{/img/logo_color.png}" alt="재판조력자" />
						</a>
					</div>
					
					<!--메인메뉴-->
					<div class="menu-wrap">
						<ul class="menus">
							<a th:href="@{/application/applicationAgree}">
								<li class="menu01">
									<span class="">조력자등재신청</span>
								</li>
							</a>
							<a th:href="@{/}">
								<li class="menu02">
									<span class="">조력자신청안내</span>
								</li>
							</a>
							<a th:href="@{/usermypage/usermypage}">
								<li class="menu03">
									<span class="">My Page</span>
								</li>
							</a>
							<a th:href="@{/announce/announceList}">
								<li class="menu04">
									
									<span class="">공지사항</span>
								</li>
							</a>
						</ul>

						<!--상세메뉴-->
						<nav>
							<div class="detail-menu-wrap">
								<div class="detail-menus">
									<ul class="detail-menu01">
										<a th:href="@{/application/applicationAgree}">
											<h3>조력자등재신청</h3>
										</a>
										<a th:href="@{/application/applicationAgree}">
											<li>조력자등재신청</li>
										</a>
									</ul>
									<ul class="detail-menu02">
										<a th:href="@{/}">
											<h3>조력자신청안내</h3>
										</a>
										<a th:href="@{/}">
											<li>조력자 제도안내</li>
										</a>
										<a th:href="@{/}">
											<li>조력자 신청절차안내</li>
										</a>
									</ul>
									<ul class="detail-menu03">
										<a th:href="@{/usermypage/usermypage}">
											<h3>My Page</h3>
										</a>
										<a th:href="@{/usermypage/usermypage_applicationlist}">
											<li>나의 신청현황</li>
										</a>
										<a th:href="@{/usermypage/usermypage_activitylist}">
											<li>나의 활동내역</li>
										</a>
										<a th:href="@{/usermypage/usermypage}">
											<li>나의 정보관리</li>
										</a>
										<a th:href="@{/usermypage/usermypage_pauselist}">
											<li>중지/해제신청 관리</li>
										</a>
									</ul>
									<ul class="detail-menu04">
										<a th:href="@{/announce/announceList}">
											<h3>공지사항</h3>
										</a>
										<a th:href="@{/announce/announceList}">
											<li>모집공고</li>
										</a>
										<a th:href="@{/notice/noticeList}">
											<li>공지사항</li>
										</a>
										<a th:href="@{/faq/faqList}">
											<li>FAQ</li>
										</a>
									</ul>
								</div>
							</div>
						</nav>
					</div>
				</div>
		</header>

		<div th:replace="${content}">


		</div>

		<!--footer-->
		<footer>
			<div id="footer-box">
				<!--로고-흑백-->
				<div class="logo-footer">
					<img th:src="@{/img/logo_black.png}" alt="재판조력자">
				</div>
				<ul class="footer-menu">
					<li></li>
				</ul>
				<p class="footer-notice clear">
					<span>"홈페이지 이용/장애문의" TEL 02.3480.1715 (평일 9시~18시)</span>
				</p>
				<address>
					" Copyright 2023 "
					<a href="" target="_blank" title="대한민국 법원 공식 홈페이지 이동">Supreme Court of Korea.</a>
					"&nbsp;All Right Reserved. "
				</address>
				<!--footer-->
				<div class="goto-family">
					<form id="family" name="site" action="#">
						<fieldset>
							<select id="site-search" title="관련사이트바로가기">
								<option value>관련사이트</option>

								<optgroup label="법원">
									<option value="">대한민국법원</option>
								</optgroup>

								<optgroup label="대법원사이트">
									<option value="">전자민원센터</option>
									<option value="">종합법률정보</option>
									<option value="">대법원 나홀로소송</option>
									<option value="">대법원 전자소송 홈페이지</option>
									<option value="">인터넷등기소</option>
									<option value="">법원경매정보</option>
								</optgroup>

							</select>
							<span class="btngoto mar13">
								<a href="#none" title="선택된 관련사이트로 이동하는 버튼" onclick="moveSite();">이동</a>
							</span>
						</fieldset>
					</form>
				</div>
			</div>
		</footer>

	</body>
	<script>
		function handleScroll() {
			var scrollY = window.scrollY || window.pageYOffset;
			var head_menu_wrap = document.querySelector(".header-menu-wrap");
			if (scrollY >= 20) {
				head_menu_wrap.style.top = "0px";
			} else {
				head_menu_wrap.style.top = "60px";
			}
		}

		var menu_wrap = document.querySelector(".menu-wrap");
		var header_menu_wrap = document.querySelector(".header-menu-wrap");
		var detail_menu_wrap = document.querySelector(".detail-menu-wrap");
		header_menu_wrap.style.height = '100px';
		detail_menu_wrap.style.display = 'none';
		menu_wrap.addEventListener('mouseover', function () {
			header_menu_wrap.style.height = '330px';
			detail_menu_wrap.style.display = 'block';
		});

		menu_wrap.addEventListener('mouseout', function () {
			header_menu_wrap.style.height = '100px';
			detail_menu_wrap.style.display = 'none';
		});

		window.addEventListener("scroll", handleScroll);
	</script>
</th:block>

</html>