<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(content)">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>재판조력자선발</title>
		<!--<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap">
		-->
		<link rel="stylesheet" th:href="@{/css/head.css}">
		<link rel="stylesheet" th:href="@{/css/reset.css}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
			integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/page.css}">
		
	</head>


	<body>
		<!--header-->
		<header>
			<!-- 로그인 -->
			<div id="element" class="header-login-wrap">
				<div class="login-wrap">
					<form th:action="@{/logout}" method="post">
					<p th:if="${session.token}">
						<a href="#" id="logout_a" onclick="this.parentNode.parentNode.submit(); return false;">로그아웃</a>
    				</p>
					</form>
					<p th:unless="${session.token}">
						<a href="http://3.34.74.233/login">로그인</a>
					</p>
				</div>
			</div>
			<!-- 고정헤더 -->
			<div class="fix-header">
				<div class="header-menu-wrap">
					<!--로고-->
					<div class="logo-wrap">
						<a th:href="@{/}">
							<img th:src="@{/img/courtsupporterLogo_trans.png}" alt="재판조력자" />
						</a>
					</div>
					
					<!--메인메뉴-->
					<div class="menu-wrap">

						<th:block th:if="${session.member_role == null || session.member_role == 'ROLE_USER'}">
						<ul class="usermenus">
							<a th:href="@{/announce/announceList}">
								<li class="menu01 longline">
									<span class="">조력자 등재신청</span>
								</li>
							</a>
							<a th:href="@{/guide/guideInfo}">
								<li class="menu02 longline">
									<span class="">조력자 신청안내</span>
								</li>
							</a>
							<a th:href="@{/usermypage/usermypage}">
								<li class="menu03 line">
									<span class="">My Page</span>
								</li>
							</a>
							<a th:href="@{/announce/announceList}">
								<li class="menu04 line">									
									<span class="">공지사항</span>
								</li>
							</a>
						</ul>

						<!--상세메뉴-->
						<nav>
							<div class="detail-menu-wrap">
								<div class="detail-menus">
									<ul class="detail-menu01 userdetailmenu01">
										<!--<a th:href="@{/announce/announceList}">
											<h3>조력자등재신청</h3>
										</a>-->
										<a th:href="@{/announce/announceList}">
											<li>조력자 등재신청</li> <!--&nbsp&nbsp-->
										</a>
									</ul>
									<ul class="detail-menu02 userdetailmenu02">
										<a th:href="@{/guide/guideInfo}">
											<li>조력자 제도안내</li>
										</a>
										<a th:href="@{/guide/guideProcedure}">
											<li>조력자 신청안내</li>
										</a>
									</ul>
									<ul class="detail-menu03 userdetailmenu03">
										<!--<a th:href="@{/usermypage/usermypage}">
											<h3>My Page</h3>
										</a>-->
										<a th:href="@{/usermypage/usermypage_applicationlist}">
											<li>나의 신청현황</li>
										</a>
										<a th:href="@{/usermypage/usermypage_activitylist}">
											<li>나의 활동내역</li>
										</a>
										<a th:href="@{/usermypage/usermypage}">
											<li>나의 정보관리</li>
										</a>
										<a th:href="@{/usermypage/usermypage_pauselist}">
											<li>중지/해제신청 관리</li>
										</a>
									</ul>
									<ul class="detail-menu04 userdetailmenu04">
										<!--<a th:href="@{/announce/announceList}">
											<h3>공지사항</h3>
										</a>-->
										<a th:href="@{/announce/announceList}">
											<li>모집공고</li> <!--&nbsp-->
										</a>
										<a th:href="@{/notice/noticeList}">
											<li>공지사항</li>
										</a>
										<a th:href="@{/faq/faqList}">
											<li>FAQ</li>
										</a>
									</ul>
								</div>
							  </div>
							</nav>
						</th:block> <!-- ROLE_USER END -->
						
						<th:block th:if="${session.member_role == 'ROLE_ADMIN'}">
							<ul class="menus">
								<a th:href="@{/}">
									<li class="menu01 line" >
										<span class="">권한관리</span>
									</li>
								</a>
								<a th:href="@{/}">
									<li class="menu02 longline">
										<span class="">조력자 신청안내</span>
									</li>
								</a>
								<a th:href="@{/}"> <!--/usermypage/usermypage-->
									<li class="menu03 line">
										<span class="">공지사항</span>
									</li>
								</a>
							</ul>
							
							<!--상세메뉴-->
							<nav>
								<div class="detail-menu-wrap">
									<div class="detail-menus">
										<ul class="detail-menu01 admindetailmenu01">
											<a th:href="@{/adminmypage/adminmypage_auth_manage}">
												<li>권한관리</li>
											</a>
										</ul>
										<ul class="detail-menu02 admindetailmenu02">
											<!--<a th:href="@{/}">
												<h3>조력자신청안내</h3>
											</a>-->
											<a th:href="@{/guide/guideInfo}">
												<li>조력자 제도안내</li> <!-- &nbsp&nbsp&nbsp -->
											</a>
											<a th:href="@{/guide/guideProcedure}">
												<li>조력자 신청안내</li>
											</a>
										</ul>
										<ul class="detail-menu03 admindetailmenu03">
											<!--<a th:href="@{/announce/announceList}">
												<h3>공지사항</h3>
											</a>-->
											<a th:href="@{/announce/announceList}">
												<li>모집공고</li>
											</a>
											<a th:href="@{/notice/noticeList}">
												<li>공지사항</li>
											</a>
											<a th:href="@{/faq/faqList}">
												<li>FAQ</li>
											</a>
										</ul>
									</div>
								</div>
							</nav>
						</th:block> <!-- ROLE_ADMIN END  -->
						
						<th:block th:if="${session.member_role == 'ROLE_COURT' || session.member_role == 'ROLE_JURIS'}">
							<ul class="menus">
								<a th:href="@{/adminmypage/adminmypage_evaluationlist}">
									<li class="menu01 line">
										<span class="">평가</span>
									</li>
								</a>
								<a th:href="@{/}">
									<li class="menu02 longline">
										<span class="">조력자 신청안내</span>
									</li>
								</a>
								<a th:href="@{/announce/announceList}">
									<li class="menu03 line">
										<span class="">공지사항</span>
									</li>
								</a>
							</ul>
							
							<!--상세메뉴-->
							<nav>
								<div class="detail-menu-wrap">
									<div class="detail-menus">
										<ul class="detail-menu01 courtdetailmenu01">
											<a th:href="@{/adminmypage/adminmypage_evaluationlist}">
												<li>평가</li> <!--&nbsp&nbsp&nbsp-->
											</a>
										</ul>
										<ul class="detail-menu02 courtdetailmenu02">
											<!--<a th:href="@{/}">
												<h3>조력자신청안내</h3>
											</a>-->
											<a th:href="@{/guide/guideInfo}">
												<li>조력자 제도안내</li>
											</a>
											<a th:href="@{/guide/guideProcedure}">
												<li>조력자 신청절차안내</li>
											</a>
										</ul>
										<ul class="detail-menu03 courtdetailmenu03">
											<!--<a th:href="@{/announce/announceList}">
												<h3>공지사항</h3>
											</a>-->
											<a th:href="@{/announce/announceList}">
												<li>모집공고</li>
											</a>
											<a th:href="@{/notice/noticeList}">
												<li>공지사항</li>
											</a>
											<a th:href="@{/faq/faqList}">
												<li>FAQ</li>
											</a>
										</ul>
									</div>
								</div>
							</nav>
						</th:block>
					</div>
				</div>
		</header>

		<div th:replace="${content}">


		</div>

		<!--footer-->
		<footer>
			<div id="footer-box">
				<!--로고-흑백-->
				<div class="logo-footer">
					<img th:src="@{/img/courtsupporterLogo_black_trans_.png}" alt="재판조력자">
				</div>
				<ul class="footer-menu">
					<li></li>
				</ul>
				<p class="footer-notice clear">
					<span>"홈페이지 이용/장애문의" TEL 02.3480.1715 (평일 9시~18시)</span>
				</p>
				<address>
					" Copyright 2023 "
					<a href="" target="_blank" title="대한민국 법원 공식 홈페이지 이동">Supreme Court of Korea.</a>
					"&nbsp;All Right Reserved. "
				</address>
				<!--footer-->
				<div class="goto-family">
					<form id="family" name="site" action="#">
						<fieldset>
							<select id="site-search" title="관련사이트바로가기">
								<option value>관련사이트</option>

								<optgroup label="법원">
									<option value="">대한민국법원</option>
								</optgroup>

								<optgroup label="대법원사이트">
									<option value="">전자민원센터</option>
									<option value="">종합법률정보</option>
									<option value="">대법원 나홀로소송</option>
									<option value="">대법원 전자소송 홈페이지</option>
									<option value="">인터넷등기소</option>
									<option value="">법원경매정보</option>
								</optgroup>

							</select>
							<span class="btngoto mar13">
								<a href="#none" title="선택된 관련사이트로 이동하는 버튼" onclick="moveSite();">이동</a>
							</span>
						</fieldset>
					</form>
				</div>
			</div>
		</footer>

		<div class="to-the-top-wrap">
			<a>
				<img th:src="@{/img/top_grey.png}"/>
			</a>
		</div>
	</body>
	<script th:inline="javascript">
		var a = /*[[${session.member_role}]]*/ "";
		if(a == 'ROLE_ADMIN' || a == 'ROLE_JURIS' || a == 'ROLE_COURT'){
			
		var element = document.getElementById('element');
		var element2 = document.getElementById('logout_a');
			element.classList.add('color');
			element2.style.color = 'white';
			
		}
	
	</script>
	<script>	
		
		var top_wrap = document.querySelector(".to-the-top-wrap");
		function handleScroll() {
			var scrollY = window.scrollY || window.pageYOffset;
			var head_menu_wrap = document.querySelector(".header-menu-wrap");
			if (scrollY >= 20) {
				head_menu_wrap.style.top = "0px";
				top_wrap.classList.add("active"); // active 클래스 추가
			} else {
				head_menu_wrap.style.top = "60px";
				top_wrap.classList.remove("active"); // active 클래스 제거
			}
		}
		
		top_wrap.addEventListener('click', function() {
			window.scrollTo({
		        top: 0,
		        behavior: "smooth" // 부드러운 스크롤 효과를 위해 "smooth"를 사용
		    });
		})

		var menu_wrap = document.querySelector(".menu-wrap");
		var header_menu_wrap = document.querySelector(".header-menu-wrap");
		var detail_menu_wrap = document.querySelector(".detail-menu-wrap");
		header_menu_wrap.style.height = '100px';
		//detail_menu_wrap.style.display = 'none';
		menu_wrap.addEventListener('mouseover', function () {
			header_menu_wrap.style.height = '330px';
			detail_menu_wrap.style.display = 'block';
		});

		menu_wrap.addEventListener('mouseout', function () {
			header_menu_wrap.style.height = '100px';
			//detail_menu_wrap.style.display = 'none';
		});

		window.addEventListener("scroll", handleScroll);
		
	</script>
	
</th:block>

</html>