<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->

<th:block th:fragment="pageNation(pageVO)">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
		integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/page.css}">
	<div id="page">
		<ul>
			<li><a th:href="@{/usermypage/usermypage_activitylist(page=1, 
                                   amount=${pageVO.amount},
                                   judgement_num=${pageVO.cri.judgement_num},
                                   act_complete_yn=${pageVO.cri.act_complete_yn},
                                   chosen_startdate=${pageVO.cri.chosen_startdate},
                                   chosen_enddate=${pageVO.cri.chosen_enddate},
                                   attendance_startdate=${pageVO.cri.attendance_startdate},
                                   attendance_enddate=${pageVO.cri.attendance_enddate}
                                   )}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>


			<th:block th:if="${pageVO.prev}">
				<li style="margin-right:5px;">
					<a th:href="@{/usermypage/usermypage_activitylist(page=${pageVO.start - 1},
                                  amount=${pageVO.amount},
                                  judgement_num=${pageVO.cri.judgement_num},
                                  act_complete_yn=${pageVO.cri.act_complete_yn},
                                  chosen_startdate=${pageVO.cri.chosen_startdate},
                                  chosen_enddate=${pageVO.cri.chosen_enddate},
                                  attendance_startdate=${pageVO.cri.attendance_startdate},
                                  attendance_enddate=${pageVO.cri.attendance_enddate}
                                  )}"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
				</li>
			</th:block>


			<th:block th:each="page : ${pageVO.pageList}">
				<li th:class="${page == pageVO.page ? 'on' : ''}">
					<a th:href="@{/usermypage/usermypage_activitylist(page=${page}, 
                                amount=${pageVO.amount},
                                judgement_num=${pageVO.cri.judgement_num},
                                act_complete_yn=${pageVO.cri.act_complete_yn},
                                chosen_startdate=${pageVO.cri.chosen_startdate},
                                chosen_enddate=${pageVO.cri.chosen_enddate},
                                attendance_startdate=${pageVO.cri.attendance_startdate},
                                attendance_enddate=${pageVO.cri.attendance_enddate}
                                )}">[[${page}]]</a>
				</li>
			</th:block>


			<th:block th:if="${pageVO.next}">
				<li style="margin-left:5px;">
					<a th:href="@{/usermypage/usermypage_activitylist(page=${pageVO.end + 1},
                                amount=${pageVO.amount},
                                judgement_num=${pageVO.cri.judgement_num},
                                act_complete_yn=${pageVO.cri.act_complete_yn},
                                chosen_startdate=${pageVO.cri.chosen_startdate},
                                chosen_enddate=${pageVO.cri.chosen_enddate},
                                attendance_startdate=${pageVO.cri.attendance_startdate},
                                attendance_enddate=${pageVO.cri.attendance_enddate}
                                )}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
				</li>
			</th:block>

			<li><a th:href="@{/usermypage/usermypage_activitylist(page=${pageVO.realEnd},
                            amount=${pageVO.amount},
                            judgement_num=${pageVO.cri.judgement_num},
                            act_complete_yn=${pageVO.cri.act_complete_yn},
                            chosen_startdate=${pageVO.cri.chosen_startdate},
                            chosen_enddate=${pageVO.cri.chosen_enddate},
                            attendance_startdate=${pageVO.cri.attendance_startdate},
                            attendance_enddate=${pageVO.cri.attendance_enddate}
                            )}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
		</ul>
	</div>

</th:block>