<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="pageNation(pageVO)">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
		integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/page.css}">
	<div id="page">
		<ul>
			<li><a th:href="@{/usermypage/usermypage_applicationlist(page=1, 
                                   amount=${pageVO.amount},
                                   announce_title=${pageVO.cri.announce_title},
                                   aplicn_dtls_sts=${pageVO.cri.aplicn_dtls_sts},
                                   aplicn_dtls_startdate=${pageVO.cri.aplicn_dtls_startdate},
                                   aplicn_dtls_enddate=${pageVO.cri.aplicn_dtls_enddate}
                                   )}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>


			<th:block th:if="${pageVO.prev}">
				<li style="margin-right:5px;">
					<a th:href="@{/usermypage/usermypage_applicationlist(page=${pageVO.start - 1},
                                  amount=${pageVO.amount},
                                  announce_title=${pageVO.cri.announce_title},
                                  aplicn_dtls_sts=${pageVO.cri.aplicn_dtls_sts},
                                  aplicn_dtls_startdate=${pageVO.cri.aplicn_dtls_startdate},
                                  aplicn_dtls_enddate=${pageVO.cri.aplicn_dtls_enddate}
                                  )}"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
				</li>
			</th:block>


			<th:block th:each="page : ${pageVO.pageList}">
				<li th:class="${page == pageVO.page ? 'on' : ''}">
					<a th:href="@{/usermypage/usermypage_applicationlist(page=${page}, 
                                amount=${pageVO.amount},
                                announce_title=${pageVO.cri.announce_title},
                                aplicn_dtls_sts=${pageVO.cri.aplicn_dtls_sts},
                                aplicn_dtls_startdate=${pageVO.cri.aplicn_dtls_startdate},
                                aplicn_dtls_enddate=${pageVO.cri.aplicn_dtls_enddate}
                                )}">[[${page}]]</a>
				</li>
			</th:block>


			<th:block th:if="${pageVO.next}">
				<li style="margin-left:5px;">
					<a th:href="@{/usermypage/usermypage_applicationlist(page=${pageVO.end + 1},
                                amount=${pageVO.amount},
                                announce_title=${pageVO.cri.announce_title},
                                aplicn_dtls_sts=${pageVO.cri.aplicn_dtls_sts},
                                aplicn_dtls_startdate=${pageVO.cri.aplicn_dtls_startdate},
                                aplicn_dtls_enddate=${pageVO.cri.aplicn_dtls_enddate}
                                )}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
				</li>
			</th:block>

			<li><a th:href="@{/usermypage/usermypage_applicationlist(page=${pageVO.realEnd},
                            amount=${pageVO.amount},
                            announce_title=${pageVO.cri.announce_title},
                            aplicn_dtls_sts=${pageVO.cri.aplicn_dtls_sts},
                            aplicn_dtls_startdate=${pageVO.cri.aplicn_dtls_startdate},
                            aplicn_dtls_enddate=${pageVO.cri.aplicn_dtls_enddate}
                            )}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
		</ul>
	</div>

</th:block>