<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/applicationPopup.css}">
<script src="https://code.jquery.com/jquery.min.js"></script>
<script th:src="@{/js/applicationCertificatePopup.js}"></script>
<th:block>
	<div class="certificatePopup">
		<div class="certificatePopup-wrap">
			<div id="pop_wrap">

				<form action="certificateModifyPopupForm" id="workModifyPopupForm" name="certificateModifyPopupForm" method="post">
					<div class="pop_contents">
						<span class="sm_title">*자격/면허 사항</span>
						<table class="tableT popT">
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<input type="hidden" id="aplcn_crtfc_proper_num" name="aplcn_crtfc_proper_num" th:value="${vo.aplcn_crtfc_proper_num}">
								<tr class="uptr02">
									<th class="">자격/면허명</th>
									<td>
										<select class="selC" name="crtfc_type" id="crtfc_type" title="자격/면허명" style="width: 140px;">
											<!--<option value='' selected="selected">선택하세요</option>-->
											<option value='자격증명1' th:selected="${vo.crtfc_type == '자격증명1'}">자격증명1</option>
											<option value='자격증명2' th:selected="${vo.crtfc_type == '자격증명2'}">자격증명2</option>
											<option value='자격증명3' th:selected="${vo.crtfc_type == '자격증명3'}">자격증명3</option>
										</select>
									</td>
								</tr>
								<tr class="uptr01">
									<th class="">발급기관</th>
									<td><input type="text" name="issue_agency" id="issue_agency" title="발급기관"  th:value="${vo.issue_agency}"></td>
								</tr>
								<tr class="uptr01">
									<th class="">자격/면허 번호</th>
									<td><input type="text" name="crtfc_number" id="crtfc_number" title="자격/면허 번호" th:value="${vo.crtfc_number}"></td>
								</tr>
								
								<tr class="uptr01">
									<th class="">발급일</th>
									<td><input type="text" name="issue_date" id="issue_date" title="발급일" th:value="${vo.issue_date}"></td>
								</tr>
								<tr class="uptr02">
									<th class="">증빙서류</th>
									<td class="">
										<input type="file" style="border: none; width: 250px;">
									</td>
								</tr>
								
							</tbody>

						</table>
					</div>
					
					<div class="btnbox btnbox02">
						<input type="submit" class="btnfb7" id="popupClose" value="입력"/>
					</div>
			</div>
			</form>

		</div>
	</div>
	</div>
</th:block>

</html>