<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->

<link rel="stylesheet" th:href="@{/css/applicationPopup.css}">
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script th:src="@{/js/applicationWorkPopup.js}"></script>
<th:block>
	<div class="workPopup">
		<div class="workPopup-wrap">
			<div id="pop_wrap">

				<form action="workPopupForm" id="workPopupForm" name="workPopupForm" method="post">
					<input type="hidden" id="announce_proper_num" name="announce_proper_num" th:value="${param.announce}">
					<input type="hidden" id="aplcn_dtls_proper_num" name="aplcn_dtls_proper_num" th:value="${param.detail}">
					<div class="pop_contents">
						<span class="sm_title">*근무경력 및 활동경력사항 입력</span>
						<table class="tableT popT">
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<tr class="uptr01">
									<th class="">회사명/활동기관명</th>
									<td><input type="text" name="company_name" id="company_name" title="회사명"></td>
								</tr>
								<tr class="uptr01">
									<th class="">경력 구분</th>
									<td>
										<input type="radio" id="carer_type1" class="career" name="carer_type" value="CA" style="height: 14px; width: 30px;">
										<label for="carer_type1" class="career">해당 조력자 경력</label>
										<input type="radio" id="carer_type2" class="career" name="carer_type" value="OT" style="height: 14px; width: 30px;">
										<label for="carer_type2" class="career">기타 경력</label>
									</td>
								</tr>
								<tr class="uptr04">
									<th class="">기간</th>
									<td><input class="datepicker" id="date1" name="work_start_date" type="text" title="기간" readonly placeholder="날짜선택" pattern="\d{4}-\d{2}-\d{2}"> 
										<span>~</span>
										<input class="datepicker" id="date2" name="work_end_date" type="text" title="기간" readonly placeholder="날짜선택" pattern="\d{4}-\d{2}-\d{2}">
									</td>
								</tr>
								<tr class="uptr01">
									<th class="">수행업무</th>
									<td><input type="text" name="work_description" id="work_description" title="수행업무"></td>
								</tr>
								
								<tr class="uptr01">
									<th class="">부서</th>
									<td><input type="text" name="work_department" id="work_department" title="부서"></td>
								</tr>
								
								<tr class="uptr01">
									<th class="">직책</th>
									<td><input type="text" name="work_position" id="work_position" title="직책"></td>
								</tr>
								
							</tbody>

						</table>
					</div>
					
					<div class="btnbox btnbox02">
						<input type="submit" class="btnfb7" id="popupClose" value="입력"/>
					</div>
			</div>
			</form>

		</div>
	</div>
	</div>
</th:block>

</html>