<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->

<link rel="stylesheet" th:href="@{/css/applicationPopup.css}">
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script th:src="@{/js/applicationCertificatePopup.js}"></script>
<th:block>
	<div class="certificatePopup">
		<div class="certificatePopup-wrap">
			<div id="pop_wrap">

				<form action="certificateModifyPopupForm" id="certificateModifyPopupForm" name="certificateModifyPopupForm" method="post">
					<input type="hidden" id="announce_proper_num" name="announce_proper_num" th:value="${param.announce}">
					<input type="hidden" id="aplcn_dtls_proper_num" name="aplcn_dtls_proper_num" th:value="${param.detail}">
					<div class="pop_contents">
						<span class="sm_title">*자격/면허 사항</span>
						<table class="tableT popT">
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<input type="hidden" id="aplcn_crtfc_proper_num" name="aplcn_crtfc_proper_num" th:value="${vo.aplcn_crtfc_proper_num}">
								<tr class="uptr02">
									<th class="">자격/면허명</th>
									<td>
										<input type="text" name="crtfc_type" id="crtfc_type" title="자격/면허명"  th:value="${vo.crtfc_type}">
									</td>
								</tr>
								<tr class="uptr01">
									<th class="">발급기관</th>
									<td><input type="text" name="issue_agency" id="issue_agency" title="발급기관"  th:value="${vo.issue_agency}"></td>
								</tr>
								<tr class="uptr01">
									<th class="">자격/면허 번호</th>
									<td><input type="text" name="crtfc_number" id="crtfc_number" title="자격/면허 번호" th:value="${vo.crtfc_number}"></td>
								</tr>
								
								<tr class="uptr01">
									<th class="">발급일</th>
									<td><input type="text" class="datepicker" name="issue_date" id="issue_date" title="발급일" th:value="${#strings.substring(vo.issue_date, 0, 10)}" readonly placeholder="날짜선택" pattern="\d{4}-\d{2}-\d{2}"></td>
								</tr>
								
								
							</tbody>

						</table>
					</div>
					
					<div class="btnbox btnbox02">
						<input type="submit" class="btnfb7" id="certificateModifyBtn" value="수정"/>
					</div>
			</div>
			</form>

		</div>
	</div>
	</div>
</th:block>

</html>