<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->

<link rel="stylesheet" th:href="@{/css/application.css}">
<link rel="stylesheet" th:href="@{/css/applicationStateBar.css}">
<script src="https://code.jquery.com/jquery.min.js"></script>
<script th:src="@{/js/jquery.multiselect.js}"></script>
<script th:src="@{/js/applicationBasic.js}"></script>
<link rel="stylesheet" th:href="@{/css/jquery.multiselect.css}">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<th:block th:replace="~{./include/layout :: setContent(~{::.basic})}">
	<div class="basic">
		<div class="basic-wrap">
			<div class="pop_header">
				<h1 class="tith5">기본 정보</h1>
			</div>

			<div class="accept-wrap">
				<div class="accept-contents">
					<div class="contents-inner">
						<ol class="process">
							<li class="first">
								<span class="num">01.</span>
								<span class="process-text">약관 동의</span>
							</li>
							<li class="current">
								<span class="num">02.</span>
								<span class="process-text">기본 정보</span>
							</li>
							<li>
								<span class="num">03.</span>
								<span class="process-text">학력 정보</span>
							</li>
							<li>
								<span class="num">04.</span>
								<span class="process-text">경력 정보</span>
							</li>
							<li>
								<span class="num">05.</span>
								<span class="process-text">자격증 정보</span>
							</li>
							<li class="last">
								<span class="num">06.</span>
								<span class="process-text">증빙서류</span>
							</li>
						</ol>
					</div>
				</div>
			</div>

			<div id="pop_wrap">
				<div style="padding: 20px 0 0 30px;">
					<i class="required-img">
						<span class="hidden">필수입력</span>
					</i>
					<span>는 필수 입력 사항 입니다.</span>
				</div>
				<form action="basicForm" name="basicForm" id="basicForm" method="post">
					<input type="hidden" id="announce_proper_num" name="announce_proper_num" th:value="${param.announce}"/>
					<input type="hidden" id="trial_fcltt_proper_num" name="trial_fcltt_proper_num" th:value="${param.fcltt_num}"/>
					<!--<div class="pop_contents">
						<table class="tableT popT">
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<span>*조력자 선택</span>
								<tr class="uptr02">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>조력자 분류</span>
									</th>
									<td class="">

										<select class="selC" name="trial_fcltt_clasifi_code" id="firstSelect"
											title="조력자 선택" onchange="selectChange()">
										</select><span id="msg1" style="color: red;"></span>
										<select class="selC" name="trial_fcltt_sbcls_code" id="secondSelect"
											title="조력자 선택">
										</select><span id="msg2" style="color: red;"></span>
									</td>
								</tr>
							</tbody>
						</table>

					</div>-->

					<div class="pop_contents">
						<table class="tableT popT">
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<span class="sm_title">*희망법원 선택</span>
								<tr class="uptr02">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>희망법원 선택</span>
									</th>
									<td>
										<select id="demo" multiple="multiple" class="selC" name="court_proper_num_list" title="희망법원 선택">
											<option id="100" value="100">대법원</option>
											<option id="200" value="200">서울고등법원</option>
											<option id="300" value="300">대구고등법원</option>
											<option id="400" value="400">부산고등법원</option>
											<option id="500" value="500">광주고등법원</option>
											<option id="600" value="600">대전고등법원</option>
											<option id="700" value="700">특허법원</option>
											<option id="220" value="220">서울행정법원</option>
											<option id="230" value="230">서울가정법원</option>
											<option id="210" value="210">서울중앙지방법원</option>
											<option id="211" value="211">서울동부지방법원</option>
											<option id="212" value="212">서울남부지방법원</option>
											<option id="213" value="213">서울북부지방법원</option>
											<option id="215" value="215">서울서부지방법원</option>
											<option id="214" value="214">의정부지방법원</option>
											<option id="240" value="240">인천지방법원</option>
											<option id="250" value="250">수원지방법원</option>
											<option id="260" value="260">춘천지방법원</option>
											<option id="270" value="270">청주지방법원</option>
											<option id="280" value="280">대전지방법원</option>
											<option id="310" value="310">대구지방법원</option>
											<option id="410" value="410">부산지방법원</option>
											<option id="411" value="411">울산지방법원</option>
											<option id="420" value="420">창원지방법원</option>
											<option id="510" value="510">광주지방법원</option>
											<option id="520" value="520">전주지방법원</option>
											<option id="530" value="530">제주지방법원</option>
										</select>
										<div id="multiSelectMsg" style="color: red;"></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="pop_contents">
						<span class="sm_title">*신청인 기본 정보</span>
						<table class="tableT popT">
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<input type="hidden" id="user_proper_num" name="user_proper_num" th:value="${tb_001vo.user_proper_num}"/>
								<tr class="uptr01">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>이름</span>
									</th>
									<td><input type="text" id="user_name" name="user_name" title="이름" th:value="${tb_001vo.user_name}" readonly></td>
								</tr>
								<tr class="uptr04">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>주민등록번호</span>
									</th>
									<td><input title="주민번호앞자리" name="user_rrn1" id="user_rrn1" type="text" maxlength='6'> <span>-</span>
										<input title="주민번호뒷자리" name="user_rrn2" id="user_rrn2" type="password" maxlength='7'>
										<button type="button" id="fetchDataButton"
											style="border: 1px solid #888888; border-radius: 3px; height: 30px; vertical-align: middle;cursor: pointer;">실명확인</button>
										<span id="messageDisplay" style="color: red;"></span>
									</td>
								</tr>
								<tr class="uptr04">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span id="phoneNum">휴대폰번호</span>
									</th>
									<td><input title="핸드폰앞자리" id="user_phone1" name="user_phone1" type="text" maxlength='3' th:value="${#strings.substringBefore(tb_001vo.user_phone, '-')}">
										<span>-</span> 
										<input title="핸드폰중간자리" id="user_phone2" name="user_phone2" type="text" maxlength='4' th:value="${#strings.substringBefore(#strings.substringAfter(tb_001vo.user_phone, '-'), '-')}">
										<span>-</span> 
										<input title="핸드폰뒷자리" id="user_phone3" name="user_phone3" type="text" maxlength='4' th:value="${#strings.substringAfter(#strings.substringAfter(tb_001vo.user_phone, '-'), '-')}">
										<span id="phoneMsg" style="color: red;"></span>
									</td>
								</tr>
								
								<tr class="uptr02">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span id="emailInfo">이메일</spanid="phoneNum">
									</th>
									<td class="">
										<input type="text" title="이메일아이디" name="user_email1" id="email-user" maxlength="50" th:value="${tb_001vo.user_email.substring(0, tb_001vo.user_email.indexOf('@'))}">
										<span>@</span> 
										<input type="text" title="이메일뒷자리" name="user_email2" id="email-domain" maxlength="40" th:value="${tb_001vo.user_email.substring(tb_001vo.user_email.indexOf('@') + 1)}">
										<select class="selC" name="email_select" id="email_select" title="전자우편서비스선택" onchange="updateEmailDomain()">
											<option value='' selected="selected" disabled style='display: none;'>선택하세요</option>
											<option value='hanmail.net' th:selected="${tb_001vo.user_email.substring(tb_001vo.user_email.indexOf('@') + 1) == 'hanmail.net'}">hanmail.net</option>
											<option value='lycos.co.kr' th:selected="${tb_001vo.user_email.substring(tb_001vo.user_email.indexOf('@') + 1) == 'lycos.co.kr'}">lycos.co.kr</option>
											<option value='empal.com' th:selected="${tb_001vo.user_email.substring(tb_001vo.user_email.indexOf('@') + 1) == 'empal.com'}">empal.com</option>
											<option value='hotmail.com' th:selected="${tb_001vo.user_email.substring(tb_001vo.user_email.indexOf('@') + 1) == 'hotmail.com'}">hotmail.com</option>
											<option value='naver.com' th:selected="${tb_001vo.user_email.substring(tb_001vo.user_email.indexOf('@') + 1) == 'naver.com'}">naver.com</option>
											<option value='paran.com' th:selected="${tb_001vo.user_email.substring(tb_001vo.user_email.indexOf('@') + 1) == 'paran.com'}">paran.com</option>
											<option value='yahoo.co.kr' th:selected="${tb_001vo.user_email.substring(tb_001vo.user_email.indexOf('@') + 1) == 'yahoo.co.kr'}">yahoo.co.kr</option>
											<option value='nate.com' th:selected="${tb_001vo.user_email.substring(tb_001vo.user_email.indexOf('@') + 1) == 'nate.com'}">nate.com</option>
											<option value=''>직접입력</option>
										</select>
										<span id="emailMsg" style="color: red;"></span>
									</td>
								</tr>
								<tr class="uptr01" style="border: none;">
									<th class="" rowspan="3">
										<span>주소</span>
									</th>
									<td style="border-bottom: none;">
										<span>우편번호 : </span>
										<input type="text" id="user_ar_zonecode" name="user_ar_zonecode" title="우편번호" th:value="${tb_001vo.user_ar_zonecode}" readonly>
										<button type="button" id="addressSearch"
											style="border: 1px solid #888888; border-radius: 3px; height: 30px; vertical-align: middle;cursor: pointer;">주소검색</button>
										<span id="addressMsg" style="color: red;"></span>
									</td>

								</tr>
								<tr class="uptr01">
									<td style="border-bottom: none;">
										<span style="letter-spacing: 4.8px;">주소 : </span>
										<input type="text" id="user_ar" name="user_ar" title="주소" th:value="${tb_001vo.user_ar}" readonly>
									</td>
								</tr>
								<tr class="uptr01">
									<td>
										<span>상세주소 : </span>
										<input type="text" name="user_ar_detail" title="상세주소" th:value="${tb_001vo.user_ar_detail}">
										<input type="hidden" name="user_ar_jibun" th:value="${tb_001vo.user_ar_jibun}">
									</td>
								</tr>
							</tbody>

						</table>
					</div>

					<div class="pop_contents">
						<table class="board_table topT">
							<colgroup>
								<col width="20%">
								<col width="20%">
								<col width="60%">
							</colgroup>

							<thead>
								<span>*추가 정보</span>
								<tr>
									<th>경력명</th>
									<th>
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>경력 유/무</span>
									</th>
									<th>경력내용</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td style="vertical-align: middle;">소송사건 당사자 경력</td>
									<td style="text-align:center; vertical-align: middle;" class="toptd">
										<input type="radio" id="carer_radio1" name="ligtn_case_carer_yn" value="Y" th:checked="${tb_005vo?.ligtn_case_carer_yn == 'Y'}" style="cursor: pointer;">
										<label for="carer_radio1" style="cursor: pointer;">예</label>
										<input type="radio" id="carer_radio2" name="ligtn_case_carer_yn" value="N" th:checked="${tb_005vo?.ligtn_case_carer_yn == 'N'}" style="cursor: pointer;">
										<label for="carer_radio2" style="cursor: pointer;">아니오</label>
										<div id="radioMsg1" style="color: red;"></div>
									</td>
									<td><textarea
											name="ligtn_case_carer_etc" style="border: 1px solid #ddd; width: 95%; resize: none; height: 100px;">[[${tb_005vo?.ligtn_case_carer_etc}]]</textarea>
									</td>
								</tr>

								<tr>
									<td style="vertical-align: middle;">보험업계 자문 경력</td>
									<td style="text-align:center; vertical-align: middle;" class="toptd">
										<input type="radio" id="carer_radio3" name="insrn_indst_carer_yn" value="Y" th:checked="${tb_005vo?.insrn_indst_carer_yn == 'Y'}" style="cursor: pointer;">
										<label for="carer_radio3" style="cursor: pointer;">예</label>
										<input type="radio" id="carer_radio4" name="insrn_indst_carer_yn" value="N" th:checked="${tb_005vo?.insrn_indst_carer_yn == 'N'}" style="cursor: pointer;">
										<label for="carer_radio4" style="cursor: pointer;">아니오</label>
										<div id="radioMsg2" style="color: red;"></div>
									</td>
									<td><textarea
											name="insrn_indst_carer_etc" style="border: 1px solid #ddd; width: 95%; resize: none; height: 100px;">[[${tb_005vo?.insrn_indst_carer_etc}]]</textarea>
									</td>
								</tr>

								<tr>
									<td style="vertical-align: middle;">형사처벌 받은 경력</td>
									<td style="text-align:center; vertical-align: middle;" class="toptd">
										<input type="radio" id="carer_radio5" name="criminal_penalty_carer_yn" value="Y" th:checked="${tb_005vo?.criminal_penalty_carer_yn == 'Y'}" style="cursor: pointer;">
										<label for="carer_radio5" style="cursor: pointer;">예</label>
										<input type="radio" id="carer_radio6" name="criminal_penalty_carer_yn" value="N" th:checked="${tb_005vo?.criminal_penalty_carer_yn == 'N'}" style="cursor: pointer;">
										<label for="carer_radio6" style="cursor: pointer;">아니오</label>
										<div id="radioMsg3" style="color: red;"></div>
									</td>
									<td><textarea
											name="criminal_penalty_carer_etc" style="border: 1px solid #ddd; width: 95%; resize: none; height: 100px;">[[${tb_005vo?.criminal_penalty_carer_etc}]]</textarea>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
					<div class="btnbox btnbox02">
						<input type="button" class="btn4d5" value="이전" onclick="returnPage()" />
						<input type="submit" class="btnfb7" value="다음">
					</div>
				</form>
			</div>
		</div>

	</div>

</th:block>
<script th:inline="javascript">
	
	var selected = /*[[${#strings.substring(tb_005vo?.trial_fcltt_proper_num, 1, 5)}]]*/ "";
	var selected2 = /*[[${#strings.substring(tb_005vo?.trial_fcltt_proper_num, 5, 7)}]]*/ "";
	var selected3;
	var court = "[[${tb_005vo?.court_proper_num}]]";
	
	if(selected2 === "03") {
		selected3 = "0103001"
	} else if(selected2 === "04") {
		selected3 = "0103002"
	} else if(selected2 === "05") {
		selected3 = "0103011"
	} else if(selected2 === "06") {
		selected3 = "0103012"
	} else if(selected2 === "07") {
		selected3 = "0103013"
	} else if(selected2 === "14") {
		selected3 = "0301001"
	} else if(selected2 === "15") {
		selected3 = "0301002"
	} else {
		selected3 = "0000000"
	}
	
</script>
</html>