<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->

<link rel="stylesheet" th:href="@{/css/application.css}">
<link rel="stylesheet" th:href="@{/css/applicationStateBar.css}">
<script src="https://code.jquery.com/jquery.min.js"></script>
<script th:src="@{/js/applicationAttachment.js}"></script>
<th:block th:replace="~{./include/layout :: setContent(~{::.attachment})}">
	<div class="attachment">
		<div class="attachment-wrap">
			<div class="pop_header">
				<h1 class="tith5">증빙 서류</h1>
			</div>

			<div class="accept-wrap">
				<div class="accept-contents">
					<div class="contents-inner">
						<ol class="process">
							<li class="first">
								<span class="num">01.</span>
								<span class="process-text">약관 동의</span>
							</li>
							<li>
								<span class="num">02.</span>
								<span class="process-text">기본 정보</span>
							</li>
							<li>
								<span class="num">03.</span>
								<span class="process-text">학력 정보</span>
							</li>
							<li>
								<span class="num">04.</span>
								<span class="process-text">경력 정보</span>
							</li>
							<li>
								<span class="num">05.</span>
								<span class="process-text">자격증 정보</span>
							</li>
							<li class="last current">
								<span class="num">06.</span>
								<span class="process-text">증빙서류</span>
							</li>
						</ol>
					</div>
				</div>
			</div>

			<div id="pop_wrap">
				<div style="padding: 20px 0 0 30px;">
					<i class="required-img">
						<span class="hidden">필수입력</span>
					</i>
					<span>는 필수 입력 사항 입니다.</span>
				</div>
				<form action="attachmentForm" id="attachmentForm" name="attachmentForm" method="post" enctype="multipart/form-data">
					<input type="hidden" id="announce_proper_num" name="announce_proper_num" th:value="${param.announce}">
					<input type="hidden" id="trial_fcltt_proper_num" name="trial_fcltt_proper_num" th:value="${param.fcltt_num}">
					<input type="hidden" id="aplcn_dtls_proper_num" name="aplcn_dtls_proper_num" th:value="${param.detail}">
					<div class="pop_contents">
						<table class="board_table topT">
							<colgroup>
								<col width="10%">
								<col width="50%">
								<col width="40%">
							</colgroup>

							<thead>
								<div class="board_h">
									<div class="board_total">*공통 증빙서류</div>
								</div>

								<tr>
									<th style="border-right: 1px solid #ddd;">구분</th>
									<th colspan="2">제출서류명</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td rowspan="3" style="vertical-align: middle; border-right: 1px solid #ddd;">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>공통서류</span>
									</td>
									<td style="vertical-align: middle; border-right: 1px solid #ddd;">사업자 등록증</td>
									<td id="CoFileAddList1">
										  <input type="button" class="CoFilePlusBtn1" value="파일추가" style="color: #fff; width: 150px;">
										<div id="businesslicenseFile" class="file-container">
											<div th:each="vo : ${BUSINESSLICENSE}">
										  <label for="file-input" class="file-label">
										    <input type="hidden" class="uuid" th:value="${vo.uuid}">
										    <input type="hidden" class="type" th:value="${vo.file_type}">
										  </label>
										  <input class="upload-name" th:value="${vo.original_file_name}" disabled="disabled" style="border: none;">
										  <input type="button" class="fileDeleteBtn2" value="삭제">
											</div>
										</div>
										<div style="text-align: center;">
											<span tabindex="0" id="msg1" style="color: red;"></span>
										</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align: middle; border-right: 1px solid #ddd;">업무관련 등록 신고현황</td>
									<td id="CoFileAddList2">
										  <input type="button" class="CoFilePlusBtn2" value="파일추가" style="color: #fff; width: 150px;">
										<div id="businessreportFile" class="file-container">
											<div th:each="vo : ${BUSINESSREPORT}">
										  <label for="file-input" class="file-label">
										    <input type="hidden" class="uuid" th:value="${vo.uuid}">
										    <input type="hidden" class="type" th:value="${vo.file_type}">
										  </label>
										  <input class="upload-name" th:value="${vo.original_file_name}" disabled="disabled" style="border: none;">
										  <input type="button" class="fileDeleteBtn2" value="삭제">
											</div>
										</div>
										<div style="text-align: center;">
											<span tabindex="0" id="msg2" style="color: red;"></span>
										</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align: middle; border-right: 1px solid #ddd;">납세증명확인서</td>
									<td id="CoFileAddList3">
										  <input type="button" class="CoFilePlusBtn3" value="파일추가" style="color: #fff; width: 150px;">
										<div id="taxconfirmFile" class="file-container">
											<div th:each="vo : ${TAXCONFIRM}">
										  <label for="file-input" class="file-label">
										    <input type="hidden" class="uuid" th:value="${vo.uuid}">
										    <input type="hidden" class="type" th:value="${vo.file_type}">
										  </label>
										  <input class="upload-name" th:value="${vo.original_file_name}" disabled="disabled" style="border: none;">
										  <input type="button" class="fileDeleteBtn2" value="삭제">
											</div>
										</div>
										<div style="text-align: center;">
											<span tabindex="0" id="msg3" style="color: red;"></span>
										</div>
									</td>
								</tr>

							</tbody>
						</table>
					</div>

					<div class="pop_contents">
						<table class="board_table topT">
							<colgroup>
								<col width="10%">
								<col width="50%">
								<col width="40%">
							</colgroup>

							<thead>
								<div class="board_h">
									<div class="board_total">*개인 증빙서류</div>
								</div>

								<tr>
									<th style="border-right: 1px solid #ddd;">구분</th>
									<th colspan="2">제출서류명</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td rowspan="4" style="vertical-align: middle; border-right: 1px solid #ddd;">개인서류
									</td>
									<td style="vertical-align: middle; border-right: 1px solid #ddd;">이력서</td>
									<td id="PeFileAddList1">
										<div class="file-container" id="resume_container">
											<div th:each="vo : ${RESUME}">
											<label for="file-input" class="file-label">
												<input type="hidden" class="uuid" th:value="${vo.uuid}">
												<input type="hidden" class="type" th:value="${vo.file_type}">
												<input type="file" id="file-input" name="pe_resume" style="display: none;">
												<span id="resume_btn" class="fileAddBtn" style="width: 160px;height: 20px;">파일 선택</span>
											</label>
											<input id="resume_name" class="upload-name" th:value="${vo.original_file_name}" disabled="disabled" style="width: 166px;">
											<input type="button" class="PeFileDeleteBtn1" value="삭제">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align: middle; border-right: 1px solid #ddd;">학력정보</td>
									<td id="PeFileAddList2">
										  <input type="button" class="PeFilePlusBtn2" value="파일추가" style="color: #fff; width: 150px;">
										<div class="file-container">
											<div th:each="vo : ${EDUCATIONLEVEL}">
										  <label for="file-input" class="file-label">
										    <input type="hidden" class="uuid" th:value="${vo.uuid}">
										    <input type="hidden" class="type" th:value="${vo.file_type}">
										  </label>
										  <input class="upload-name" th:value="${vo.original_file_name}" disabled="disabled" style="border: none;">
										  <input type="button" class="fileDeleteBtn2" value="삭제">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align: middle; border-right: 1px solid #ddd;">경력정보</td>
									<td id="PeFileAddList3">
										  <input type="button" class="PeFilePlusBtn3" value="파일추가" style="color: #fff; width: 150px;">
										<div class="file-container">
											<div th:each="vo : ${CARRER}">
										  <label for="file-input" class="file-label">
										    <input type="hidden" class="uuid" th:value="${vo.uuid}">
										    <input type="hidden" class="type" th:value="${vo.file_type}">
										  </label>
										  <input class="upload-name" th:value="${vo.original_file_name}" disabled="disabled" style="border: none;">
										  <input type="button" class="fileDeleteBtn2" value="삭제">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align: middle; border-right: 1px solid #ddd;">자격증정보</td>
									<td id="PeFileAddList4">
										  <input type="button" class="PeFilePlusBtn4" value="파일추가" style="color: #fff; width: 150px;">
										<div class="file-container">
											<div th:each="vo : ${CERTIFICATE}">
										  <label for="file-input" class="file-label">
										    <input type="hidden" class="uuid" th:value="${vo.uuid}">
										    <input type="hidden" class="type" th:value="${vo.file_type}">
										  </label>
										  <input class="upload-name" th:value="${vo.original_file_name}" disabled="disabled" style="border: none;">
										  <input type="button" class="fileDeleteBtn2" value="삭제">
											</div>
										</div>
									</td>
								</tr>

							</tbody>
						</table>
					</div>

					<div class="pop_contents">
						<div class="board_h">
							<div class="board_total">*기타 증빙서류</div>
						</div>
						<table class="tableT popT">
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<tr class="uptr02">
									<th>파일 첨부</th>
									<td id="OtFileAddList">
										  <input type="button" class="OtFilePlusBtn" value="파일추가" style="color: #fff; width: 150px;">
										<div class="file-container">
											<div th:each="vo : ${OTHER}">
										  <label for="file-input" class="file-label">
										    <input type="hidden" class="uuid" th:value="${vo.uuid}">
										    <input type="hidden" class="type" th:value="${vo.file_type}">
										  </label>
										  <input class="upload-name" th:value="${vo.original_file_name}" disabled="disabled" style="border: none;">
										  <input type="button" class="fileDeleteBtn2" value="삭제" style="color: #fff; width: 80px;">
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="btnbox btnbox02">
						<input type="button" class="btn4d5" value="이전" onclick="returnPage()" />
						<input type="submit" class="btnfb7 save" value="다음">
					</div>
				</form>
			</div>

		</div>
	</div>

</th:block>


</html>