<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->

<link rel="stylesheet" th:href="@{/css/application.css}">
<link rel="stylesheet" th:href="@{/css/applicationStateBar.css}">
<script src="https://code.jquery.com/jquery.min.js"></script>
<script th:src="@{/js/applicationCertificate.js}"></script>
<th:block th:replace="~{./include/layout :: setContent(~{::.certificate})}">
	<div class="certificate">
		<div class="certificate-wrap">
			<div class="pop_header">
				<h1 class="tith5">자격증 정보</h1>
			</div>

			<div class="accept-wrap">
				<div class="accept-contents">
					<div class="contents-inner">
						<ol class="process">
							<li class="first">
								<span class="num">01.</span>
								<span class="process-text">약관 동의</span>
							</li>
							<li>
								<span class="num">02.</span>
								<span class="process-text">기본 정보</span>
							</li>
							<li>
								<span class="num">03.</span>
								<span class="process-text">학력 정보</span>
							</li>
							<li>
								<span class="num">04.</span>
								<span class="process-text">경력 정보</span>
							</li>
							<li class="current">
								<span class="num">05.</span>
								<span class="process-text">자격증 정보</span>
							</li>
							<li class="last">
								<span class="num">06.</span>
								<span class="process-text">증빙서류</span>
							</li>
						</ol>
					</div>
				</div>
			</div>

			<div id="pop_wrap">

				<form action="certificateForm" id="certificateForm" name="certificateForm" method="post" enctype="multipart/form-data">
					<input type="hidden" id="announce_proper_num" name="announce_proper_num" th:value="${param.announce}">
					<input type="hidden" id="trial_fcltt_proper_num" name="trial_fcltt_proper_num" th:value="${param.fcltt_num}">
					<input type="hidden" id="aplcn_dtls_proper_num" name="aplcn_dtls_proper_num" th:value="${param.detail}">
					<div class="pop_contents">
						<table class="board_table topT">
							<colgroup>
								<col width="20%">
								<col width="20%">
								<col width="20%">
								<col width="20%">
								<col width="20%">
							</colgroup>

							<thead>
								<div class="board_h">
									<div class="board_total">*자격 및 면허사항</div>
									<div class="board_search">
										<a href="#" class="popup_btn" onclick="popUp()" style="width: 140px;">자격 및 면허사항
											입력</a>
									</div>
								</div>

								<tr>
									<th>자격/면허명</th>
									<th>발급기관</th>
									<th>자격번호</th>
									<th>발급일</th>
									<th>관리</th>
								</tr>
							</thead>
							<tbody id="certificateList">
								<tr th:each="vo : ${list}" class="certificateListRow">
									<input type="hidden" id="aplcn_crtfc_proper_num" name="aplcn_crtfc_proper_num" th:value="${vo.aplcn_crtfc_proper_num}">
									<td style="vertical-align: middle;">[[${vo.crtfc_type}]]</td>
									<td style="vertical-align: middle;">[[${vo.issue_agency}]]</td>
									<td style="vertical-align: middle;">[[${vo.crtfc_number}]]</td>
									<td style="vertical-align: middle;">[[${#strings.substring(vo.issue_date, 0, 10)}]]</td>
									<td style="vertical-align: middle;">
										<input type="button" class="modifyBtn" value="수정"/>
										<input type="button" class="deleteBtn" value="삭제"/>
									</td>
								</tr>

							</tbody>
						</table>
					</div>

					<div class="pop_contents">
						<table class="tableT popT">
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<tr class="uptr02">
									<th>파일 첨부</th>
									<td id="fileAddList">
										  <input type="button" class="filePlusBtn" value="파일추가" style="color: #fff; width: 150px;">
										<div class="file-container">
											<div th:each="vo : ${fileList}">
										  <label for="file-input" class="file-label">
										    <input type="hidden" class="uuid" th:value="${vo.uuid}">
										  </label>
										  <input class="upload-name" th:value="${vo.original_file_name}" disabled="disabled" style="border: none;margin:2px;">
										  <input type="button" class="fileDeleteBtn2" value="삭제" style="color: #fff; width: 80px;">
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="btnbox btnbox02">
						<input type="button" class="btn4d5" value="이전" onclick="returnPage()" />
						<input type="submit" class="btnfb7" value="다음">
					</div>
				</form>
			</div>

		</div>
	</div>

</th:block>

</html>