<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/application.css}">
<link rel="stylesheet" th:href="@{/css/applicationStateBar.css}">
<th:block th:replace="~{./include/layout :: setContent(~{::.attachment})}">
	<div class="attachment">
		<div class="attachment-wrap">
			<div class="pop_header">
				<h1 class="tith5">증빙 서류</h1>
			</div>

			<div class="accept-wrap">
				<div class="accept-contents">
					<div class="contents-inner">
						<ol class="process">
							<li class="first">
								<span class="num">01.</span>
								<span class="process-text">약관 동의</span>
							</li>
							<li>
								<span class="num">02.</span>
								<span class="process-text">기본 정보</span>
							</li>
							<li>
								<span class="num">03.</span>
								<span class="process-text">학력 정보</span>
							</li>
							<li>
								<span class="num">04.</span>
								<span class="process-text">경력 정보</span>
							</li>
							<li>
								<span class="num">05.</span>
								<span class="process-text">자격증 정보</span>
							</li>
							<li class="last current">
								<span class="num">06.</span>
								<span class="process-text">증빙서류</span>
							</li>
						</ol>
					</div>
				</div>
			</div>

			<div id="pop_wrap">
				<div style="padding: 20px 0 0 30px;">
					<i class="required-img">
						<span class="hidden">필수입력</span>
					</i>
					<span>는 필수 입력 사항 입니다.</span>
				</div>
				<form action="attachmentForm" name="attachmentForm" method="post" enctype="multipart/form-data">

					<div class="pop_contents">
						<table class="board_table topT">
							<colgroup>
								<col width="10%">
								<col width="50%">
								<col width="40%">
							</colgroup>

							<thead>
								<div class="board_h">
									<div class="board_total">*공통 증빙서류</div>
								</div>

								<tr>
									<th style="border-right: 1px solid #ddd;">구분</th>
									<th colspan="2">제출서류명</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td rowspan="3" style="vertical-align: middle; border-right: 1px solid #ddd;">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>공통서류</span>
									</td>
									<td style="vertical-align: middle; border-right: 1px solid #ddd;">사업자 등록증</td>
									<td style="vertical-align: middle;"><input type="file" /></td>
								</tr>
								<tr>
									<td style="vertical-align: middle; border-right: 1px solid #ddd;">업무관련 등록 신고현황</td>
									<td style="vertical-align: middle;"><input type="file" /></td>
								</tr>
								<tr>
									<td style="vertical-align: middle; border-right: 1px solid #ddd;">납세증명확인서</td>
									<td style="vertical-align: middle;"><input type="file" /></td>
								</tr>

							</tbody>
						</table>
					</div>

					<div class="pop_contents">
						<table class="board_table topT">
							<colgroup>
								<col width="10%">
								<col width="50%">
								<col width="40%">
							</colgroup>

							<thead>
								<div class="board_h">
									<div class="board_total">*개인 증빙서류</div>
								</div>

								<tr>
									<th style="border-right: 1px solid #ddd;">구분</th>
									<th colspan="2">제출서류명</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td rowspan="4" style="vertical-align: middle; border-right: 1px solid #ddd;">개인서류
									</td>
									<td style="vertical-align: middle; border-right: 1px solid #ddd;">이력서</td>
									<td style="vertical-align: middle;"><input type="file" /></td>
								</tr>
								<tr>
									<td style="vertical-align: middle; border-right: 1px solid #ddd;">학력정보</td>
									<td style="vertical-align: middle;"><input type="file" /></td>
								</tr>
								<tr>
									<td style="vertical-align: middle; border-right: 1px solid #ddd;">경력정보</td>
									<td style="vertical-align: middle;"><input type="file" /></td>
								</tr>
								<tr>
									<td style="vertical-align: middle; border-right: 1px solid #ddd;">자격증정보</td>
									<td style="vertical-align: middle;"><input type="file" /></td>
								</tr>

							</tbody>
						</table>
					</div>

					<div class="pop_contents">
						<table class="board_table topT">
							<colgroup>
								<col width="10%">
								<col width="50%">
								<col width="40%">
							</colgroup>

							<thead>
								<div class="board_h">
									<div class="board_total">*기타 증빙서류</div>
								</div>

								<tr>
									<th style="border-right: 1px solid #ddd;">구분</th>
									<th colspan="2">제출서류명</th>
								</tr>
							</thead>
							<tbody>


							</tbody>
						</table>
					</div>

					<div class="btnbox btnbox02">
						<input type="button" class="btn4d5" value="이전" onclick="history.back();" />
						<input type="submit" class="btnfb7" value="제출">
					</div>
				</form>
			</div>

		</div>
	</div>

</th:block>


</html>