<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->

<link rel="stylesheet" th:href="@{/css/applicationPopup.css}">
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script th:src="@{/js/applicationEducationPopup.js}"></script>
<th:block>
	<div class="educationPopup">
		<div class="educationPopup-wrap">
			<div id="pop_wrap">

				<form action="educationPopupForm" id="educationPopupForm" name="educationPopupForm" method="post">
					<input type="hidden" id="announce_proper_num" name="announce_proper_num" th:value="${param.announce}">
					<input type="hidden" id="aplcn_dtls_proper_num" name="aplcn_dtls_proper_num" th:value="${param.detail}">
					<div class="pop_contents">
						<span>*학력사항 입력</span>
						<table class="tableT popT">
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<tr class="uptr01">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>학교명</span>
									</th>
									<td>
										<input type="text" name="edctn_school_name" id="edctn_school_name" title="학교명">
										<span id="msg1" style="color: red;"></span>
									</td>
								</tr>
								<tr class="uptr01">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>학과(전공)</span>
									</th>
									<td>
										<input type="text" name="edctn_major" id="edctn_major" title="학과(전공)">
										<span id="msg2" style="color: red;"></span>
									</td>
								</tr>
								<tr class="uptr02">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>학위</span>
									</th>
									<td>
										<select class="selC" name="edctn_degree" id="edctn_degree" title="학위" style="width: 140px;">
											<option value='' selected="selected">선택하세요</option>
											<option value='대학교 재학'>대학교 재학</option>
											<option value='대학교 휴학'>대학교 휴학</option>
											<option value='대학교 졸업'>대학교 졸업</option>
										</select>
										<span id="msg3" style="color: red;"></span>
									</td>
								</tr>
								<tr class="uptr01">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>입학일</span>
									</th>
									<td>
										<input type="text" class="datepicker" name="edctn_admsn_date" id="edctn_admsn_date" title="입학일" readonly placeholder="날짜선택" pattern="\d{4}-\d{2}-\d{2}">
										<span id="msg4" style="color: red;"></span>
									</td>
								</tr>
								<tr class="uptr01">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>졸업일</span>
									</th>
									<td>
										<input type="text" class="datepicker" name="edctn_grdtn_date" id="edctn_grdtn_date" title="졸업일" readonly placeholder="날짜선택" pattern="\d{4}-\d{2}-\d{2}">
										<span id="msg5" style="color: red;"></span>
									</td>
								</tr>

							</tbody>

						</table>
					</div>
					<div style="padding-left: 40px;">
						<i class="required-img">
							<span class="hidden">필수입력</span>
						</i>
						<span>는 필수 입력 사항 입니다.</span>
					</div>
					<div class="btnbox btnbox02">
						<input type="submit" class="btnfb7" id="popupClose" value="입력"/>
					</div>
			</div>
			</form>

		</div>
	</div>
	</div>
</th:block>

</html>