<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->

<link rel="stylesheet" th:href="@{/css/application.css}">
<th:block th:replace="~{./include/layout :: setContent(~{::.complete})}">
	<div class="complete">
		<div class="complete-wrap">
			<div class="pop_contents completeIcon">
	
				<div class="success-checkmark">
					<div class="check-icon">
						<span class="icon-line line-tip"></span>
						<span class="icon-line line-long"></span>
						<div class="icon-circle"></div>
						<div class="icon-fix"></div>
					</div>
				</div>
				<center>
					<div class="pop_header complete">
						<h1 class="tith5">신청 완료</h1>
					</div>
					<h3 class="completeMsg">신청해 주셔서 감사합니다.</h3>
					<h3 class="completeMsg">심사 완료까지 최소 5일 ~ 최대 14일 소요될 수 있습니다.</h3>
					<div class="btnbox btnbox02">
						<input type="button" class="btnfb7 completeBtn" value="신청내역 확인하러 가기"
							onclick="location.href = '/usermypage/usermypage_applicationlist'" />
						<input type="button" class="btn4d5" value="홈으로" onclick="location.href = '/'" />
					</div>
				</center>
	
			</div>
		</div>
	</div>
	
</th:block>

</html>