<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/application.css}">
<link rel="stylesheet" th:href="@{/css/applicationStateBar.css}">
<script src="https://code.jquery.com/jquery.min.js"></script>
<script th:src="@{/js/jquery.multiselect.js}"></script>
<link rel="stylesheet" th:href="@{/css/jquery.multiselect.css}">
<th:block th:replace="~{./include/layout :: setContent(~{::.basic})}">
	<div class="basic">
		<div class="basic-wrap">
			<div class="pop_header">
				<h1 class="tith5">기본 정보</h1>
			</div>

			<div class="accept-wrap">
				<div class="accept-contents">
					<div class="contents-inner">
						<ol class="process">
							<li class="first">
								<span class="num">01.</span>
								<span class="process-text">약관 동의</span>
							</li>
							<li class="current">
								<span class="num">02.</span>
								<span class="process-text">기본 정보</span>
							</li>
							<li>
								<span class="num">03.</span>
								<span class="process-text">학력 정보</span>
							</li>
							<li>
								<span class="num">04.</span>
								<span class="process-text">경력 정보</span>
							</li>
							<li>
								<span class="num">05.</span>
								<span class="process-text">자격증 정보</span>
							</li>
							<li class="last">
								<span class="num">06.</span>
								<span class="process-text">증빙서류</span>
							</li>
						</ol>
					</div>
				</div>
			</div>

			<div id="pop_wrap">
				<div style="padding: 20px 0 0 30px;">
					<i class="required-img">
						<span class="hidden">필수입력</span>
					</i>
					<span>는 필수 입력 사항 입니다.</span>
				</div>
				<form action="basicForm" name="basicForm" method="post">
					<div class="pop_contents">

						<table class="tableT popT">
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<span class="sm_title">*조력자 선택</span>
								<tr class="uptr02">

									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>조력자 분류</span>
									</th>
									<td class="">

										<select class="selC" name="email_select" id="email_select" title="조력자 선택"
											onchange="email_selects()">
											<option value='' selected="selected">선택하세요</option>
											<option value='시가등(소송)'>시가등(소송)</option>
											<option value='경매'>경매</option>
											<option value='공사비'>공사비</option>
											<option value='측량'>측량</option>
											<option value='문서/인영/필적'>문서/인영/필적</option>
											<option value='번역/통역'>번역/통역</option>
										</select>
										<select class="selC" name="email_select" id="email_select" title="조력자 선택"
											onchange="email_selects()">
											<option value='' selected="selected">선택하세요</option>
											<option value='공사비등'>공사비등</option>
											<option value='구조(안전진단)'>구조(안전진단)</option>
											<option value='건축시공A'>건축시공A</option>
											<option value='건축시공B'>건축시공B</option>
											<option value='건축구조'>건축구조</option>
										</select>
									</td>

								</tr>

							</tbody>

						</table>

					</div>

					<div class="pop_contents">
						<table class="tableT popT">
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<span class="sm_title">*희망법원 선택</span>
								<tr class="uptr02">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>희망법원 선택</span>
									</th>
									<td>
										<select id="demo" multiple="multiple" class="selC" name="select"
											title="희망법원 선택">
											<option value="서울법원"><!--selected-->서울법원</option>
											<option value="경기법원">경기법원</option>
											<option value="광주법원">광주법원</option>
											<option value="부산법원">부산법원</option>
											<option value="대구법원">대구법원</option>
											<option value="울산법원">울산법원</option>
											<option value="강원법원">강원법원</option>
											<option value="제주법원">제주법원</option>
											<option value="인천법원">인천법원</option>
											<option value="대전법원">대전법원</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="pop_contents">
						<span class="sm_title">*신청인 기본 정보</span>
						<table class="tableT popT">
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<tr class="uptr01">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>이름</span>
									</th>
									<td><input type="text" name="visit_name" id="id_visit_name" title="신청기관명"></td>
								</tr>
								<tr class="uptr04">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>주민등록번호</span>
									</th>
									<td><input title="주민번호앞자리" name="hp_1" type="text" maxlength='6'> <span>-</span>
										<input title="주민번호뒷자리" name="hp_3" type="text" maxlength='7'>
										<button type="button"
											style="border: 1px solid #888888; border-radius: 3px; height: 30px; vertical-align: middle;">실명확인</button>
									</td>
								</tr>
								<tr class="uptr04">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>핸드폰번호</span>
									</th>
									<td><input title="핸드폰앞자리" name="hp_1" type="text"
											onKeyUp="javascript:numCheck(document.writeForm.hp_1);" maxlength='3'>
										<span>-</span> <input title="핸드폰중간자리" name="hp_2" type="text"
											onKeyUp="javascript:numCheck(document.writeForm.hp_2);" maxlength='4'>
										<span>-</span> <input title="핸드폰뒷자리" name="hp_3" type="text"
											onKeyUp="javascript:numCheck(document.writeForm.hp_3);" maxlength='4'>
									</td>
								</tr>
								<tr class="uptr04">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>연락처</span>
									</th>
									<td><input title="지역번호" name="tel_1" id="id_tel_1" type="text"
											onKeyUp="javascript:numCheck(document.writeForm.tel_1);" maxlength='3'>
										<span>-</span> <input title="국번" name="tel_2" type="text"
											onKeyUp="javascript:numCheck(document.writeForm.tel_2);" maxlength='4'>
										<span>-</span> <input title="전화번호뒷자리" name="tel_3" type="text"
											onKeyUp="javascript:numCheck(document.writeForm.tel_3);" maxlength='4'>
									</td>
								</tr>
								<tr class="uptr02">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>이메일</span>
									</th>
									<td class="">
										<input type="text" title="이메일아이디" name="email1" id="email-user" maxlength="50"
											onkeyup="javascript:lengthCheckKor(document.writeForm.email1, '50', '전자우편')">
										<span>@</span> <input type="text" title="전자우편서비스" name="email2"
											id="email-provider" maxlength="40"
											onkeyup="javascript:lengthCheckKor(document.writeForm.email2, '40', '전자우편')">
										<select class="selC" name="email_select" id="email_select" title="전자우편서비스선택"
											onchange="email_selects()">
											<option value='' selected="selected">선택하세요</option>
											<option value='hanmail.net'>hanmail.net</option>
											<option value='lycos.co.kr'>lycos.co.kr</option>
											<option value='empal.com'>empal.com</option>
											<option value='hotmail.com'>hotmail.com</option>
											<option value='naver.com'>naver.com</option>
											<option value='paran.com'>paran.com</option>
											<option value='yahoo.co.kr'>yahoo.co.kr</option>
											<option value='nate.com'>nate.com</option>
											<option value=''>직접입력</option>
										</select>
									</td>
								</tr>
								<tr class="uptr01" style="border: none;">
									<th class="" rowspan="3">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>주소</span>
									</th>
									<td style="border-bottom: none;">
										<span>우편번호 : </span>
										<input type="text" name="visit_name" id="id_visit_name" title="신청기관명">
										<button type="button"
											style="border: 1px solid #888888; border-radius: 3px; height: 30px; vertical-align: middle;">주소검색</button>
									</td>

								</tr>
								<tr class="uptr01">
									<td style="border-bottom: none;">
										<span style="letter-spacing: 4.8px;">주소 : </span><input type="text"
											name="visit_name" id="id_visit_name" title="신청기관명">
									</td>
								</tr>
								<tr class="uptr01">
									<td>
										<span>상세주소 : </span><input type="text" name="visit_name" id="id_visit_name"
											title="신청기관명">
									</td>
								</tr>
							</tbody>

						</table>
					</div>

					<div class="pop_contents">
						<table class="board_table topT">
							<colgroup>
								<col width="20%">
								<col width="20%">
								<col width="60%">
							</colgroup>

							<thead>
								<span class="sm_title">*추가 정보</span>
								<tr>
									<th>경력명</th>
									<th>
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>경력 유/무</span>
									</th>
									<th>경력내용</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td style="vertical-align: middle;">소송사건 당사자 경력</td>
									<td style="text-align:center; vertical-align: middle;" class="toptd">
										<input type="radio" name="chk_info" value="예">예
										<input type="radio" name="chk_info" value="아니오">아니오
									</td>
									<td><textarea
											style="border: 1px solid #ddd; width: 95%; resize: none; height: 100px;"></textarea>
									</td>
								</tr>

								<tr>
									<td style="vertical-align: middle;">보험업계 자문 경력</td>
									<td style="text-align:center; vertical-align: middle;" class="toptd">
										<input type="radio" name="chk_info" value="예">예
										<input type="radio" name="chk_info" value="아니오">아니오
									</td>
									<td><textarea
											style="border: 1px solid #ddd; width: 95%; resize: none; height: 100px;"></textarea>
									</td>
								</tr>

								<tr>
									<td style="vertical-align: middle;">형사처벌 받은 경력</td>
									<td style="text-align:center; vertical-align: middle;" class="toptd">
										<input type="radio" name="chk_info" value="예">예
										<input type="radio" name="chk_info" value="아니오">아니오
									</td>
									<td><textarea
											style="border: 1px solid #ddd; width: 95%; resize: none; height: 100px;"></textarea>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
					<div class="btnbox btnbox02">
						<input type="button" class="btn4d5" value="이전" onclick="history.back()" />
						<input type="submit" class="btnfb7" value="다음">
					</div>
			</form>
			</div>
	</div>

		</div>

</th:block>

</html>