<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/applicationPopup.css}">
<th:block>
	<div class="educationPopup">
		<div class="educationPopup-wrap">
			<div id="pop_wrap">

				<form action="educationPopupForm" name="educationPopupForm" method="post">
					<div class="pop_contents">
						<span class="sm_title">*학력사항 입력</span>
						<table class="tableT popT">
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<tr class="uptr01">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>학교명</span>
									</th>
									<td><input type="text" name="visit_name" id="id_visit_name" title="신청기관명"></td>
								</tr>
								<tr class="uptr01">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>학과(전공)</span>
									</th>
									<td><input type="text" name="visit_name" id="id_visit_name" title="신청기관명"></td>
								</tr>
								<tr class="uptr02">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>학위</span>
									</th>
									<td>
										<select class="selC" name="email_select" id="email_select" title="조력자 선택"
											onchange="email_selects()" style="width: 140px;">
											<option value='' selected="selected">선택하세요</option>
											<option value='대학교 재학'>대학교 재학</option>
											<option value='대학교 휴학'>대학교 휴학</option>
											<option value='대학교 졸업'>대학교 졸업</option>
										</select>
									</td>
								</tr>
								<tr class="uptr01">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>입학 년월</span>
									</th>
									<td><input type="text" name="visit_name" id="id_visit_name" title="신청기관명"></td>
								</tr>
								<tr class="uptr01">
									<th class="">
										<i class="required-img">
											<span class="hidden">필수입력</span>
										</i>
										<span>졸업 년월</span>
									</th>
									<td><input type="text" name="visit_name" id="id_visit_name" title="신청기관명"></td>
								</tr>

							</tbody>

						</table>
					</div>
					<div style="padding-left: 40px;">
						<i class="required-img">
							<span class="hidden">필수입력</span>
						</i>
						<span>는 필수 입력 사항 입니다.</span>
					</div>
					<div class="btnbox btnbox02">
						<input type="submit" class="btnfb7" value="입력" onclick="window.close()" />
					</div>
			</div>
			</form>

		</div>
	</div>
	</div>
</th:block>

</html>