<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/applicationPopup.css}">
<th:block>
	<div class="workPopup">
		<div class="workPopup-wrap">
			<div id="pop_wrap">

				<form action="workPopupForm" name="workPopupForm" method="post">
					<div class="pop_contents">
						<span class="sm_title">*근무경력 및 활동경력사항 입력</span>
						<table class="tableT popT">
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<tr class="uptr01">
									<th class="">회사명/활동기관명</th>
									<td><input type="text" name="visit_name" id="id_visit_name" title="신청기관명"></td>
								</tr>
								<tr class="uptr01">
									<th class="">경력 구분</th>
									<td>
										<input type="radio" name="chk_info" value="해당 조력자 경력" style="height: 14px; width: 30px;">해당 조력자 경력
										<input type="radio" name="chk_info" value="기타 경력" style="height: 14px; width: 30px;">기타 경력
									</td>
								</tr>
								<tr class="uptr04">
									<th class="">기간</th>
									<td><input name="" type="text"> <span>-</span>
										<input name="" type="text"></td>
								</tr>
								<tr class="uptr01">
									<th class="">수행업무</th>
									<td><input type="text" name="visit_name" id="id_visit_name" title="신청기관명"></td>
								</tr>
								
								<tr class="uptr01">
									<th class="">부서</th>
									<td><input type="text" name="visit_name" id="id_visit_name" title="신청기관명"></td>
								</tr>
								
								<tr class="uptr01">
									<th class="">직책</th>
									<td><input type="text" name="visit_name" id="id_visit_name" title="신청기관명"></td>
								</tr>
								
							</tbody>

						</table>
					</div>
					
					<div class="btnbox btnbox02">
						<input type="submit" class="btnfb7" value="입력" onclick="window.close()"/>
					</div>
			</div>
			</form>

		</div>
	</div>
	</div>
</th:block>

</html>