<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/noticeDetail.css}">
<link rel="stylesheet" th:href="@{/css/layout-announceList-side.css}">

<th:block th:replace="~{./include/layout :: setContent(~{::.faqRegistWrap})}">


	<!--contents-->
	<div class="faqRegistWrap mainWrap">

		<div class="contentsbox" id="content">
			<div> <!--sidebar-->
         		<th:block th:replace="~{./include/layout-announceList-side}"></th:block>
      		</div>
			<div id="contentsIn">
				<div id="contentstitle">
					<span class="FAQtitle">자주묻는질문(FAQ)</span>
					<span style="float: right; vertical-align: text-bottom; padding-top: 5px;">홈 > 공지사항 > 자주묻는질문</span>
				</div>
				<div id="contents">
					<form id="faqRegistForm" action="faqRegistForm" method="post">
						<div class="tablebox">
							<table>
								<colgroup>
									<col style="width: 20%;">
									<col style="width: 80%;">
								</colgroup>
								<tbody>

									<tr class="firstTh">
										<th class scope="row">질문</th>
										<td class="left" colspan="5"><input type="text" name="faq_ask_content" style="width: 100%;" required>
										</td>
									</tr>

									<tr>
										<td colspan="4" class="contents left" style="text-align: left;">
											<p class="textArea">
												<textarea name="faq_ask_comment" id="faqRegist" cols="30" rows="10" style="width: 99%; height: 200px;"></textarea>
											</p>
										</td>
									</tr>

								</tbody>
							</table>

						</div>

						<div class="btnbox btnbox02">
							<input type="submit" class="btnfb7" value="등록">
							<a href="faqList" class="btn4d5" onclick="javascript:window.close();">취소</a>
						</div>


					</form>
				</div>
			</div>
		</div>

	</div>

	</div>


</th:block>
<script>
    document.querySelector('form').addEventListener('submit', function (e) {
        e.preventDefault();
        
        // TextArea에서 텍스트를 가져옵니다.
        const textarea = document.getElementById('faqRegist');
        const text = textarea.value;
        
        // 줄 바꿈 문자를 br 태그로 변환합니다.
        const textWithHtmlLineBreaks = text.replace(/\n/g, '<br>');
        
        // 변환된 텍스트를 hidden input에 저장하거나 서버로 직접 전송할 수 있습니다.
        // 이 예제에서는 hidden input에 저장합니다.
        const hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = 'faq_ask_comment';
        hiddenInput.value = textWithHtmlLineBreaks;
        
        // Form에 hidden input을 추가합니다.
        this.appendChild(hiddenInput);
        
        // Form을 서버로 제출합니다.
        this.submit();
    });
</script>

</html>