@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');
body{ font-family: 'Noto Sans KR', sans-serif;}
/******************************************************************/
/* wrap */

#popup-wrap {
	width: 760px;
	margin: 0 auto;
}

/******************************************************************/
/* announce title */
.announce-section {
	height: 30px;
	margin-top: 20px;
	margin-bottom: 60px;
}

.announce-table{
	width: 100%;
	height: 60px;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

.announce-table td {
	border: 1px solid white;
}

.announce-title {
	width: 200px;
	background-color: #034273;	
	text-align: center;
	vertical-align: middle;
	color: white;
}

.announce-content {
	background-color: rgb(228, 228, 228);
	text-align: center;
	vertical-align: middle;	
}

/******************************************************************/
/* evaluation-taret */
.evaluation-line1 {
	margin-bottom: 30px;
}

.evaluation-target-table{
	width: 100%;
	height: 120px;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

.evaluation-target-table td {
	border: 1px solid white;
}

.evaluation-target-line1 td:nth-child(1),
.evaluation-target-line2 td:nth-child(1) {
	width: 200px;
	background-color: #034273;	
	text-align: center;
	vertical-align: middle;
	color: white;
}

.evaluation-target-line1 td:nth-child(2),
.evaluation-target-line2 td:nth-child(2) {
	background-color: rgb(228, 228, 228);
	text-align: center;
	vertical-align: middle;	
}

/******************************************************************/
/* evaluation-score */
.evaluation-line2 {
	margin-bottom: 30px;
}

.evaluation-score-table{
	width: 100%;
	height: 185px;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

.evaluation-score-table td {
	border: 1px solid white;
}

.evaluation-score-line1 td:nth-child(1),
.evaluation-score-line2 td:nth-child(1),
.evaluation-score-line3 td:nth-child(1),
.evaluation-score-line1 td:nth-child(3),
.evaluation-score-line2 td:nth-child(3),
.evaluation-score-line3 td:nth-child(3) {
	width: 200px;
	background-color: #034273;	
	text-align: center;
	vertical-align: middle;
	color: white;
}

.evaluation-score-line1 td:nth-child(2),
.evaluation-score-line2 td:nth-child(2),
.evaluation-score-line3 td:nth-child(2),
.evaluation-score-line1 td:nth-child(4),
.evaluation-score-line2 td:nth-child(4),
.evaluation-score-line3 td:nth-child(4){
	background-color: rgb(228, 228, 228);
	text-align: center;
	vertical-align: middle;	
	width: 180px;
}

/******************************************************************/
/* evaluation-review */
.evaluation-line3 {
	margin-bottom: 30px;
}

.evaluation-review-table{
	width: 100%;
	height: 240px;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

.evaluation-review-table td {
	border: 1px solid white;
}

.evaluation-review-line1{
	height: 60px;
}

.evaluation-review-line1 td {
	background-color: #034273;	
	text-align: center;
	vertical-align: middle;
	color: white;
}

.evaluation-review-line2 td {
	background-color: rgb(228, 228, 228);
	text-align: center;
	vertical-align: middle;	
}

#review_etc {
	width: 700px;
	font-size: 14px;
	font-weight: bold;
	height: 120px;
	resize: none;
	border-width: 3px;
}


/******************************************************************/
/* evaluation-result */
.evaluation-line4 {
	margin-bottom: 30px;
}

.evaluation-result-table{
	width: 100%;
	height: 60px;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

.evaluation-result-table td {
	border: 1px solid white;
}

.evaluation-result-line1 td:nth-child(1) {
	background-color: #034273;	
	text-align: center;
	vertical-align: middle;
	color: white;
	width: 200px;
}

.evaluation-result-line1 td:nth-child(2) {
	background-color: rgb(228, 228, 228);
	text-align: center;
	vertical-align: middle;	
}

/******************************************************************/
/* button */
.btnbox {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.btnbox .btnfb7 {
	background-color: rgb(11, 38, 110);
	font-size: 20px;
	color: #FFF;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	padding: 0 25px;
	vertical-align: middle;
	font-family: "ngB" !important;
}

.btnbox .btn4d5 {
	background-color: #4d515b;
	font-size: 20px;
	color: #FFF;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	padding: 0 25px;
	vertical-align: middle;
	font-family: "ngB" !important;
}

.btnbox02 input {
	width: 129px;
	box-sizing: border-box;
}

