@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');
body{ font-family: 'Noto Sans KR', sans-serif;}
.adminmypage-evaluationlist {
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.adminmypage-evaluationlist-wrap {
	width: 1280px;
	position: relative;
}

.titleImg {
  background-image: url(/img/title_img_de.png);
  background-size: 1100px;
  background-position: 0px 90px;
  height: 70px;
  line-height: 70px;
  
  margin-top: 30px;
  padding-left: 20px;
  color : #08125E;
}
.user-applicationlist {
	border-bottom: 3px solid black;
}

.user-applicationlist-wrap {
	margin-left: 250px;
}

.user-applicationlist h3 {
	font-size: 25px;
	font-weight: 550;
	padding-bottom: 15px;
}

.user-applicationlist-title {
	margin: 15px 0;
}

.board_table {
	width: 100%;
	border-top: 2px #333333 solid;
	border-bottom: 1px #959595 solid;
	margin-top: 15px;
}

.board_table th {
	background-color: #F0F2FE; /* #f3f4fb;*/
	font-size: 16px;
	color: #222222;
	padding: 12px 0;
	border-bottom: 1px #959595 solid;
	letter-spacing: -0.7px;
}

.board_table td {
	font-size: 15px;
	color: #555555;
	padding: 10px 0;
	border-bottom: 1px #ebebeb solid;
	text-align: center;
	word-break: keep-all;
	letter-spacing: -0.7px;
}

.board_table td>img {
	width: auto;
}

.board_table .toptd a {
	position: relative;
}

.board_table .bB0 td {
	border-bottom: 0;
}

.top_s {
	display: inline-block;
	width: 30px;
	height: 15px;
	font-size: 11px;
	color: #FFF;
	background: #ED7032;
	text-align: center;
	/*font-family: "ngB" !important;*/
	line-height: 15px;
	border-radius: 2px;
	position: absolute;
	left: -36px;
	top: 3px;
}

.board_total {
	color: #222222;
	font-size: 16px;
	line-height: 29px;
	float: left;
}

.board_search_text {
	float: right;
}

.search-wrap {
	overflow: hidden;
	margin-top: 30px;
}

.searchzonewrap {
	width: 100%;
	height: 120px;
	background-color: #F0F2FE;
	margin-bottom: 20px;
}

.board_search_date {
	margin-left: 120px;
	float: left;
}

.board_search input,
.board_search select {
	padding-left: 5px;
	border: 1px #c4c4c4 solid;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	box-sizing: border-box;
	vertical-align: top;

}

.search_btn {
	display: inline-block;
	background: rgb(11, 38, 110);
	color: white;
	font-size: 13px;
	/*font-family: "ngB" !important;*/
	height: 30px;
	line-height: 30px;
	width: 80px;
	text-align: center;
	vertical-align: top;
}

.colfb7 {
	color: orange;
}

input[type='text'].datepicker {
	width: 120px;
	background: url('/img/calander.png');
	background-repeat: no-repeat;
	background-position-x: 90px;
	background-position-y: 5px;
}

.date-content {
	line-height: 30px;
}

.board_search_sts {
	float: left;
	margin-left: 30px;
}
.sts-content {
	line-height: 30px;
}

.btnfb7 {
	background-color: rgb(11, 38, 110);
	font-size: 13px;
	color: #FFF;
	width: 80px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
	font-family: "ngB" !important;
}