@charset "UTF-8";
@font-face {
  font-family: 'Noto Sans KR', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
}

*{ padding: 0; margin: 0; }
ul, li { list-style: none; } 
*{ margin: 0 auto; }

body{ font-family: 'Noto Sans KR', sans-serif;}

.announceDetail {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 150px;
}
.announceDetail-wrap {
   width: 1280px;
   position: relative;
}
.announceInner {
   display: block;
   /*margin-left: 280px;*/
   margin: 0 auto;  
}
a{
  text-decoration: none;  
}
/***********************************************/

.announceTitle{
  font-size: x-large;
  font-weight: 800;
/*  padding: 20px;*/
  padding-left: 5px;
  padding-bottom: 15px;
  border-bottom: 3px solid #585858;
  color: #2E2E2E;
}
.announceBox {
   padding-bottom: 20px;
   width: 70%;
   /* */
   margin: 0 auto;
   margin-top: 50px;
}
.annouonceTable {
  width: 100%;
  border-collapse: collapse;  
  /*display: table;*/
  /*table-layout: auto;*/
 /* border-top: 2px solid rgb(145, 145, 145);*/
}

.annouonceTable td {
  /* border-bottom: 0.5px solid rgb(196, 196, 196); */
  vertical-align: middle;
 /* padding: 10px;*/
}
.board th{  
  width: 17%;
  height: 50px;
  line-height: 50px; 
  font-weight: 800;
  
 /* text-align: center;*/
  color: #424242;
/*  border: 0.3px solid #BDBDBD; */
  border-top: 0.3px solid #BDBDBD;
  border-bottom: 0.3px solid #BDBDBD;  
  background-color: #E8E8E9; /*#E0E0E0 ;*/ 
}
.board tr{
  /* width: 100%; */
  border-bottom: 0.5px solid rgb(196, 196, 196);
}
.board td {
  /* width: 300px; */
  padding-left: 25px;
  height: 50px;  
  /*border: 0.3px solid #BDBDBD;*/
  border-top: 0.3px solid #BDBDBD;
  border-bottom: 0.3px solid #BDBDBD;   
}
.board .title {
  border-top: 3px solid #848484;
}
.board .tdtitle {
  border-top: 3px solid #848484;
}
.announceContent { 
  height: 350px;
}
.announceContent th {
	padding-top: 130px;
}
.innerContent {
	line-height: 30px;
}
/***********************************************/
.nextTable { 
  width:100%; 
  margin-top: 50px;  
  margin-bottom: 30px;
  border-top:3px solid  rgb(109, 109, 109); 
  font-size:16px;
}
.nextContent {  
  padding-left:100px; 
  width: 200px;
  font-weight: 700;  
}
.nextTable tr td {
  padding-top: 20px;
}
.nextTable tr td a:hover{ 
  color:#0057a1; 
  text-decoration:underline; 
  font-weight:bold; 
}
.nextTitle {
  text-decoration: none;
  color: rgb(97, 97, 97);
}
/***********************************************/
.btn {
  display: flex;
  float: right;

  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 80px;
  padding-left: 22px; 
  width: 70px;
  height: 30px;
  line-height: 29.5px;

  font-size: 14px;  
  font-weight: 500;
  border: none;
  background-color:  rgb(11, 38, 110);
    
  vertical-align: middle;
  font-family:"ngB" !important;
}
.btn > a{
  color: white;
}
.btn > a:hover{
  text-decoration: none;
}
.delBtn {
	  text-decoration: none;  
	background-color: rgb(124, 124, 124);
}