@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');

*{ padding: 0; margin: 0; }
ul, li { list-style: none; } 
*{ margin: 0 auto; }

body{ font-family: 'Noto Sans KR', sans-serif;}

.announceDetail {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 150px;
}
.announceDetail-wrap {
   width: 1280px;
   position: relative;
}
.announceInner {
   display: block;
   margin: 0 auto;   
   margin-left: 250px;
   margin-bottom: 150px;
   min-height: 800px;
}
a{
  text-decoration: none;  
}
/***********************************************/

.announceTitle{
  font-size: x-large;
  font-weight: 600;
/*  padding: 20px;*/
  padding-left: 5px;
  padding-bottom: 15px;
  border-bottom: 3px solid #081247; /* #08124E;*/ /* #090C5F;*/
  color: #2E2E2E; /* #081247; */  /* #2E2E2E;*/
}
.menuBtnBox{
	display: block;
	float: right;
	margin-top: 20px;
/*	margin-bottom: 20px;*/
}
.btnWrap {
	display: block;
	float: right;	
	margin-top : -25px;
}
.btnWrap li {
	display: inline-block;
	/*border:  0.5px solid #A4A4A4;*/
	border-radius: 2px;
	/*background-color: white;*/
	background-color: #eff1f5; /*dde3eb;*/
	width: 29px;
	height: 29px;
	text-align: center;	
	/*margin-left: 3px;*/
	
}
.btn_plus {	
}
.btn_reset {	
}
.btn_mius {
	padding-bottom: 5px;
}
.snsBtn{
	display: inline-block;
    border: 0.5px solid #BDBDBD;
    padding: 5px;
	margin-right: 5px;
}
.snsBox {
	display: none;
	position: absolute;
	z-index: 10;
	right: -1px;
	padding: 10px;
	width: 124px;
	height: 30px;
	background-color: white;
	border: 2px solid #A4A4A4;
}
.snsBoxInner span {
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	margin: 7px 5px 0px 0px;
}
.icon {
	padding-top: 20px;
	margin-left: 3px;
	margin-right: 3px;
}
.printBtn{
	display: inline-block;
	border: 0.5px solid #BDBDBD;
    padding: 5px;
	margin-right: 2px;
}

.announceBox {
   margin: 0 auto;
   margin-top: 70px;
   padding-bottom: 20px;
   width: 100%;   /* 70%;*/
   /*border-top: 2px solid  #081247; */ 
}
.announceTable {
  display: table-cell;
  margin: 0;
  width: 100%;
  table-layout: fixed; /* auto */
  border-collapse: collapse;  
  /*display: table;*/  
  /* border-top: 2px solid rgb(145, 145, 145);*/
}

#boardTitle {
  border-top: 2px solid  #081247;  /* 08124E #222A61; */
}

.recruitNumth, .recruitNum {
    display: none;
}

.board tr{
  /* width: 100%; */
  /*border-bottom: 0.5px solid rgb(196, 196, 196);*/
  border-bottom: 0.3px solid #dbdbe4;  /* #AEAFBF;*/
}
.board th{  
  width: 180px;
  height: 50px;
  line-height: 50px; 
  font-weight: 800;
  overflow: visible;
 /* text-align: center;*/
  color: #5e5e5e;
/*  border-top: 0.3px solid #BDBDBD;*/
  border-bottom: 0.3px solid #dbdbe4;   /* #BDBDBD; */  
  background-color: #F0F2FE; /* f5f6f9 #f3f3fb;  */  /* #F2F2F2; #E8E8E9; #E0E0E0 ;*/
}
.modifyDate{
  width: 180px;
  height: 50px;
  line-height: 50px; 
  font-weight: 800;
  overflow: visible;
   color: #424242;
}
.board td {
  width: 300px;
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;  
  overflow: visible;
  vertical-align: middle;  
  white-space: nowrap;
  /*border-top: 0.3px solid #BDBDBD;*/
  border-bottom: 0.3px solid #dbdbe4; /* #B8B9D9;*/
}

.tdsize {
	/*width: 150px;*/
	/*overflow: auto;*/
	/*padding-right: 100px;*/
}
td .left{
	width: 100px;
}

.announceContent { 
  padding: 30px;
  min-height: 250px;
}


.fileBox {
	margin-top: 50px;
	margin-bottom: 20px;
	/*padding-bottom: 15px;*/
	border-top: 1.5px solid #dbdbe4; /* #c1c1c1;*/
	border-bottom: 1.5px solid #dbdbe4;
}
.file {	
	padding-top: 15px;
	padding-left: 20px;
	padding-bottom: 15px;
	font-size: 16px;
	font-weight: 800px;
	/*border-bottom: 0.5px solid #A4A4A4;  #BDBDBD;*/
	background-color: #F0F2FE;
}
.left{
	display: inline-block;
	padding-top: 15px;
	padding-left: 20px;
/*	padding-bottom: 15px;*/
	margin-bottom: 15px;
	font-size: 14px;
}
/***********************************************/
.applyBox {
	display: block;
	margin : 0 auto;
	text-align: center;	
	width: 120px;
	height: 50px;
	line-height: 50px;
	background-color: #0B196B;
	border-radius: 2px;
}
.applyBtn {
	color: white;	
	text-align: center;
}
.applyBox > a:hover {
	text-decoration: none;	
}

/***********************************************/
.nextTable { 
  width:100%; 
  margin-top: 50px;  
  /*margin-bottom: 30px;*/
  border-top: 2px solid  #08124E;/* #222A61;  */
  border-bottom: 1px solid #dbdbe4; 
  font-size:16px;
}
.nextContent {  
  padding-left:50px;
  padding-bottom: 20px ;
  width: 100px;
  font-weight: 700;  
  background-color: #F0F2FE; /* #f5f6f9; */ /*  #f3f3fb; */
}
.nextTable tr td {
  padding-top: 20px;
}
.nextTable tr td a:hover{ 
  text-decoration: none;
  color: #004B8C; /* #0057a1; */
  text-decoration:underline;
  font-weight:bold; 
}
.nextTitle {
  text-decoration: none;
  padding-left: 25px; 
  color: #5e5e5e;
}

.prevTable { 
  width:100%; 
  /*margin-top: 50px;  */
  margin-bottom: 30px;
  padding-bottom: 30px;
  /*border-top: 1px solid #BDBDBD;  */
  border-bottom: 2px solid  #081247; /* #222A61;*/ 
  font-size:16px;
}
.prevContent {  
  padding-left:50px;
  padding-bottom: 20px; 
  width: 100px;
  font-weight: 700; 
  background-color: #F0F2FE; /* #f5f6f9;  *//*f3f4fb*/
}
.prevTable tr td {
  padding-top: 20px;
}
.prevTable tr td a:hover{ 
  text-decoration: none;
  color: #004B8C; /* #0057a1; */
 /* text-decoration:underline; */
  font-weight:bold; 
}
.prevTitle {
  text-decoration: none;
  padding-left:25px; 
  color: #5e5e5e; /* rgb(97, 97, 97);*/
}

.nextInfo {
  width:100%; 
  margin-top: 50px;  
  /*margin-bottom: 30px;*/
  border-top: 2px solid #081247;  
  border-bottom: 1px solid #dbdbe4; 
  font-size:16px;	
}
.nextTxt {
  padding-top: 20px;
  padding-left:50px;
  padding-bottom: 20px ;
  width: 100px;
  font-weight: 700;  
}

.prevInfo {
  width:100%;  
  margin-bottom: 30px;
  border-bottom: 2px solid  #081247; /* #222A61;*/  
  /*border-top: 1px solid #BDBDBD; */
  font-size:16px;	
}
.prevTxt {
  padding-top: 20px;
  padding-left:50px;
  padding-bottom: 20px ;
  width: 100px;
  font-weight: 700;  
}

/***********************************************/

.btn {
  display: block;
  float: right;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 80px;
  font-size: 14px;  
  font-weight: 400;
  border: none;
  width: 70px;
  height: 30px;
  line-height: 29.5px;
  
  text-align: center;
  vertical-align: middle;
  color: white;  
}
.btn > a{
  font-family: "Noto Sans KR", sans-serif; 
}
.btn > a:hover{
  text-decoration: none;
}
.listBtn {
	background-color:  rgb(11, 38, 110);
}
.modifyBtn {
	background-color:  rgb(11, 38, 110);
}
.delBtn {	
	text-decoration: none;  
	background-color: rgb(124, 124, 124);
}