@charset "UTF-8";
@font-face {
  font-family: 'Noto Sans KR', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
}

*{ padding: 0; margin: 0; }
ul, li { list-style: none; } 
*{ margin: 0 auto; }

body{ font-family: 'Noto Sans KR', sans-serif;}

.announceDetail {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 150px;
}
.announceDetail-wrap {
   width: 1280px;
   position: relative;
}
.announceInner {
   display: block;
   /*margin-left: 280px;*/
   margin: 0 auto;  
}
a{
  text-decoration: none;  
}
/***********************************************/

.announceTitle{
  font-size: x-large;
  font-weight: 800;
/*  padding: 20px;*/
  padding-left: 5px;
  padding-bottom: 15px;
  border-bottom: 3px solid #090C5F;
  color: #2E2E2E;
}
.printBtn{
	display: block;
	float: right;
	margin-bottom: 10px;
    /*margin-top: 20px;*/
   /* margin-right: 192px;*/
}



.announceBox {
   padding-bottom: 20px;
   width: 70%;
   /* */
   margin: 0 auto;
   margin-top: 50px;
}
.annouonceTable {
  width: 100%;
  border-collapse: collapse;  
  /*display: table;*/
  /*table-layout: auto;*/
 /* border-top: 2px solid rgb(145, 145, 145);*/
}

.annouonceTable td {
  /* border-bottom: 0.5px solid rgb(196, 196, 196); */
  vertical-align: middle;
 /* padding: 10px;*/
}
#boardTitle {
  border-top: 2px solid #222A61; 
}
.board th{  
  width: 17%;
  height: 50px;
  line-height: 50px; 
  font-weight: 800;
  
 /* text-align: center;*/
  color: #424242;
  border-top: 0.3px solid #BDBDBD;
  border-bottom: 0.3px solid #BDBDBD;   
  background-color:  #EAEBF8;  /*   #E8E8E9; #E0E0E0 ;*/
}
.board tr{
  /* width: 100%; */
  /*border-bottom: 0.5px solid rgb(196, 196, 196);*/
  border-bottom: 0.3px solid #AEAFBF;
}
.board td {

  padding-left: 25px;
  height: 50px;    
  border-top: 0.3px solid #B8B9D9;
  border-bottom: 0.3px solid #B8B9D9;
 
}
.tdsize {
	width: 260px;
	/*padding-right: 100px;*/
}
.announceContent { 
  padding: 30px;
  min-height: 250px;
}
/*.announceContent th {
  vertical-align: middle;   	
}
.innerContent td {
   line-height: 30px;
   width: auto;
   min-width: 700px;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 25px;
   padding-bottom: 25px;
}
.announceContent .con { 
  vertical-align: middle;   
}
*/
/***********************************************/
.nextTable { 
  width:100%; 
  margin-top: 50px;  
  /*margin-bottom: 30px;*/
  border-top: 2px solid #222A61;  
  border-bottom: 1px solid #BDBDBD; 
  font-size:16px;
}
.nextContent {  
  padding-left:50px;
  padding-bottom: 20px ;
  width: 100px;
  font-weight: 700;  
}
.nextTable tr td {
  padding-top: 20px;
}
.nextTable tr td a:hover{ 
  color: #004B8C; /* #0057a1; */
  text-decoration:underline; 
  font-weight:bold; 
}
.nextTitle {
  text-decoration: none;
  padding-left:10px; 
  color: rgb(97, 97, 97);
}

.prevTable { 
  width:100%; 
  /*margin-top: 50px;  */
  margin-bottom: 30px;
  padding-bottom: 30px;
  /*border-top: 1px solid #BDBDBD;  */
  border-bottom: 2px solid #222A61; 
  font-size:16px;
}
.prevContent {  
  padding-left:50px;
  padding-bottom: 20px; 
  width: 100px;
  font-weight: 700;  
}
.prevTable tr td {
  padding-top: 20px;
}
.prevTable tr td a:hover{ 
  color: #004B8C; /* #0057a1; */
  text-decoration:underline; 
  font-weight:bold; 
}
.prevTitle {
  text-decoration: none;
  padding-left:10px; 
  color: rgb(97, 97, 97);
}

.nextInfo {
	width:100%; 
  margin-top: 50px;  
  /*margin-bottom: 30px;*/
  border-top: 2px solid #222A61;  
  border-bottom: 1px solid #BDBDBD; 
  font-size:16px;	
}
.nextTxt {
	padding-top: 20px;
  padding-left:50px;
  padding-bottom: 20px ;
  width: 100px;
  font-weight: 700;  
}

.prevInfo {
  width:100%;  
  margin-bottom: 30px;
  border-bottom: 2px solid #222A61;  
  /*border-top: 1px solid #BDBDBD; */
  font-size:16px;	
}
.prevTxt {
	padding-top: 20px;
  padding-left:50px;
  padding-bottom: 20px ;
  width: 100px;
  font-weight: 700;  
}

/***********************************************/
.btn {
  display: flex;
  float: right;

  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 80px;
  padding-left: 22px; 
  width: 70px;
  height: 30px;
  line-height: 29.5px;

  font-size: 14px;  
  font-weight: 500;
  border: none;
  background-color:  rgb(11, 38, 110);
    
  vertical-align: middle;
  font-family:"ngB" !important;
}
.btn > a{
  color: white;
}
.btn > a:hover{
  text-decoration: none;
}
.delBtn {
	  text-decoration: none;  
	background-color: rgb(124, 124, 124);
}