@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');

*{ padding: 0; margin: 0; }
ul, li { list-style: none; } 
*{ margin: 0 auto; }

body{ font-family: 'Noto Sans KR', sans-serif;}

.announceModify {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 150px;
}
.announceModify-wrap{
   width: 1280px;
   position: relative;
}
.announceInner { 
   margin-left: 250px;
}

/***********************************************/

.announceTitle{
  font-size: x-large;
  font-weight: 600;
  padding-left: 5px;
  padding-bottom: 15px;
  border-bottom: 3px solid #08125E; /*#081247;*/
  color: #2E2E2E;
}
.required-img {
  display: inline-block;
  font-size: 10px;
  color: #ec464d;
  width: 10px;
  height: 10px;
  background: url(https://www.gov.kr/2017/img/page/ico_fa_asterisk.png) no-repeat 0 0;
}

.required-img .hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.modifyTable {
	width: 100%;
}
.modifyBox{
 margin-top: 50px;
   /*margin-left : 140px;
  margin-right : 70px;*/
}
.tableT {
	padding-left: 20px;
    height: 30px;    
	border-bottom: 0.3px solid #AEAFBF;
}
.popT select {
	display: inline-block;
	height: 30px; 
	padding-left: 10px;
}
.board th {  
   text-align: center;
   padding: 10px;
   height: 30px;
   font-weight: 700; 
 /* height: 30px;*/
   line-height: 40px;
   width: 130px;  
 
   color: #424242; 
 /*  border-top: 0.3px solid #BDBDBD;
   border-bottom: 0.3px solid  #090C5F;*/
   /*background-color: #E8E8E9; */
   background-color: #F0F2FE; /*  #f5f6f9;f3f4fb #F2F2F2;*/
}
.board td {
   padding-left: 20px;
   padding-right: 20px;
   /*padding-bottom: 20px;*/
    /* border-bottom: 0.3px solid #BDBDBD;*/  
}
#topborder {
	border-top: 2px solid #081247; 
	border-bottom: 0.3px solid #AEAFBF;
}
#border{
	border-bottom: 0.3px solid #AEAFBF;
}
.announceTit{
  width: 600px;
  height: 30px;
  font-size: 14px;
  padding-left: 15px;
}
.datepicker1 {
  width: 120px;
  height: 30px;
  text-align: center;
}
.datepicker2 {
  width: 120px;
  height: 30px;
  text-align: center;
}
.announceFile{
  width: 450px;
  height: 30px;
   border-bottom: none;  
}
.recruitNum{
	width: 110px;
	height: 28px;
	line-height: 30px;
	text-align: center;
}
.file {
  margin-bottom: 5px;  
}
.add{
  display: inline-block; 
  margin-bottom: 10px;  
  
  height: 20px;
  line-height: 20px;
  padding: 5px 7px 5px 7px;
  margin-top: 10px;
  font-size: 14px;  
  font-weight: 500;
  border: none;
  background-color:  rgb(11, 38, 110);
  color: white; 
}
.file > a:hover {
  text-decoration: none; 	
}
.sel {/*margin-left: 20px; */margin-bottom: 8px;  }
.delete{
  margin-bottom: 30px;
  padding: 3px;
  width: 40px;
  height: 25px;
  line-height: 25px;

  font-size: 14px;  
  font-weight: 500;
 
  border: 0.5px solid rgb(11, 38, 110);
  border-radius: 5px;
  color:  rgb(11, 38, 110);  
  text-decoration: none;
}

.fileInfo .con {
  /*border-top : 0.3px solid #E0E0E0 ;*/
  padding-bottom: 20px;
}
.fileInfo .fl {
	padding-top: 20px;
	padding-bottom: 20px;
}
.fileInfo td {
	padding-left: 20px;	
	color: rgb(120, 120, 120);
	height: 15px;
	line-height: 30px;
	border: none;
	/*border-right: 0.3px solid #BDBDBD; */
}

.announceContent {
  padding-top: 30px;
}
.announceContent th {
  vertical-align: middle;   
}
.contentBox {
	width: 860px;
}
#contentDetail{
  margin-top: 25px;
  margin-bottom: 20px;
  width: 800px;
  min-height: 500px;  
  text-align: left;
  resize: vertical;
  border: 0.3px solid gray;
  white-space: pre-line;
}

.btnBox{
  margin-top: 70px;
  margin-bottom: 100px;
  text-align: center;
  /*display: flex;*/  

}
.btn > a{
	font-family: "Noto Sans KR", sans-serif;
  color: white;
  font-weight: 500;
}
.btn > a:hover{
  text-decoration: none;
}

.modifyBtn{
  margin: 10px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 500; 
  /* padding: 10px;   */
  padding-bottom: 10px;
  /*vertical-align: middle;*/
  border: none;
  background-color:  rgb(11, 38, 110);
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  cursor: pointer;
}
.listBtn{	
  margin: 10px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;  
  font-weight: 500; 
  border: none;
  padding-bottom: 10px;
  background-color: rgb(124, 124, 124);
  font-family: "Noto Sans KR", sans-serif;
  color: white;
}