@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');
body{ font-family: 'Noto Sans KR', sans-serif;}

.process {
  display: table;
  width: 100%;
  margin-top: 0;
}

.accept-wrap {
	padding-top: 20px;
}

.accept-contents .contents-inner .process li {
  display: table-cell;
  position: relative;
  width: 15%;
  height: 66px;
  padding-left: 60px;
  background: rgb(238, 238, 238);
  color: rgb(66, 66, 66);
  vertical-align: middle;
}

.accept-contents .contents-inner .process li:not(.last)::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 17px;
  height: 66px;
  background: url(https://www.gov.kr/2017/img/page/step_after.gif) 0px 0px no-repeat;
}

.accept-contents .contents-inner .process li.current {
  background: #034273;
  color: #fff;
}

.accept-contents .contents-inner .process li.current:not(.first)::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0px;
  left: -17px;
  width: 17px;
  height: 66px;
  background: url(https://www.gov.kr/2017/img/page/step_before_on.gif) 0px 0px no-repeat;
}

.accept-contents .contents-inner .process li.current:not(.last)::after {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 66px;
  background: url(https://www.gov.kr/2017/img/page/step_after_on.gif) no-repeat 0 0;
}

.accept-contents .contents-inner .process li .num {
  font-weight: bold;
  font-size: 24px;
  /* font-size: 2.4rem; */
  position: absolute;
  top: 18px;
  left: 17px;
}

.accept-contents .contents-inner .process li .process-text {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -2px;

}

/* -- process */