@font-face {
  font-family: 'Noto Sans KR';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;700;800;900&display=swap'); 
  font-weight: normal; /* 폰트의 기본 굵기 (일반적으로는 normal로 설정) */
  font-style: normal; /* 폰트의 기본 스타일 (일반적으로는 normal로 설정) */
}
.usermypage-sidemenu-wrap {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 200px;
   height: 400px;
   z-index: 10;
}

.usermypage-title {
   font-size: 25px;
   font-weight: 800;
   padding-bottom: 15px;
   border-bottom: 3px solid #08125E;
   color: #424242;
   padding-left: 3px;
}

.usermypage-sidemenu {
   border-bottom: 3px solid #08125E;
}

.myinfo-title {
   border-bottom: 1px solid #08125E;
   font-size: 18px;
   font-weight: 800;
   padding: 10px 0;
   color: #424242;
   padding-left: 3px;
}

.myapplication-title {
   border-bottom: 1px solid #08125E; /* #777;*/
   font-size: 18px;
   font-weight: 800;/* 550;*/
   padding: 10px 0;
   color: #515151;
   padding-left: 3px;
}

.myinfo-content {
   background-color:#f3f4fb;  /* rgb(232, 232, 232);*/
}

.myinfo-content li {
   margin: 0 auto;
   padding: 10px;
   font-size: 13px;
   border-bottom: 1px solid white;
   color: #515151;
}

.myinfo-content li:hover {
   background-color: #FD2B2A;
   color: white;
}
.myinfo-content > a {
	text-decoration: none;
}

.myapplication-content {
   background-color:#f3f4fb; 
}

.myapplication-content li {
   margin: 0 auto;
   padding: 10px;
   font-size: 13px;
   border-bottom: 1px solid white;
   color: #515151;
}

.myapplication-content li:hover {
   background-color: #FD2B2A;
   color: white;
}
.myapplication-content > a {
	text-decoration: none;
}

.hide {
   display: none;
}