@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');

.notice-sidemenu-wrap {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 200px;
   height: 400px;
   z-index: 10;
}

.mainTitle {
   font-size: 25px;
   font-weight: 600;
   padding-bottom: 15px;
   padding-left: 2px;
   color: #2E2E2E;
   border-bottom: 3px solid #08125E; /* #081247; #090C5F;*/     
}

.notice-sidemenu {
   border-bottom: 3px solid  #08125E;
}

.notice-title {
   border-bottom: 1px solid #08125E; /* #777*/
   font-size: 18px;
   font-weight: 600;
   color: #424242;
   padding: 10px 0;
   padding-left: 3px;
}

.myapplication-title {
   border-bottom: 1px solid #08125E;/* #777*/
   font-size: 18px;
   font-weight: 800; /*550*/
   padding: 10px 0;   
}

notice-content {
   background-color: #F0F2FE;  /* f3f4fb #EAEBF8; *//* rgb(232, 232, 232);*/ 
}

.notice-content li {
   margin: 0 auto;
   padding: 10px;
   font-size: 13px;
   color: #585858;
   border-bottom: 1px solid white;
   background-color: #F0F2FE; /* #f5f6f9;*/  /*f3f4fb*/
}

.notice-content li:hover {
   background-color : #1f3579; /*#FD2B2A;*/ /* rgb(227, 0, 0);*/
   color: white;
}
.notice-content a:hover {
   text-decoration: none;
}
.myinfo-content > a {
	color: #585858;
	text-decoration: none;
}

.myapplication-content {
   background-color: rgb(232, 232, 232);
}

.myapplication-content li {
   margin: 0 auto;
   padding: 10px;
   font-size: 13px;
   border-bottom: 1px solid white;
}

.myapplication-content li:hover {
   background-color:#1f3579; /* rgb(227, 0, 0);*/
}