@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');

body {font-family: 'Noto Sans KR', sans-serif;}
.main {
   display: flex;
   justify-content: center;
   margin-top: 103px; /*150*/
   margin-bottom: 50px;/*150px;*/
}

/***********************************/
.search1 {
  width: 1250px;
  height: 60px;
  position: relative;
}

.input1 {
height: 30px;
  width: 100%;
  border: 3px solid rgb(11, 38, 110);
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.img1 {
	color: rgb(11, 38, 110);
  position : absolute;
  width: 17px;
  top: 19px;
  right: 4px;
  margin: 0;
}

/***********************************/
.main-wrap {
   /*width: 1280px;*/
   width: 100%;
   text-align: center;
}
.mainimg {
	/*height: 790px;*/
	display: block;
}
a:link, a:visited { /* a링크 색깔 조정 */
  text-decoration:none;
  color:#555555;
}
.swiper-slide img {
 /* width: 1280px;
  height:600px; 
 */
  width: 100%;
  height: 100%;
} 

/***********************************/
.searchBox {
	display: block;
	margin: 0 auto;
	margin-top: 36px;	
	width: 40%;
	height: 90px;
	justify-content: center;
	align-items: center;
	padding-left: 200px;
	/*margin-top: -70px;*/
}
.search1 {
  display: block;
  width: 550px;
  height: 60px;
  position: relative;
}
.input1 {
  width: 100%;
  height: 30px;
  border: 3px solid rgb(11, 38, 110);
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 500;
}
.img1 {
  color: rgb(11, 38, 110);
  position : absolute;
  width: 17px;
  top: 19px;
  right: -8px; /*4px*/
  margin: 0;
}
/**************************************************/
.supporterinfoBox {
	/*margin-top: -130px;*/
	margin-left: 20px;
	/*margin-bottom: 50px;*/
	display: inline-block;
	float: right;
}
.infoBox {	
	/*display: inline-block;*/	
	width: 270px;
	height: 267px;
	margin-right: 50px;	
	border: 1px solid #d3d3d3;
	border-radius: 10px;
}

.infotxt {
	font-weight: 500;
	font-size: 16px;
	padding-top: 10px;
	height: 20px;
	line-height: 20px;
	/*background-color: white;*/
}
.main_img01 {
	width: 265px;	
	height: 225px;
	background-image: url('/img/main_small_img_01.jpg');
	background-size: 265px;
	border-radius: 10px;
	text-align: center;
}
.main_img02 {
	
	height: 320px;
	background-image: url('/img/main_img_02.jpg');
	background-size: 100%;
}
.main_img03 {
	
	height: 320px;
	background-image: url('/img/main_img_03.jpg');
	background-size: 100%;
}

/**************************************************/
.contentbox {
  padding: 0;
  position: relative;
  overflow: hidden;
}
.contentboxin {
  width: 100%;
  margin: 0 auto;
  margin-top: -183px;
  padding-bottom : 50px;
  overflow: hidden;
  display: flex;
  min-height: 330px;
  background-color:#F0F2FE; /* #f5f6f9;*/
}

.recruittitle {
	/*float: left;*/
	text-align: left;
	/*margin-top: 5px;*/
	margin-bottom: 0px;
	padding-left: 3px;
}
.recruitment {/* 재판조력자 신청 전체박스 */
  margin: 0 auto;
  margin-top: 210px;
 /* position:relative;*/
  width: 1280px;
  height: 200px;

 /* border: 1px solid #777;*/
  align-items: center;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 50px;  
}
.recruitment span {/* 재판조력자 신청박스 제목 */
  font-size: 20px;
  font-weight: 600;
  color: #0e3a71;
  line-height: 60px;
  height: 60px;
  border :1px solid rgb(11, 38, 110);
}

#notice{/* 공지사항 전체 박스 */
  width: 30%;
  height: 200px;
  margin-left: 4%;
  position: relative;
}

.flowbox {/* 재판조력자 신청 이미지 및 링크 */
  margin-top: 10px;  
  overflow: hidden;
  /*position: relative;*/
  box-sizing: border-box;
  list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /*padding: 0 30px;*/
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));  여기서 200px는 각 요소의 최소 너비 
  grid-gap: 100px;  요소들 사이의 간격 조절 */
  /*justify-items: center;  가로 가운데 정렬 (선택 사항) */
}
.flowbox li {
	width: 120px;
	height: 120px;
	padding: 20px 30px 40px 30px;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	background-color: white;
}
.recruitment_image {/* 재판조력자 신청 이미지박스 */
  float: left;
}

.recruitment_image > li > img {/* 재판조력자 신청 이미지 */
  width: 110px;
}

.recruitment_image > a > h4 {/* 재판조력자 신청 텍스트 */
  padding: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  
}
/**************************************************/
.multiBox {
	float: left;
}
.noticeBox {
	margin-top: 30px;
	padding-left: 200px;
	/*width: 1280px;*/
	height: 350px;
	/*background-color: #f3f4fb;*/
	/*border: 1px solid #333;*/
	
    /*padding-right: 50px;*/
}
#notice{/* 공지사항 전체 박스 */
  float: left;
  /*width: 47%;*/
  width: 520px;
  height: 300px;
  position: relative;
  /*border: 1px solid #d3d3d3;*//* #eee;*/
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 50px;
  /*box-shadow: 5px 5px 5px 0px  #aaa;*/
}

.container_head {/* 공지사항 섹션 */
  display: block;
  width: auto;
  position: relative;
  height: 100%; 
}

#notice .container_head .listbox {/* 공지사항 섹션 중 상위 교차탭 제목 */
  display: block;
  position:relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  height: 17%;
  width: 100%;
  float: left;

}

#notice .container_head .tabcontent {/* 공지사항 섹션 중 상위 교차탭 내용박스 */
  width: 100%;
  float: left;
  padding-bottom: 10px;
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}

#notice .container_head .listbox > li {/* 공지사항 섹션 중 상위 교차탭 내용 리스트 */
  float:left;
  list-style:none;
  height: 100%;
}

#notice .container_head .listbox > li > a {/* 공지사항 섹션 중 상위 교차탭 내용 리스트의 링크 */
  display:block;
  position:relative;
  /*padding: 10px 14px 9px 15px;*/
  line-height:24px;
  text-align:center;
  letter-spacing: 0;
  font-size:18px;
  transition-property:color;
  transition-duration:200ms;
  transition-timing-function:ease-in-out;
}

.listbox a span {/* 공통 설정 */
  cursor:pointer;
  display:inline-block;
  margin:0;
  padding: 5px;
  box-sizing:border-box;
 
}
.title {
   font-weight: bold;
   color: #0e3a71;
	
}
/* 공지사항 섹션 중 on off에 따른 설정 ~ */

.container_head .listbox {
 /* display:none;*/
}

.container_head .listbox .on{
  /*display:block;
  box-shadow: 3px 0 3px  #aaa;*/
}

/* 기본적으로 모든 탭 내용 숨기기 */
.container_head > .tabcontent {
  display: none;
}

/* "on" 클래스가 있는 탭 내용만 표시 */
.container_head > .tabcontent.on{
  display: block;
}

/* ~ 공지사항 섹션 중 on off에 따른 설정 */


#notice .container_head {
  position:absolute;
  left: 0;
  width: 98%;
}

#notice .container_head .tabcontent, #notice .container_head .tabcontent.on{
 /* height: 80%;*/
}

/* 공지사항 섹션 중 상위 교차탭 내용박스 세부 설정 */

#notice .container_head .tabcontent ul {
  /*color: aqua;*/
  /*padding-left: 30px;*/
  padding: 5px 5px 5px 15px;
  text-align: justify;
  width: auto;
  margin-top: 0;
}

#notice .container_head .tabcontent ul li {
  border-bottom: 1px solid #d3d3d3;
  list-style: circle;
  display: flex;
  justify-content: space-between;
  position:relative;
}

/* 공지사항 섹션 중 상위 교차탭 내용박스 - 제목 */

#notice .container_head .tabcontent ul li a {
  display:block;
  color:#222222;
  text-overflow:ellipsis;
  line-height:30px;
  font-size:16px;
  letter-spacing:-0.05em;
  margin-top: 3px;
  margin-bottom: 3px;
  height:30px;
  white-space: nowrap;
  /*overflow:hidden;*/
}

/* 공지사항 섹션 중 상위 교차탭 내용박스 - 날짜 */

#notice .container_head .tabcontent ul li a span{
  position: absolute;
  font-size: 15px;
  right: 5px;
  
}

/* 공지사항 섹션 중 상위 교차탭 내용박스 - 더보기 */

#notice .container_head .tabcontent .more {
  width: 100px;
  height: 32px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  color: #6c7790;
  position: absolute;
  right: -27px;
  top: 0px;
}

/* 
.arrow-th-right{
  width: 8px;
  height: 8px;
  border: 2px solid #434343;
  border-left: 0;
  border-top: 0;
  transform: rotate(315deg);
  display: inline-block;
} */

