@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');
body{ font-family: 'Noto Sans KR', sans-serif;}
.usermypage-modify-pw-check {
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.usermypage-modify-pw-check-wrap {
	width: 1280px;
}

.pw-check-wrap {
	width: 500px;
	text-align: center;
	margin : 0 auto;
	padding: 190px 0;
}

.pw-check-wrap h3 {
	font-size: 25px;
	font-weight: 550;
	margin-bottom: 20px;
}

#user_pw {
	width: 300px;
	border: 1px #d0d0d0 solid;
	box-sizing: border-box;
	height: 30px;
	box-sizing: border-box;
	padding-left: 5px;
	font-size: 15px;
	color: #777777;
	margin-bottom: 20px;
}

.btnfb7 {
	margin-top: 20px;
	background-color: rgb(11, 38, 110);
	font-size: 18px;
	color: #FFF;
	height: 42px;
	line-height: 42px;
	display: inline-block;
	padding: 0 25px;
	vertical-align: middle;
	font-family: "ngB" !important;
}

