@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');

.usermypage {
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.usermypage-wrap {
	width: 1280px;
	position: relative;
}

.myinfo-detail-wrap {
	margin-left: 250px;
	margin-bottom: 150px;
}

.myinfo-detail {
	border-bottom: 3px solid black;
}

.myinfo-detail h3 {
	font-size: 25px;
	font-weight: 550;
	padding-bottom: 15px;
}

.myinfo-table-wrap {
	display: flex;
}

.myinfo-table-title {
	margin: 15px 0;
}

.myinfo-table {
	width: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.myinfo-table {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.myinfo-table th,
.myinfo-table td {
	padding: 10px;
	text-align: left;
}

.myinfo-table th {
	background-color: #F0F2FE;
	font-weight: 550;
	padding-left: 30px;
	width: 20%;
}

.myinfo-table td {
	padding-left: 30px;
}

.btnbox {
	text-align: center;
	margin-top: 40px;
}

.btnbox .btnfb7 {
	background-color: rgb(11, 38, 110);
	font-size: 18px;
	color: #FFF;
	height: 42px;
	line-height: 42px;
	display: inline-block;
	padding: 0 25px;
	vertical-align: middle;
	font-family: "ngB" !important;
}

.btnbox .btn4d5 {
	background-color: #4d515b;
	font-size: 18px;
	color: #FFF;
	height: 42px;
	line-height: 42px;
	display: inline-block;
	padding: 0 25px;
	vertical-align: middle;
	font-family: "ngB" !important;
}

.btnbox02 a {
	width: 129px;
	box-sizing: border-box;
}

