@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');
body{ font-family: 'Noto Sans KR', sans-serif;}

.img-wrap {
	width: 150px; 
	height: 180px; 
	border: 1px solid rgb(219, 219, 219); 
	text-align: center; 
	margin-bottom: 10px; 
	line-height: 180px; 
	
}
.imgregist {
	line-height: 180px; 
	vertical-align: middle;
	
}

.imgregistauto {
	width: 150px;
	height: 180px;
}
.usermypage-modify {
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.usermypage-modify-wrap {
	width: 1280px;
	position: relative;
	margin-bottom: 150px;
}

.usermypage-modify-table {
	margin-left: 250px;
}

.myinfo-modify {
	border-bottom: 3px solid black;
}

.myinfo-modify h3 {
	font-size: 25px;
	font-weight: 550;
	padding-bottom: 15px;
}

.myinfo-modify-table-title {
	margin: 15px 0;
}

.filebox {
	margin-bottom: 20px;
}

.upload-name {
	height: 150px;
	width: 130px;
	display: block;
	background-image: url('/img/plus_btn.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50%;
}


.tableT {
	border-top: 1px #535353 solid;
	border-bottom: 1px #535353 solid;
	width: 100%;
}

.tableT th {
	font-size: 16px;
	background-color: #eaedf8;
	color: #555555;
	font-family: "ngB" !important;
	padding: 12px 2px;
	border-bottom: 1px #dbdbdb solid;
	letter-spacing: -0.6px;
	word-break: keep-all;
	font-weight: bold;
}

.tableT td {
	color: #555555;
	padding: 12px 3px 12px 15px;
	text-align: left;
	border-bottom: 1px #dbdbdb solid;
	letter-spacing: -0.6px;
	word-break: keep-all;
	font-size: 14px;
	color: #777777;
}

.tableT .bB0 {
	border-bottom: 0;
}

.popT .uptr06 input {
	width: auto;
}

.popT .part input {
	width: 95%;
}

.popT th {
	text-align: left;
	padding: 8px 2px;
	padding-left: 15px;
}

.popT td {
	padding: 8px 3px 8px 15px;
}

.popT input,
.popT select {
	border: 1px #d0d0d0 solid;
	box-sizing: border-box;
	height: 30px;
	box-sizing: border-box;
	padding-left: 5px;
	font-size: 15px;
	color: #777777;
}

.popT input {
	width: 28.5%;
}

.popT .uptr04 input {
	width: 13%;
}

.uptr03 span {
	font-size: 14px;
	color: #666666;
	display: inline-block;
	margin-left: 3px;
}

.uptr05 textarea {
	width: 100%;
	border: 1px #d0d0d0 solid;
	box-sizing: border-box;
	padding: 5px;
	height: 108px;
	margin-bottom: 10px;
	font-size: 15px;
	color: #777777;
}

.small_s {
	font-size: 14px;
	color: #666666;
	vertical-align: middle;
}

.btnbox {
	text-align: center;
	margin-top: 40px;
}

.btnbox .btnfb7 {
	background-color: rgb(11, 38, 110);
	font-size: 18px;
	color: #FFF;
	height: 42px;
	line-height: 42px;
	display: inline-block;
	padding: 0 25px;
	vertical-align: middle;
	font-family: "ngB" !important;
}

.btnbox .btn4d5 {
	background-color: #4d515b;
	font-size: 18px;
	color: #FFF;
	height: 42px;
	line-height: 42px;
	display: inline-block;
	padding: 0 25px;
	vertical-align: middle;
	font-family: "ngB" !important;
}

.uptr03 .btn4d5 {
	background-color: #4d515b;
	font-size: 12px;
	color: #FFF;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	padding: 0 25px;
	vertical-align: middle;
	font-family: "ngB" !important;
	cursor: pointer;
}

.btnbox02 a {
	width: 129px;
	box-sizing: border-box;
}

.btnbox02 button {
	width: 129px;
	box-sizing: border-box;
}

.required-img {
  display: inline-block;
  font-size: 10px;
  color: #ec464d;
  width: 10px;
  height: 10px;
  background: url(https://www.gov.kr/2017/img/page/ico_fa_asterisk.png) no-repeat 0 0;
}

.required-img .hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
