@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');
body{ font-family: 'Noto Sans KR', sans-serif;}
.usermypage-cancel {
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.usermypage-cancel-wrap {
	width: 1280px;
	position: relative;
}

.myinfo-cancel-wrap {
	margin-left: 250px;
	margin-bottom: 300px;
}

.myinfo-cancel {
	border-bottom: 3px solid black;
}

.myinfo-cancel h3 {
	font-size: 25px;
	font-weight: 550;
	padding-bottom: 15px;
}

.myinfo-cancel-title-wrap {
	display: flex;
}

.myinfo-cancel-title {
	margin: 15px 0;
}


.board_table {
	width: 100%;
	border-top: 2px #333333 solid;
	border-bottom: 1px #959595 solid;
	margin-top: 15px;
}

.board_table th {
	font-size: 16px;
	color: #222222;
	padding: 12px 0;
	border-bottom: 1px #959595 solid;
	letter-spacing: -0.7px;
}

.board_table td {
	font-size: 15px;
	color: #555555;
	padding: 10px 0;
	border-bottom: 1px #ebebeb solid;
	text-align: center;
	word-break: keep-all;
	letter-spacing: -0.7px;
}

.board_table td>img {
	width: auto;
}

.board_table .toptd a {
	position: relative;
}

.board_table .bB0 td {
	border-bottom: 0;
}

.top_s {
	display: inline-block;
	width: 30px;
	height: 15px;
	font-size: 11px;
	color: #FFF;
	background: #ED7032;
	text-align: center;
	font-family: "ngB" !important;
	line-height: 15px;
	border-radius: 2px;
	position: absolute;
	left: -36px;
	top: 3px;
}