<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css}" />

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<th:block th:replace="~{./include/layout :: setContent(~{::.main})}">
	<div class="main">
		<div class="main-wrap">

			<div class="mainimg">
				<div id="main_image">
					<!-- Slider main container -->
					<div class="swiper">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<!-- Slides -->
							<div class="swiper-slide"><img th:src="@{/img/main1.jpg}"></div>
							<div class="swiper-slide"><img th:src="@{/img/main2.jpg}"></div>
							<div class="swiper-slide"><img th:src="@{/img/main3.jpg}"></div>
						</div>
					</div>
				</div>

				<div class="contentbox">
					<div class="contentboxin">

						<div class="recruitment">
							<span>재판조력자 신청 바로가기</span>
							<ul class="flowbox">

								<li class="recruitment_image">
									<a href="#"><img th:src="@{/img/assistant1.png}">
										<h4>재판조력자</h4>
									</a>
								</li>
								<li class="recruitment_image">
									<a href="#"><img th:src="@{/img/Translate1.png}">
										<h4>통번역인</h4>
									</a>
								</li>
								<li class="recruitment_image">
									<a href="#"><img th:src="@{/img/mediator.png}">
										<h4>조정위원</h4>
									</a>
								</li>
								<li class="recruitment_image">
									<a href="#"><img th:src="@{/img/committee1.png}">
										<h4>전문심리위원</h4>
									</a>
								</li>
								<li class="recruitment_image">
									<a href="#"><img th:src="@{/img/counseling1.png}">
										<h4>상담위원</h4>
									</a>
								</li>

							</ul>
						</div>

						<div id="notice">
							<section class="container_head">
								<ul class="listbox">
									<li class="on">
										<a href="#"><span>공지사항</span></a>
									</li>
									<li>
										<a href="#"><span>모집공고</span></a>
									</li>
								</ul>
								<div class="tabcontent on">
									<ul>
										<li>
											<a href="#">sodyd<span>20230317</span></a>
										</li>
										<li>
											<a href="#">sodyd<span>20230317</span></a>
										</li>
										<li>
											<a href="#">sodyd<span>20230317</span></a>
										</li>
										<li>
											<a href="#">sodud<span>20230317</span></a>
										</li>
									</ul>
									<a href="notice/noticeList" class="more">
										<span class="text">더보기</span>
									</a>
								</div>

								<div class="tabcontent">
									<ul>
										<li>
											<a href="#">제목은 이거다<span>20230317</span></a>
										</li>
										<li>
											<a href="#">제목은 이거다<span>20230317</span></a>
										</li>
										<li>
											<a href="#">제목은 이거다<span>20230317</span></a>
										</li>
										<li>
											<a href="#">제목은 이거다<span>20230317</span></a>
										</li>
									</ul>
									<a href="announce/announceList" class="more">
										<span class="text">더보기</span>
									</a>
								</div>

							</section>
						</div>


					</div>
				</div>
			</div>

		</div>
	</div>
</th:block>
<script th:src="@{/js/swiper.js}"></script>
<script>
	$(document).ready(function () {
		$("#notice > .container_head > .listbox > li > a").on("click", function () {
			// 기본 동작 비활성화
			event.preventDefault();

			var clicknum = $(this).parent().index();
			var containerHead = $(this).closest(".container_head");

			// 클릭한 항목의 부모에 "on" 클래스를 추가하고 형제 요소에서 제거합니다.
			$(this).parent().addClass("on").siblings().removeClass("on");

			// AJAX 요청을 보냅니다.
			$.ajax({
				type: "GET", // 또는 다른 HTTP 메서드를 사용할 수 있습니다.
				url: "your-api-url", // 비동기 데이터를 가져올 엔드포인트 URL을 지정하세요.
				data: {clicknum: clicknum}, // 필요한 데이터를 전달할 수 있습니다.
				success: function (response) {
					// AJAX 요청이 성공하면 이 함수가 실행됩니다.
					// response를 사용하여 원하는 작업을 수행하세요.
					// 예를 들어, 데이터를 표시하거나 업데이트할 수 있습니다.
					containerHead.find(".tabcontent").removeClass("on");
					containerHead.find(".tabcontent").eq(clicknum).addClass("on");
				},
				error: function (error) {
					// AJAX 요청이 실패하면 이 함수가 실행됩니다.
					console.error("Error:", error);
				}
			});
		});
	});
</script>

</html>