<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">-->

<link rel="stylesheet" th:href="@{/css/total-search.css}">
<th:block th:replace="~{./include/layout :: setContent(~{::.total-search-wrap})}">
	<div class="total-search-wrap">
		<div class="total-search">
			
			<div style="margin-bottom: 60px;">
				<div class="search1">
					<form action="total_search" method="get">
		  				<input type="text" class="input1" placeholder="검색어 입력" name="search" th:value="${search}">
		  				<input type="image" class="img1" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
					</form>
				</div>				
			</div>

			<div class="announce-section">				
				<div class="announce-section-title-wrap">
					<p class="announce-section-title">공고내역</p>
				</div>
				<th:block th:if="${tb_002total == 0}">
					<div class="announce-section-content-wrap">

						<ul class="announce-section-content">
							<li class="announce-wrap">
								<h1>검색결과가 없습니다.</h1>
							</li>
						</ul>

					</div>
				</th:block>
				<th:block th:unless="${tb_002total == 0}">
					<div class="announce-section-content-wrap">
						<th:block th:each="tb_002 : ${tb_002list}">
							<ul class="announce-section-content">
								<li class="announce-wrap">
									<div class="announce-left">
										<h3 class="announce-left-title">
											<pre>[[${tb_002.announce_title}]]</pre>
										</h3>
										<p class="announce-left-content" th:text="${tb_002.announce_content}">
	
										</p>
									</div>
									<div class="announce-right">
										<form th:action="@{/announce/announceDetail}" method="get">
											<input type="hidden" th:value="${tb_002.announce_proper_num}" name="announce_proper_num">
											<button type="submit" class="btnfb7">사이트 가기</button>
										</form>
									</div>
								</li>
							</ul>
						</th:block>
					</div>
				</th:block>

				<a th:href="@{announce/announceList(announce_title=${search})}">
					<div class="announce-section-more-wrap">
						<p class="announce-section-more">[[${tb_002total}]] 개 더보기 >></p>
					</div>
				</a>
			</div>

			<div class="announce-section">
				<div class="announce-section-title-wrap">
					<p class="announce-section-title">공지</p>
				</div>

				<th:block th:if="${tb_003total == 0}">
					<div class="announce-section-content-wrap">

						<ul class="announce-section-content">
							<li class="announce-wrap">
								<h1>검색결과가 없습니다.</h1>
							</li>
						</ul>

					</div>
				</th:block>
				<th:block th:unless="${tb_003total == 0}">
					<div class="announce-section-content-wrap">
						<th:block th:each="tb_003 : ${tb_003list}">
							<ul class="announce-section-content">
								<li class="announce-wrap">
									<div class="announce-left">
										<h3 class="announce-left-title">
											<pre>[[${tb_003.notice_title}]]</pre>
										</h3>
										<p class="announce-left-content" th:text="${tb_003.notice_content}">
	
										</p>
									</div>
									<div class="announce-right">
										<form th:action="@{/notice/noticeDetail}" method="get">
											<input type="hidden" th:value="${tb_003.notice_proper_num}" name="notice_proper_num">
											<button type="submit" class="btnfb7">사이트 가기</button>
										</form>
									</div>
								</li>
							</ul>
						</th:block>
					</div>		
				</th:block>

				<a th:href="@{/notice/noticeList(searchNotice=${search})}">
					<div class="announce-section-more-wrap">
						<p class="announce-section-more">[[${tb_003total}]] 개 더보기 >></p>
					</div>
				</a>
			</div>

			<div class="announce-section">
				<div class="announce-section-title-wrap">
					<p class="announce-section-title">FAQ</p>
				</div>

				<th:block th:if="${tb_004total == 0}">
					<div class="announce-section-content-wrap">

						<ul class="announce-section-content">
							<li class="announce-wrap">
								<h1>검색결과가 없습니다.</h1>
							</li>
						</ul>

					</div>
				</th:block>
				<th:block th:unless="${tb_004total == 0}">
					<div class="announce-section-content-wrap">
						<th:block th:each="tb_004 : ${tb_004list}">
							<ul class="announce-section-content">
								<li class="announce-wrap">
									<div class="announce-left">
										<h3 class="announce-left-title">
											<pre>[[${tb_004.faq_ask_content}]]</pre>
										</h3>
										<p class="announce-left-content" th:text="${tb_004.faq_ask_comment}">
	
										</p>
									</div>
									<div class="announce-right">
										<form th:action="@{/faq/faqDetail}" method="get">
											<input type="hidden" th:value="${tb_004.faq_proper_num}" name="faq_proper_num">
											<button type="submit" class="btnfb7">사이트 가기</button>
										</form>
									</div>
								</li>
							</ul>
						</th:block>
					</div>		
				</th:block>

				<a th:href="@{/faq/faqList(searchFaq=${search})}">
					<div class="announce-section-more-wrap">
						<p class="announce-section-more">[[${tb_004total}]] 개 더보기 >></p>
					</div>
				</a>
			</div>
			
			<div style="height: 60px;"></div>
		</div>
	</div>

</th:block>
<script th:inline="javascript">
	var elements = document.getElementsByClassName('announce-left-content');
	var keyword = /*[[${search}]]*/"";
	console.log(keyword)
	if(keyword != '') {
		for (var i = 0; i < elements.length; i++) {
			var content = elements[i].innerHTML;
			var replacedContent = content.replace(new RegExp(keyword, 'g'), '<span style="color: red; font-weight: bold;">' + keyword + '</span>');
			elements[i].innerHTML = replacedContent;
		}		
	}
</script>

</html>

