<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/usermypage-activitylist.css}">
<th:block th:replace="~{./include/layout :: setContent(~{::.usermypage-activitylist})}">
	<div class="usermypage-activitylist">
		<div class="usermypage-activitylist-wrap">
			<!-- 네비게이션바 -->
			<th:block th:replace="~{./include/layout-usermypage-side :: layout-usermypage-side}">
			</th:block>
			<div class="myinfo-activitylist-wrap">
				<div class="myinfo-activitylist">
					<h3>활동내역</h3>
				</div>
				<div class="myinfo-activitylist-title-wrap">
					<h3 class="myinfo-activitylist-title">활동내역</h3>
				</div>
				<div class="search-wrap">
					<div class="board_total">전체글수 : <span class="colfb7">76건</span></div>
					<form>
						<div class="board_search">
							<div class="board_search_date">
								<span class="date-content">기간별 검색</span>
								<input type="text" class="datepicker" name="prod_startdate" readonly placeholder="날짜선택"
									required pattern="\d{4}-\d{2}-\d{2}">
								<span class="date-content">부터</span>
								<input type="text" class="datepicker" name="prod_enddate" readonly placeholder="날짜선택"
									required pattern="\d{4}-\d{2}-\d{2}">
								<span class="date-content">까지</span>
							</div>
							<div class="board_search_text">
								<input type="text" id="searchWord" name="searchWord" title="검색어 입력" value="">
								<a href="javascript:goSearch()" class="search_btn">검색</a>
							</div>
						</div>
					</form>
				</div>
				<table class="board_table topT">
					<colgroup>
						<col width="12%">
						<col width="49%">
						<col width="13%">
						<col width="13%">
						<col width="13%">
					</colgroup>
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>활동날짜</th>
							<th>첨부</th>
							<th>재판번호</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>76</td>
							<td style="text-align:left">
								<a th:href="@{usermypage_activitydetail}">2023년 김모씨 납치사건</a>
							</td>
							<td>2023-06-26</td>
							<td></td>
							<td>11-23335</td>
						</tr>
					</tbody>
				</table>
				<div class="btnbox btnbox02">
					<a href="#none" class="btnfb7" onclick="javascript:goRegist();">등록</a>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>