<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->
<link rel="stylesheet" th:href="@{/css/usermypage-activitydetail.css}">
<th:block th:replace="~{./include/layout :: setContent(~{::.usermypage-activitydetail})}">
	<div class="usermypage-activitydetail">
		<div class="usermypage-activitydetail-wrap">
			<!-- 상단 혹은 좌측 메뉴바 -->
			<div class="container"> <!-- innerWrap -->

				<div class="announceTitle"> <!-- 게시판 타이틀 -->
					<p>활동내역</p>
				</div>


				<!-- innerBox -->

				<div class="announceBox">

					<table class="annouonceTable">
						<tbody class="board">
							<tr> <!-- class="boardTitle" -->
								<th class="title">재판번호</th>
								<td colspan="2">[[${result.judgement_num}]]</td>
							</tr>

							<tr>
								<th class="date">선정일</th>
								<td colspan="2"><span th:text="${#strings.substring(result.chosen_date, 0, 10)}"></span>
								</td>
							</tr>

							<tr>
								<th class="viewCount">출석일자</th>
								<td colspan="2"><span
										th:text="${#strings.substring(result.attendance_date, 0, 10)}"></span></td>
							</tr>

							<tr>
								<th class="file">완료여부</th>
								<td>
									<th:block th:if="${result.act_complete_yn == 'Y'}">
										완료
									</th:block>
									<th:block th:if="${result.act_complete_yn == 'N'}">
										미완료
									</th:block>
								</td>
							</tr>

							<tr class="announceContent">
								<th>내용</th>
								<td class="innerContent">
									[[${result.act_etc}]]
								</td>
							</tr>
						</tbody>

					</table>

					<div class="btnbox btnbox02">
						<a th:href="@{usermypage_activitylist}" class="btn4d5" onclick="javascript:goRegist();">목록</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>