<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/usermypage-cancel.css}">
<th:block th:replace="~{./include/layout :: setContent(~{::.usermypage-cancel})}">
	<div class="usermypage-cancel">
		<div class="usermypage-cancel-wrap">
			<!-- 네비게이션바 -->
			<th:block th:replace="~{./include/layout-usermypage-side :: layout-usermypage-side}">
			</th:block>
			<div class="myinfo-cancel-wrap">
				<div class="myinfo-cancel">
					<h3>해제신청</h3>
				</div>
				<div class="myinfo-cancel-title-wrap">
					<h3 class="myinfo-cancel-title">해제신청</h3>
				</div>
				<table class="board_table topT">
					<colgroup>
						<col width="12%">
						<col width="49%">
						<col width="13%">
						<col width="13%">
						<col width="13%">
					</colgroup>
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>해제날짜</th>
							<th>해제상태</th>
							<th>해제신청</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>76</td>
							<td style="text-align:left">
								<a href="">2023년도 보호사건조력자 모집</a>
							</td>
							<td>2023-06-26</td>
							<td>해제</td>
							<td><button>해제</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</th:block>

</html>