<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->
<link rel="stylesheet" th:href="@{/css/usermypage-pausedetail.css}">
<th:block th:replace="~{./include/layout :: setContent(~{::.usermypage-pausedetail})}">
	<div class="usermypage-pausedetail">
		<div class="usermypage-pausedetail-wrap">
			<!-- 상단 혹은 좌측 메뉴바 -->
			<div class="container"> <!-- innerWrap -->

				<div class="announceTitle"> <!-- 게시판 타이틀 -->
					<p>등재내역</p>
				</div>


				<!-- innerBox -->

				<div class="announceBox">

					<table class="annouonceTable">
						<tbody class="board">
							<tr> <!-- class="boardTitle" -->
								<th class="title">등재번호</th>
								<td colspan="2">[[${result.accept_proper_num}]]</td>
							</tr>

							<tr>
								<th class="viewCount">선발날짜</th>
								<td colspan="2"><span th:text="${#strings.substring(result.accept_date, 0, 10)}"></span>
								</td>
							</tr>

							<tr>
								<th class="date">중지/해제상태</th>
								<td colspan="2">
									<th:block th:if="${result.accept_act_yn == 'Y'}">
										활동중
									</th:block>
									<th:block th:if="${result.accept_act_yn == 'N'}">
										중지
									</th:block>
								</td>
							</tr>

							<tr>
								<th class="file">중지/해제신청</th>
								<td>
									<form action="usermypage_pauseapplication" method="post">
										<th:block th:if="${result.accept_act_yn == 'Y'}">
											<input type="hidden" name="accept_act_yn"
												th:value="${result.accept_act_yn}">
											<button type="submit" class="acceptbtn" name="accept_proper_num"
												th:value="${result.accept_proper_num}"
												onclick="confirmAndSubmit(this)">중지신청</button>
										</th:block>
										<th:block th:if="${result.accept_act_yn == 'N'}">
											<input type="hidden" name="accept_act_yn"
												th:value="${result.accept_act_yn}">
											<button type="submit" class="acceptbtn" name="accept_proper_num"
												th:value="${result.accept_proper_num}"
												onclick="confirmAndSubmit(this)">재활동신청</button>
										</th:block>
									</form>
								</td>
							</tr>

							<tr class="announceContent">
								<th>내용</th>
								<td class="innerContent">
									[[${result.accept_etc}]]
								</td>
							</tr>
						</tbody>

					</table>

					<div class="btnbox btnbox02">
						<a th:href="@{/usermypage/usermypage_pauselist}" class="btnfb7"
							onclick="javascript:goRegist();">목록</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
<script>
	function confirmAndSubmit(button) {
		var accept_act_yn = button.previousElementSibling.value;
		var message;

		if (accept_act_yn === 'Y') {
			message = "중지 신청을 하시겠습니까?";
		} else {
			message = "재활동 신청을 하시겠습니까?";
		}

		if (confirm(message)) {
			// 확인을 누를 경우에만 form을 submit합니다.
			button.form.submit();
		}
	}
</script>

</html>