<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->
<link rel="stylesheet" th:href="@{/css/usermypage-withdrawl-popup.css}">
<th:block>
	<div class="certificatePopup">
		<div class="certificatePopup-wrap">
			<div id="pop_wrap">
				
				<form action="usermypage_withdrawl_check" name="certificatePopupForm" method="post">
					<div class="pop_contents">
						<span class="sm_title">*회원 탈퇴</span>
						<table class="tableT popT">
							<colgroup>
								<col width="20%">
								<col width="80%">
							</colgroup>
							<tbody>
								<tr class="uptr01">
									<th class="" style="background-color: #f3f3fb;">비밀번호 확인</th>
									<td><input type="password" name="user_pw" id="user_pw" title="비밀번호"></td>
								</tr>
								<tr class="uptr01">
									<th class="" style="background-color: #f3f3fb;">삭제코드 입력</th>
									<td>
										<input type="text" name="delete_code" id="delete_code" title="삭제코드"
											placeholder="회원탈퇴">
										<span class="err" style="color: red;"></span>
									</td>
								</tr>
							</tbody>
						</table>

					</div>

					<div class="btnbox btnbox02">
						<input type="submit" class="btnfb7 subbtn" value="탈퇴" />
					</div>
			</div>
			</form>

		</div>
	</div>
	</div>
</th:block>
<script th:src="@{/js/usermypage-withdrawl-popup.js}"></script>
<script th:inline="javascript">
	if ('[[${result}]]' == 1) {
		alert('탈퇴하였습니다.');
		opener.location.href = '/';
		self.close();
	} else if('[[${result}]]' == 0) {
		alert('비밀번호가 맞지 않습니다.')
	}
</script>

</html>