<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->
<link rel="stylesheet" th:href="@{/css/usermypage-modify-pw-check.css}">
<th:block th:replace="~{./include/layout :: setContent(~{::.usermypage-modify-pw-check})}">
	<div class="usermypage-modify-pw-check">
		<div class="usermypage-modify-pw-check-wrap">
			<div class="pw-check-wrap">
				<h3>비밀번호 확인</h3>
				<form action="usermypage_modify_pw_check" method="post">
					<input type="password" name="user_pw" id="user_pw" title="비밀번호">
					<p class="info">*정보 수정을 위해 비밀번호를 확인합니다.</p>
					<div class="btn-wrap">
						<input type="submit" class="btnfb7" value="확인">
					</div>
				</form>
			</div>
		</div>
	</div>
</th:block>
<script th:inline="javascript">
	if('[[${session.pw_pass}]]' != null) {
		location.href='/usermypage/usermypage_modify';	
	}
</script>
</html>