<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.court.supporter.adminmypage.service.AdminMypageMapper">

	<select id="adminmypage_authcheck">
		select member_role
		from TB_018
		where member_proper_num = #{member_proper_num}
	</select>
	
	<select id="adminmypage_getmember_id">
		select member_id
		from TB_018
		where member_proper_num = #{member_proper_num}
	</select>

	<select id="adminmypage_get_court_pass">
		select *
		from TB_005
		where user_proper_num = #{user_proper_num}
		and announce_proper_num = #{announce_proper_num}
	</select>

	<select id="adminmypage_juris_getapplicationtotal">
		select count(*)
		from (
			select count(*) as total
			from TB_005 as t5
			
			left join TB_002 as t2
			on t5.announce_proper_num = t2.announce_proper_num
			
			left join TB_010 as t10
        	on t10.trial_fcltt_proper_num = t5.trial_fcltt_proper_num
			
			where 1 = 1
			
			<if test="aplicn_dtls_sts == '' or aplicn_dtls_sts == null">
				and cast(aplicn_dtls_sts as unsigned) between 2 and 5
			</if>
			
			<if test="aplicn_dtls_sts == '02'">
				and aplicn_dtls_sts = '02'
			</if>
			<if test="aplicn_dtls_sts == '03'">
				and aplicn_dtls_sts = '03'
			</if>
			<if test="aplicn_dtls_sts == '04'">
				and aplicn_dtls_sts = '04'
			</if>
			<if test="aplicn_dtls_sts == '05'">
				and aplicn_dtls_sts = '04'
			</if>
		
			<if test="trial_fcltt_proper_num != '' and trial_fcltt_proper_num != null">
				and t5.trial_fcltt_proper_num like concat(#{trial_fcltt_proper_num}, '%')
			</if>
			<if test="announce_title != '' and announce_title != null">
				and announce_title like concat('%', #{announce_title}, '%')
			</if>
			<if test="aplicn_dtls_startdate != '' and aplicn_dtls_startdate != null">
				<![CDATA[and aplicn_dtls_date >= #{aplicn_dtls_startdate}]]>
			</if>
			<if test="aplicn_dtls_enddate != '' and aplicn_dtls_enddate != null">
				<![CDATA[and aplicn_dtls_date <= #{aplicn_dtls_enddate}]]>
			</if>
			
			group by t5.user_proper_num, t5.announce_proper_num		
		) as x
	</select>

	<select id="adminmypage_juris_getapplicationlist">
		select *,
		CONVERT(t5.aplicn_dtls_date, CHAR) AS aplicn_dtls_date_as_varchar
		from TB_005 as t5
		
		left join TB_002 as t2
		on t5.announce_proper_num = t2.announce_proper_num
		
		left join TB_010 as t10
        on t10.trial_fcltt_proper_num = t5.trial_fcltt_proper_num
		
		where 1 = 1
			
		<if test="aplicn_dtls_sts =='' or aplicn_dtls_sts == null">
			and cast(aplicn_dtls_sts as unsigned) between 2 and 5
		</if>
			
		
		<if test="aplicn_dtls_sts == '02'">
			and aplicn_dtls_sts = '02'
		</if>
		<if test="aplicn_dtls_sts == '03'">
			and aplicn_dtls_sts = '03'
		</if>
		<if test="aplicn_dtls_sts == '04'">
			and aplicn_dtls_sts = '04'
		</if>
		<if test="aplicn_dtls_sts == '05'">
			and aplicn_dtls_sts = '04'
		</if>
	
		<if test="trial_fcltt_proper_num != '' and trial_fcltt_proper_num != null">
				and t5.trial_fcltt_proper_num like concat(#{trial_fcltt_proper_num}, '%')
		</if>
		<if test="announce_title != '' and announce_title != null">
			and announce_title like concat('%', #{announce_title}, '%')
		</if>
		<if test="aplicn_dtls_startdate != '' and aplicn_dtls_startdate != null">
			<![CDATA[and aplicn_dtls_date >= #{aplicn_dtls_startdate}]]>
		</if>
		<if test="aplicn_dtls_enddate != '' and aplicn_dtls_enddate != null">
			<![CDATA[and aplicn_dtls_date <= #{aplicn_dtls_enddate}]]>
		</if>
		
		group by t5.user_proper_num, t5.announce_proper_num
		
		order by aplcn_dtls_proper_num desc

		limit #{pageStart}, #{amount}
	</select>

	<select id="adminmypage_court_getapplicationtotal">
		select count(*) 
		from (
			select count(*) as total
			from TB_005 as t5
			
			left join TB_002 as t2
			on t5.announce_proper_num = t2.announce_proper_num
			
			left join TB_010 as t10
        	on t10.trial_fcltt_proper_num = t5.trial_fcltt_proper_num
			
			where 1 = 1
			<if test="aplicn_dtls_sts == '' or aplicn_dtls_sts == null">
				and cast(aplicn_dtls_sts as unsigned) between 5 and 8
			</if>
			
			<if test="aplicn_dtls_sts == '05'">
				and aplicn_dtls_sts = '05'
			</if>
			<if test="aplicn_dtls_sts == '06'">
				and aplicn_dtls_sts = '06'
			</if>
			<if test="aplicn_dtls_sts == '07'">
				and aplicn_dtls_sts = '07'
			</if>
			<if test="aplicn_dtls_sts == '08'">
				and aplicn_dtls_sts = '08'
			</if>
		
			<if test="trial_fcltt_proper_num != '' and trial_fcltt_proper_num != null">
				and t5.trial_fcltt_proper_num like concat(#{trial_fcltt_proper_num}, '%')
			</if>
			
			<if test="announce_title != '' and announce_title != null">
				and announce_title like concat('%', #{announce_title}, '%')
			</if>
			<if test="aplicn_dtls_startdate != '' and aplicn_dtls_startdate != null">
				<![CDATA[and aplicn_dtls_date >= #{aplicn_dtls_startdate}]]>
			</if>
			<if test="aplicn_dtls_enddate != '' and aplicn_dtls_enddate != null">
				<![CDATA[and aplicn_dtls_date <= #{aplicn_dtls_enddate}]]>
			</if>
			
			group by t5.user_proper_num, t5.announce_proper_num
		) as x
	</select>

	<select id="adminmypage_court_getapplicationlist">
		select *,
		CONVERT(t5.aplicn_dtls_date, CHAR) AS aplicn_dtls_date_as_varchar
		from TB_005 as t5
		
		left join TB_002 as t2
		on t5.announce_proper_num = t2.announce_proper_num
		
		left join TB_010 as t10
        on t10.trial_fcltt_proper_num = t5.trial_fcltt_proper_num
		
		where 1 = 1
		<if test="aplicn_dtls_sts == '' or aplicn_dtls_sts == null">
			and cast(aplicn_dtls_sts as unsigned) between 5 and 8
		</if>
			
		<if test="aplicn_dtls_sts == '05'">
			and aplicn_dtls_sts = '05'
		</if>
		<if test="aplicn_dtls_sts == '06'">
			and aplicn_dtls_sts = '06'
		</if>
		<if test="aplicn_dtls_sts == '07'">
			and aplicn_dtls_sts = '07'
		</if>
		<if test="aplicn_dtls_sts == '08'">
			and aplicn_dtls_sts = '08'
		</if>
		
		<if test="trial_fcltt_proper_num != '' and trial_fcltt_proper_num != null">
			and t5.trial_fcltt_proper_num like concat(#{trial_fcltt_proper_num}, '%')
		</if>
		
		<if test="announce_title != '' and announce_title != null">
			and announce_title like concat('%', #{announce_title}, '%')
		</if>
		<if test="aplicn_dtls_startdate != '' and aplicn_dtls_startdate != null">
			<![CDATA[and aplicn_dtls_date >= #{aplicn_dtls_startdate}]]>
		</if>
		<if test="aplicn_dtls_enddate != '' and aplicn_dtls_enddate != null">
			<![CDATA[and aplicn_dtls_date <= #{aplicn_dtls_enddate}]]>
		</if>
		
		group by t5.user_proper_num, t5.announce_proper_num
		
		order by aplcn_dtls_proper_num desc

		limit #{pageStart}, #{amount}
	</select>

	<select id="adminmypage_admin_getapplicationtotal">
		select count(*)
		from (
			select count(*) as total
			from TB_005 as t5
			
			left join TB_002 as t2
			on t5.announce_proper_num = t2.announce_proper_num
			
			left join TB_010 as t10
        	on t10.trial_fcltt_proper_num = t5.trial_fcltt_proper_num
			
			where 1 = 1
			<if test="aplicn_dtls_sts == '' or aplicn_dtls_sts == null">
				and cast(aplicn_dtls_sts as unsigned) between 2 and 8
			</if>
			
			<if test="aplicn_dtls_sts == '02'">
				and aplicn_dtls_sts = '02'
			</if>
			<if test="aplicn_dtls_sts == '03'">
				and aplicn_dtls_sts = '03'
			</if>
			<if test="aplicn_dtls_sts == '04'">
				and aplicn_dtls_sts = '04'
			</if>
			<if test="aplicn_dtls_sts == '05'">
				and aplicn_dtls_sts = '05'
			</if>
			<if test="aplicn_dtls_sts == '06'">
				and aplicn_dtls_sts = '06'
			</if>
			<if test="aplicn_dtls_sts == '07'">
				and aplicn_dtls_sts = '07'
			</if>
			<if test="aplicn_dtls_sts == '08'">
				and aplicn_dtls_sts = '08'
			</if>
		
			<if test="trial_fcltt_proper_num != '' and trial_fcltt_proper_num != null">
				and t5.trial_fcltt_proper_num like concat(#{trial_fcltt_proper_num}, '%')
			</if>
			
			<if test="announce_title != '' and announce_title != null">
				and announce_title like concat('%', #{announce_title}, '%')
			</if>
			<if test="aplicn_dtls_startdate != '' and aplicn_dtls_startdate != null">
				<![CDATA[and aplicn_dtls_date >= #{aplicn_dtls_startdate}]]>
			</if>
			<if test="aplicn_dtls_enddate != '' and aplicn_dtls_enddate != null">
				<![CDATA[and aplicn_dtls_date <= #{aplicn_dtls_enddate}]]>
			</if>
			
			group by t5.user_proper_num, t5.announce_proper_num
		) as x
	</select>

	<select id="adminmypage_admin_getapplicationlist">
		select *,
		CONVERT(t5.aplicn_dtls_date, CHAR) AS aplicn_dtls_date_as_varchar
		from TB_005 as t5
		
		left join TB_002 as t2
		on t5.announce_proper_num = t2.announce_proper_num
		
		left join TB_010 as t10
        on t10.trial_fcltt_proper_num = t5.trial_fcltt_proper_num
        
		where 1 = 1
		<if test="aplicn_dtls_sts == '' or aplicn_dtls_sts == null">
			and cast(aplicn_dtls_sts as unsigned) between 2 and 8
		</if>
			
		<if test="aplicn_dtls_sts == '02'">
			and aplicn_dtls_sts = '02'
		</if>
		<if test="aplicn_dtls_sts == '03'">
			and aplicn_dtls_sts = '03'
		</if>
		<if test="aplicn_dtls_sts == '04'">
			and aplicn_dtls_sts = '04'
		</if>
		<if test="aplicn_dtls_sts == '05'">
			and aplicn_dtls_sts = '05'
		</if>
		<if test="aplicn_dtls_sts == '06'">
			and aplicn_dtls_sts = '06'
		</if>
		<if test="aplicn_dtls_sts == '07'">
			and aplicn_dtls_sts = '07'
		</if>
		<if test="aplicn_dtls_sts == '08'">
			and aplicn_dtls_sts = '08'
		</if>
		
		<if test="trial_fcltt_proper_num != '' and trial_fcltt_proper_num != null">
				and t5.trial_fcltt_proper_num like concat(#{trial_fcltt_proper_num}, '%')
		</if>
		
		<if test="announce_title != '' and announce_title != null">
			and announce_title like concat('%', #{announce_title}, '%')
		</if>
		<if test="aplicn_dtls_startdate != '' and aplicn_dtls_startdate != null">
			<![CDATA[and aplicn_dtls_date >= #{aplicn_dtls_startdate}]]>
		</if>
		<if test="aplicn_dtls_enddate != '' and aplicn_dtls_enddate != null">
			<![CDATA[and aplicn_dtls_date <= #{aplicn_dtls_enddate}]]>
		</if>
		
		group by t5.user_proper_num, t5.announce_proper_num
		
		order by aplcn_dtls_proper_num desc

		limit #{pageStart}, #{amount}
	</select>

	<select id="adminmypage_getapplicationdetail">
		select *
		from TB_005
		where aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</select>
	
	<select id="adminmypage_checkannounceenddate">
		select *
		from TB_002
		where announce_proper_num = #{announce_proper_num}
	</select>
	
	<select id="adminmypage_checkevaluatecomplete">
		select *
		from TB_005
		where announce_proper_num = #{announce_proper_num}
	</select>
	
	<insert id="adminmypage_evaluate">
		insert into TB_013 (
			evaluate_proper_num,
			all_career_score,
			jrsdc_career_score,
			office_score,
			certificate_score,
			adjust_score,
			evaluate_score,
			review_etc,
			admin_proper_num,
			aplcn_dtls_proper_num,
			user_id,
			user_proper_num
		) select
			coalesce (
				(select max(evaluate_proper_num)+1 
		 		 from TB_013 
         		 where cast(substring(evaluate_proper_num, 1, 6) as date) = DATE_FORMAT(CURDATE(), '%y%m%d'))
				 , concat(DATE_FORMAT(CURDATE(), '%y%m%d'), '00001')),
			#{all_career_score},
			#{jrsdc_career_score},
			#{office_score},
			#{certificate_score},
			#{adjust_score},
			#{evaluate_score},
			#{review_etc},
			#{admin_proper_num},
			#{aplcn_dtls_proper_num},
			#{user_id},
			#{user_proper_num}
	</insert>

	<update id="adminmypage_juris_companion_evaluate">
		update TB_005
		set aplicn_dtls_sts = '04'
		where aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</update>

	<update id="adminmypage_court_referral_evaluate">
		update TB_005
		set aplicn_dtls_sts = '07'
		where aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</update>
	
	<update id="adminmypage_juris_examination_evaluate">
		update TB_005
		set aplicn_dtls_sts = '03'
		where aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</update>
	
	<update id="adminmypage_court_examination_evaluate">
		update TB_005
		set aplicn_dtls_sts = '06'
		where aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</update>
	
	<update id="adminmypage_juris_pass_evaluate">
		update TB_005
		set aplicn_dtls_sts = '05'
		where user_proper_num = #{user_proper_num}
		and announce_proper_num = #{announce_proper_num}
	</update>
	
	<update id="adminmypage_court_accept_evaluate">
		update TB_005
		set aplicn_dtls_sts = '08'
		where user_proper_num = #{user_proper_num}
		and announce_proper_num = #{announce_proper_num}
	</update>
	
	<select id="adminmypage_juris_getexamination">
		select *
		from TB_013 t13
		inner join TB_005 t5
		on t13.aplcn_dtls_proper_num = t5.aplcn_dtls_proper_num
		where announce_proper_num = #{announce_proper_num} and
		aplcn_dtls_sts = '03'
	</select>
	
	<select id="adminmypage_court_getexamination">
		select *
		from TB_013 t13
		inner join TB_005 t5
		on t13.aplcn_dtls_proper_num = t5.aplcn_dtls_proper_num
		where announce_proper_num = #{announce_proper_num} and
		aplcn_dtls_sts = '06'
	</select>
	
	<select id="adminmypage_getacceptinfo">
		select *
		from TB_005
		where announce_proper_num = #{announce_proper_num}
		and user_proper_num = #{user_proper_num}
	</select>
	
	<insert id="adminmypage_accept">
		insert into TB_014 (
			accept_proper_num,
			court_proper_num,
			trial_fcltt_proper_num,
			user_proper_num
		) select
			coalesce (
				(select max(accept_proper_num)+1 
		 		 from TB_014
         		 where cast(substring(accept_proper_num, 1, 6) as date) = DATE_FORMAT(CURDATE(), '%y%m%d'))
				 , concat(DATE_FORMAT(CURDATE(), '%y%m%d'), '00001')),
			#{court_proper_num},
			#{trial_fcltt_proper_num},
			#{user_proper_num}
	</insert>
	
	<select id="">
		select *
		from TB_005
		where announce_proper_num = #{announce_proper_num}
		and user_proper_num = #{user_proper_num}
	</select>
	
	<select id="adminmypage_getrecruitnum">
		select announce_recruit_num
		from TB_002
		where announce_proper_num = #{announce_proper_num}
	</select>
	
	<select id="adminmypage_getresult">
		select *
		from TB_013 t13
		left join TB_018 t18
		on t13.admin_proper_num = t18.member_proper_num
		where user_proper_num = #{user_proper_num}
		and aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</select>
	
	<select id="adminmypage_getauthtotal">
		select count(*) as total
		from TB_018 as t18
		left join TB_015 as t15
		on t18.member_proper_num = t15.admin_proper_num
		where member_role != 'ROLE_USER'
		<if test="member_id != '' and member_id != null">
			and member_id like concat('%', #{member_id}, '%')
		</if>
		<if test="member_role != '' and member_role != null">
			and member_role like concat('%', #{member_role}, '%')
		</if>
	</select>
	
	<select id="adminmypage_getauthlist">
		select *
		from TB_018 as t18
		left join TB_015 as t15
		on t18.member_proper_num = t15.admin_proper_num
		where member_role != 'ROLE_USER'
		<if test="member_id != '' and member_id != null">
			and member_id like concat('%', #{member_id}, '%')
		</if>
		<if test="member_role != '' and member_role != null">
			and member_role like concat('%', #{member_role}, '%')
		</if>
		
		order by member_proper_num desc

		limit #{pageStart}, #{amount}
	</select>
	
	<update id="adminmypage_updateauth">
		update TB_018
		set member_role = #{member_role}
		where member_proper_num = #{member_proper_num}
	</update>
	
	<update id="update04">
		update TB_005
		set aplicn_dtls_sts = '04'
		where user_proper_num = #{user_proper_num}
		and announce_proper_num = #{announce_proper_num}
	</update>
	
	<update id="update05">
		update TB_005
		set aplicn_dtls_sts = '05'
		where user_proper_num = #{user_proper_num}
		and announce_proper_num = #{announce_proper_num}
	</update>
	
	<update id="update07">
		update TB_005
		set aplicn_dtls_sts = '07'
		where user_proper_num = #{user_proper_num}
		and announce_proper_num = #{announce_proper_num}
	</update>
	
	<update id="update08">
		update TB_005
		set aplicn_dtls_sts = '08'
		where user_proper_num = #{user_proper_num}
		and announce_proper_num = #{announce_proper_num}
	</update>
	
	<select id="getannouncelist">
		select *
		from TB_002
		where
		<![CDATA[announce_end_date < curdate()]]>
	
	</select>
	
	<select id="getannouncecount">
		select count(*)
		from TB_002
		where
		<![CDATA[announce_end_date < curdate()]]>
	
	</select>
	
	<select id="getannouncedetail">
		select *
		from TB_005
		where announce_proper_num = #{announce_proper_num}
		and aplicn_dtls_sts = '06'
		group by user_proper_num
	</select>
</mapper>