<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.court.supporter.announce.service.AnnounceMapper">

	<!-- 공고 등록 -->
	<insert id="announceRegist" parameterType="TB_002VO" >
			
		insert into TB_002 (announce_proper_num,
							announce_title,
							announce_content,
							announce_start_date,
							announce_end_date,
							admin_proper_num,
							trial_fcltt_proper_num,							
							announce_recruit_num
							) 
		select coalesce (
					(select max(announce_proper_num)+1 
					       from TB_002 
					       where cast(substring(announce_proper_num, 1, 6) as date) = DATE_FORMAT(CURDATE(), '%y%m%d'))
		    			  , concat(DATE_FORMAT(CURDATE(), '%y%m%d'), '00001') 		
						),
						#{announce_title},
						#{announce_content},
						#{announce_start_date},
						#{announce_end_date},
						#{admin_proper_num},
						#{trial_fcltt_proper_num},						
						#{announce_recruit_num}
				
	</insert>
	
	<select id="getannouncepropernum">
      select announce_proper_num
         from TB_002
         where admin_proper_num = #{admin_proper_num}
         order by announce_proper_num desc limit 1
   </select>
   
	<!-- 파일 정보 등록 -->
	<insert id="announceFileRegist" parameterType="TB_017VO">		
		
		insert into TB_017(original_file_name,
							file_path,
							announce_proper_num,
							announce_file_uuid				
							)
		values(#{original_file_name},
				#{file_path},
				#{announce_proper_num},
				#{announce_file_uuid}
				);

	</insert>
	
	<!-- 관리자 고유번호 조회 -->
	<select id="announce_authcheck">
		select member_role
		from TB_018
		where member_proper_num = #{member_proper_num}
	</select>
	
	
	<!-- 조력자 고유번호 조회 -->
	<select id="getTrial_flctt_proper_num" resultType="String">
		select trial_fcltt_proper_num
		from TB_010
		where 		
        <if test="trial_fcltt_sbcls_code == null">
            trial_fcltt_clasifi_code = #{trial_fcltt_clasifi_code}
        </if>
        <if test="trial_fcltt_sbcls_code != null ">
            trial_fcltt_sbcls_code = #{trial_fcltt_sbcls_code}
        </if>   
	</select>
	
	<!-- 조력자 종류 조회 -->
 	<select id="getTrial_fcltt_description" >
		select trial_fcltt_description
		from TB_010
		where 		
        <if test="trial_fcltt_proper_num != null">
            trial_fcltt_proper_num = #{trial_fcltt_proper_num}
        </if>           
	</select>
	

	<!-- 공고 조회 + 검색 -->
	<select id="announce_getTotal">
		select count(*) as total
		from TB_002
		where 1 = 1
		<if test="cri.announce_title != '' and cri.announce_title != null">
			and announce_title like concat('%', #{cri.announce_title}, '%')
		</if>
		<if	test="cri.announce_content != '' and cri.announce_content != null">
			and announce_content like concat('%', #{cri.announce_content}, '%' )
		</if>
		<if
			test="cri.announce_start_date != '' and cri.announce_start_date != null">
         <![CDATA[and announce_start_date >= #{cri.announce_start_date}]]>
		</if>
		<if
			test="cri.announce_end_date != '' and cri.announce_end_date != null">
         <![CDATA[and announce_end_date <= #{cri.announce_end_date}]]>
		</if>
		<if test="cri.trial_fcltt_proper_num != null and cri.trial_fcltt_proper_num != ''">
	        AND  trial_fcltt_proper_num LIKE CONCAT(#{cri.trial_fcltt_proper_num}, '%')        	
	    </if>	
		order by announce_proper_num desc
		
	</select>
	
	
	<!-- 공고 날짜 변환 -->
	<select id="announce_getList">
		select TB_002.*,
		CONVERT(announce_start_date, CHAR) AS announce_start_date_as_varchar,
		CONVERT(announce_end_date, CHAR) AS announce_end_date_as_varchar
		from TB_002
		where 1 = 1
		<if test="cri.announce_title != '' and cri.announce_title != null">
			and announce_title like concat('%', #{cri.announce_title}, '%')
		</if>
		<if	test="cri.announce_content != '' and cri.announce_content != null">
			and announce_content like concat('%', #{cri.announce_content}, '%')
		</if>
		<if test="cri.announce_start_date != '' and cri.announce_start_date != null">
         <![CDATA[and announce_start_date >= #{cri.announce_start_date}]]>
		</if>
		<if test="cri.announce_end_date != '' and cri.announce_end_date != null">
         <![CDATA[and announce_end_date <= #{cri.announce_end_date}]]>
		</if>
		<if test="cri.trial_fcltt_proper_num != null and cri.trial_fcltt_proper_num != ''">
	        AND  trial_fcltt_proper_num LIKE CONCAT(#{cri.trial_fcltt_proper_num}, '%')        	
	    </if>		
		order by announce_proper_num desc
		limit #{cri.pageStart}, #{cri.amount}
	</select>
	
	
	<!-- 공고 게시글 상세화면 -->
	<select id="getDetail" resultType="TB_002VO">
		select * from TB_002 where announce_proper_num = #{announce_proper_num}
	</select>

	<select id="getFileDetail" resultType="TB_017VO">
		select * from TB_017 where announce_proper_num = #{announce_proper_num}
	</select>
	
	<select id="getUserInfo" resultType="int">
		SELECT COUNT(*) FROM TB_005
	    WHERE announce_proper_num = #{announce_proper_num}
	    AND user_proper_num = #{user_proper_num}
	</select>
	
	<select id="getUserInfo2">
		select *
		FROM TB_005
	    WHERE announce_proper_num = #{announce_proper_num}
	    AND user_proper_num = #{user_proper_num}
	</select>
	
	<!-- 이전 글 조회 <![CDATA[<]]>  &lt;  &gt;  -->
	<select id="getPrev" resultType="TB_002VO">
	     SELECT * FROM TB_002 WHERE announce_proper_num <![CDATA[<]]> #{announce_proper_num} ORDER BY announce_proper_num DESC LIMIT 1;
	</select>
	
	<!-- 다음 글 조회 -->
	<select id="getNext" resultType="TB_002VO">
	    SELECT * FROM TB_002 WHERE announce_proper_num <![CDATA[>]]> #{announce_proper_num} ORDER BY announce_proper_num ASC LIMIT 1;
	</select>
	
	
	<!-- 공고 수정 -->
	<update id="announceModify" parameterType="TB_002VO">
		update TB_002 set announce_title = #{announce_title},
						  announce_content = #{announce_content},
						  announce_start_date = #{announce_start_date},
						  announce_end_date = #{announce_end_date},
						  announce_last_date = now(),
						  admin_proper_num = #{admin_proper_num},
						  trial_fcltt_proper_num = #{trial_fcltt_proper_num},	  
						  announce_recruit_num = #{announce_recruit_num}	  
		where announce_proper_num = #{announce_proper_num}			 
	</update>
	
	<!-- 공고 삭제 -->
	<delete id="announceDelete">
		delete from TB_002 where announce_proper_num = #{announce_proper_num}
	</delete>	
	
	<!-- 공고 파일 삭제 -->
	<delete id="announceFileDelete">
		delete from TB_017 where announce_proper_num = #{announce_proper_num}
	</delete>	


</mapper>