<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.court.supporter.faq.service.faqMapper">

	
	<insert id="faqRegist" parameterType="TB_004VO">
		INSERT INTO TB_004 (faq_proper_num,
							faq_ask_content,
							faq_ask_comment,
							admin_proper_num)
		select coalesce( 
					(select max(faq_proper_num)+1 
       					from TB_004
         				where cast(substring(faq_proper_num, 1, 6) as date) = DATE_FORMAT(CURDATE(), '%y%m%d')
         				), concat(DATE_FORMAT(CURDATE(), '%y%m%d'), '00001')
   					),
			   #{faq_ask_content},
			   #{faq_ask_comment},
			   #{admin_proper_num}
		
	</insert>
	
	<!-- 파일 등록 -->
	
	<!-- 데이터 목록 내용 가져오기 -->
	<select id="faqList" resultType="TB_004VO">
		select *, CONVERT(faq_ask_date, CHAR) AS faq_ask_date 
		from TB_004
		
		where 1=1
		
		<if test="cri.searchFaq !='' and cri.searchFaq != null">
		and FAQ_ASK_CONTENT like concat('%',#{cri.searchFaq},'%') 
		</if>
		
		order by
		faq_proper_num desc
		limit #{cri.pageStart}, #{cri.amount}
		
	</select>
	
	<!-- 데이터 수량 계산 -->
	<select id="getTotal" resultType="int">
		select count(*) as total 
		from TB_004
		where 1=1
		
		<if test="cri.searchFaq !='' and cri.searchFaq != null">
		and FAQ_ASK_CONTENT like concat('%',#{cri.searchFaq},'%') 
		</if>
		
	</select>
	
	<!-- 글 상세내용 -->
	<select id="faqDetail" resultType="TB_004VO">
		select *, convert(faq_ask_date, char) as faq_ask_date_as_varchar
		from TB_004
		where faq_proper_num = #{faq_proper_num}
	</select>
	
	<!-- 글 수정 업데이트 -->
	
	<update id="faqUpdate">
		update TB_004
		set	faq_ask_content = #{faq_ask_content},
			faq_ask_comment = #{faq_ask_comment}
		where faq_proper_num = #{faq_proper_num}
	</update>
	
	<!-- 글 삭제 -->
	
	<delete id="faqDelete">
		delete from TB_004 where faq_proper_num = #{faq_proper_num}
	</delete>



</mapper>