<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.court.supporter.main.service.MainMapper">

	<select id="getannouncelist">
		select *
		from TB_002
		where
		<if test="search != '' and search != null">
			announce_title like concat ('%', #{search}, '%')
			or announce_content like concat ('%', #{search}, '%')					
		</if>
		<if test="search == ''">
			1 = 0
		</if>
		order by announce_start_date desc
		limit 5

	</select>

	<select id="getnoticelist">
		select *
		from TB_003
		where
		<if test="search != '' and search != null">
			notice_title like concat ('%', #{search}, '%')
			or notice_content like concat ('%', #{search}, '%')				
		</if>
		<if test="search == ''">
			1 = 0
		</if>
		order by notice_date desc
		limit 5


	</select>

	<select id="getfaqlist">
		select *
		from TB_004
		where
		<if test="search != '' and search != null">
			faq_ask_content like concat ('%', #{search}, '%')
			or faq_ask_comment like concat ('%', #{search}, '%')						
		</if>
		<if test="search == ''">
			1 = 0
		</if>
		order by faq_ask_date desc
		limit 5

	</select>

	<select id="getannouncetotal">
		select count(*) as total
		from TB_002
		where
		<if test="search != '' and search != null">
			announce_title like concat ('%', #{search}, '%')
			or announce_content like concat ('%', #{search}, '%')					
		</if>
		<if test="search == ''">
			1 = 0
		</if>
	</select>

	<select id="getnoticetotal">
		select count(*)
		from TB_003
		where
		<if test="search != '' and search != null">
			notice_title like concat ('%', #{search}, '%')
			or notice_content like concat ('%', #{search}, '%')				
		</if>
		<if test="search == ''">
			1 = 0
		</if>

	</select>

	<select id="getfaqtotal">
		select count(*)
		from TB_004
		where
		<if test="search != '' and search != null">
			faq_ask_content like concat ('%', #{search}, '%')
			or faq_ask_comment like concat ('%', #{search}, '%')						
		</if>
		<if test="search == ''">
			1 = 0
		</if>
	</select>

</mapper>