<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.court.supporter.usermypage.service.UserMypageMapper">
	<!-- 사용자 정보 가져오기 -->
	<select id="usermypage_getInfo">
		select * from TB_001 where user_proper_num = #{user_proper_num}
	</select>

	<!-- 사용자 정보 수정 -->
	<update id="usermypage_modifyInfo">
		update TB_001
		set user_id = #{user_id},
		user_pw =
		#{user_pw},
		user_name = #{user_name},
		user_birthdate =
		#{user_birthdate},
		user_email = #{user_email},
		user_phone =
		#{user_phone},
		user_ar = #{user_ar},
		user_ar_zonecode =
		#{user_ar_zonecode},
		user_ar_jibun = #{user_ar_jibun},
		user_ar_detail =
		#{user_ar_detail},
		user_bank = #{user_bank},
		user_bank_account =
		#{user_bank_account},
		user_bank_holder = #{user_bank_holder},
		user_ar =
		#{user_ar},
		user_ar_zonecode = #{user_ar_zonecode},
		user_ar_jibun =
		#{user_ar_jibun},
		user_ar_detail = #{user_ar_detail}
		where user_proper_num =
		#{user_proper_num}
	</update>

	<!-- 사용자 탈퇴 -->
	<delete id="usermypage_withdrawl">
		delete from TB_001 where user_proper_num = #{user_proper_num} and
		user_pw = #{user_pw}
	</delete>

	<!-- 사용자 비밀번호 확인 -->
	<select id="usermypage_modify_pw_check">
		select * from TB_001 where user_proper_num = #{user_proper_num} and
		user_pw = #{user_pw}
	</select>

	<!-- 사용자 신청 총합구하기 -->
	<select id="usermypage_application_gettotal">
		select count(*) as total
		from ( select t5.*, t2.ANNOUNCE_PROPER_NUM as
		t5_ANNOUNCE_PROPER_NUM, CONVERT(t5.aplicn_dtls_date, CHAR) AS
		aplicn_dtls_date_as_varchar, t2.announce_title
		from TB_005 as t5
		left
		join
		TB_002 as t2
		on t5.ANNOUNCE_PROPER_NUM = t2.ANNOUNCE_PROPER_NUM) as
		result
		where
		user_proper_num = #{user_proper_num}
		<if test="cri.announce_title != '' and cri.announce_title != null">
			and announce_title like concat('%',
			#{cri.announce_title},
			'%')
		</if>
		<if
			test="cri.aplicn_dtls_sts != '' and cri.aplicn_dtls_sts != null">
			and aplicn_dtls_sts like concat('%',
			#{cri.aplicn_dtls_sts}, '%')
		</if>
		<if
			test="cri.aplicn_dtls_startdate != '' and cri.aplicn_dtls_startdate != null">
			<![CDATA[and aplicn_dtls_date >= #{cri.aplicn_dtls_startdate}]]>
		</if>
		<if
			test="cri.aplicn_dtls_enddate != '' and cri.aplicn_dtls_enddate != null">
			<![CDATA[and aplicn_dtls_date <= #{cri.aplicn_dtls_enddate}]]>
		</if>
	</select>

	<!-- 사용자 신청 목록 구하기 -->
	<select id="usermypage_application_getlist">
		select result.*,
		CONVERT(result.aplicn_dtls_date, CHAR) AS
		aplicn_dtls_date_as_varchar
		from (
		select t5.*, t2.announce_title
		from
		TB_005 as t5
		left join TB_002 as t2
		on t5.ANNOUNCE_PROPER_NUM =
		t2.ANNOUNCE_PROPER_NUM
		) as result
		where
		user_proper_num = #{user_proper_num}

		<if test="cri.announce_title != '' and cri.announce_title != null">
			and announce_title like concat('%',
			#{cri.announce_title},
			'%')
		</if>
		<if
			test="cri.aplicn_dtls_sts != '' and cri.aplicn_dtls_sts != null">
			and aplicn_dtls_sts like concat('%',
			#{cri.aplicn_dtls_sts}, '%')
		</if>
		<if
			test="cri.aplicn_dtls_startdate != '' and cri.aplicn_dtls_startdate != null">
			<![CDATA[and aplicn_dtls_date >= #{cri.aplicn_dtls_startdate}]]>
		</if>
		<if
			test="cri.aplicn_dtls_enddate != '' and cri.aplicn_dtls_enddate != null">
			<![CDATA[and aplicn_dtls_date <= #{cri.aplicn_dtls_enddate}]]>
		</if>

		order by result.aplcn_dtls_proper_num desc

		limit #{cri.pageStart},
		#{cri.amount}
	</select>

	<!-- 사용자 신청 상세 가져오기 -->
	<select id="usermypage_getapplicationdetail1">
		select 
		t2.announce_title,
		t5.aplicn_dtls_sts,
		t5.aplicn_dtls_date,
		t5.ligtn_case_carer_yn,
		t5.ligtn_case_carer_etc,
		t5.insrn_indst_carer_yn,
		t5.insrn_indst_carer_etc,
		t5.criminal_penalty_carer_yn,
		t5.criminal_penalty_carer_etc
		
		from TB_005 as t5
		left join TB_002 as t2
		on t5.ANNOUNCE_PROPER_NUM = t2.ANNOUNCE_PROPER_NUM

		where user_proper_num = #{user_proper_num} 
		and aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</select>

	<!-- 사용자 신청 상세 가져오기 -->
	<select id="usermypage_getapplicationdetail2">
		select
		t6.edctn_school_name,
		t6.edctn_major,
		t6.edctn_admsn_date,
		t6.edctn_grdtn_date,
		t6.edctn_degree
		
		from TB_005 as t5
		left join TB_006 as t6
		on t5.aplcn_dtls_proper_num = t6.aplcn_dtls_proper_num
		
		where t5.user_proper_num = #{user_proper_num} 
		and t5.aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</select>

	<!-- 사용자 신청 상세 가져오기 -->
	<select id="usermypage_getapplicationdetail3">
		select
		t7.company_name,
		t7.work_department,
		t7.work_position,
		t7.work_start_date,
		t7.work_end_date
		
		from TB_005 as t5
		left join TB_007 as t7
		on t5.aplcn_dtls_proper_num = t7.aplcn_dtls_proper_num
		
		where t5.user_proper_num = #{user_proper_num} 
		and t5.aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</select>

	<!-- 사용자 신청 상세 가져오기 -->
	<select id="usermypage_getapplicationdetail4">
		select
		t8.crtfc_number,
		t8.issue_agency,
		t8.issue_date
		
		from TB_005 as t5
		left join TB_008 as t8
		on t5.aplcn_dtls_proper_num = t8.aplcn_dtls_proper_num
		
		where t5.user_proper_num = #{user_proper_num} 
		and t5.aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</select>

	<!-- 사용자 신청 상세 가져오기 -->
	<select id="usermypage_getapplicationdetail5">
		select
		t9.file_type,
		t9.file_code,
		t9.original_file_name
		
		from TB_005 as t5
		left join TB_009 as t9
		on t5.aplcn_dtls_proper_num = t9.aplcn_dtls_proper_num
		
		where t5.user_proper_num = #{user_proper_num} 
		and t5.aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</select>

	<!-- 사용자 신청 상세 가져오기 -->
	<select id="usermypage_getapplicationdetail6">
		select 
		trial_fcltt_clasifi_code, 
		trial_fcltt_sbcls_code
		
		from TB_010
		
		where trial_fcltt_proper_num =
		
		(select 
		t10.trial_fcltt_proper_num
		
		from TB_005 t5
		left join TB_010 t10
		on t5.trial_fcltt_proper_num = t10.trial_fcltt_proper_num
		
		where user_proper_num = #{user_proper_num} and aplcn_dtls_proper_num = #{aplcn_dtls_proper_num})
	</select>
	
	<!-- 사용자 신청 상세 가져오기 -->
	<select id="usermypage_getapplicationdetail7">
		select 
		court_name
		
		from TB_005 as t5
		left join TB_011 as t11
		on t5.court_proper_num = t11.court_proper_num
		
		where user_proper_num = #{user_proper_num} 
		and aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</select>

	<!-- 사용자 활동 총합구하기 -->
	<select id="usermypage_activity_gettotal">
		select count(*) as total
		from TB_012
		where user_proper_num = #{user_proper_num}
		<if test="cri.judgement_num != '' and cri.judgement_num != null">
			and judgement_num like concat('%', #{cri.judgement_num},
			'%')
		</if>
		<if
			test="cri.act_complete_yn != '' and cri.act_complete_yn != null">
			and act_complete_yn like concat('%', #{cri.act_complete_yn},
			'%')
		</if>
		<if
			test="cri.chosen_startdate != '' and cri.chosen_startdate != null">
			<![CDATA[and chosen_date >= #{cri.chosen_startdate}]]>
		</if>
		<if test="cri.chosen_enddate != '' and cri.chosen_enddate != null">
			<![CDATA[and chosen_date <= #{cri.chosen_enddate}]]>
		</if>
		<if
			test="cri.attendance_startdate != '' and cri.attendance_startdate != null">
			<![CDATA[and attendance_date >= #{cri.attendance_startdate}]]>
		</if>
		<if
			test="cri.attendance_enddate != '' and cri.attendance_enddate != null">
			<![CDATA[and attendance_date <= #{cri.attendance_enddate}]]>
		</if>
	</select>

	<!-- 사용자 활동 목록 구하기 -->
	<select id="usermypage_activity_getlist">
		select *,
		CONVERT(chosen_date, CHAR) AS chosen_date_as_varchar,
		CONVERT(attendance_date, CHAR) AS attendance_date_as_varchar
		from
		TB_012
		where user_proper_num =
		#{user_proper_num}

		<if test="cri.judgement_num != '' and cri.judgement_num != null">
			and judgement_num like concat('%', #{cri.judgement_num},
			'%')
		</if>
		<if
			test="cri.act_complete_yn != '' and cri.act_complete_yn != null">
			and act_complete_yn like concat('%', #{cri.act_complete_yn},
			'%')
		</if>
		<if
			test="cri.chosen_startdate != '' and cri.chosen_startdate != null">
			<![CDATA[and chosen_date >= #{cri.chosen_startdate}]]>
		</if>
		<if test="cri.chosen_enddate != '' and cri.chosen_enddate != null">
			<![CDATA[and chosen_date <= #{cri.chosen_enddate}]]>
		</if>
		<if
			test="cri.attendance_startdate != '' and cri.attendance_startdate != null">
			<![CDATA[and attendance_date >= #{cri.attendance_startdate}]]>
		</if>
		<if
			test="cri.attendance_enddate != '' and cri.attendance_enddate != null">
			<![CDATA[and attendance_date <= #{cri.attendance_enddate}]]>
		</if>

		order by act_proper_num desc

		limit #{cri.pageStart},
		#{cri.amount}
	</select>

	<!-- 사용자 활동 상세 가져오기 -->
	<select id="usermypage_getactivitydetail">
		select *,
		CONVERT(chosen_date, CHAR) AS
		chosen_date_as_varchar,
		CONVERT(attendance_date, CHAR) AS
		attendance_date_as_varchar
		from TB_012
		where user_proper_num =
		#{user_proper_num} and
		act_proper_num =
		#{act_proper_num}
	</select>

	<!-- 사용자 활동 상세 주변 가져오기 -->
	<select id="usermypage_getnearactivitydetail">

	</select>

	<!-- 사용자 중지 리스트 총합구하기 -->
	<select id="usermypage_pausetotal">
		select count(*) as total
		from TB_014
		where
		user_proper_num = #{user_proper_num}
	</select>

	<!-- 사용자 중지 리스트 가져오기 -->
	<select id="usermypage_pauselist">
		select *,
		CONVERT(accept_date, CHAR) AS
		accept_date_as_varchar
		from
		TB_014
		where user_proper_num =
		#{user_proper_num}

		order by accept_proper_num desc

		limit
		#{cri.pageStart},
		#{cri.amount}
	</select>

	<!-- 사용자 중지 상세 가져오기 -->
	<select id="usermypage_getpausedetail">
		select *
		from TB_014
		where user_proper_num =
		#{user_proper_num}
		and accept_proper_num = #{accept_proper_num}
	</select>

	<!-- 사용자 중지 신청 -->
	<update id="usermypage_pauseapplication">
		update TB_014
		set accept_act_yn = 'N'
		where
		accept_proper_num = #{accept_proper_num}
		and user_proper_num =
		#{user_proper_num}
	</update>

	<!-- 사용자 해제 신청 -->
	<update id="usermypage_cancelapplication">
		update TB_014
		set accept_act_yn = 'Y'
		where
		accept_proper_num = #{accept_proper_num}
		and user_proper_num =
		#{user_proper_num}
	</update>

</mapper>